[class*=mark-]{
	display:grid;
	grid-auto-columns:minmax(0, max-content);
	grid-auto-flow:column;
	grid-auto-rows:max-content;
}
[class*=mark-]>*{
	display:flex;
	place-items:flex-start;
	word-break:break-all;
}
[class*=mark-].mark-direction{
	grid-auto-columns:1fr;
	grid-auto-flow:row;
}
[class*=mark-].mark-direction>*{
	width:100%;
}
[class*=mark-]>*>.part-marker{
	display:flex;
	place-items:center;
}
[class*=mark-]>*>.part-marker:before{
	content:"";
}
[class*=mark-]>.part-no-marker>.part-marker{
	display:none;
}
[class*=mark-h-bar]>*{
	align-items:center;
	flex-direction:column;
}
[class*=mark-num]{
	counter-reset:item-num;
}
[class*=mark-num]>*{
	counter-increment:item-num;
}
[class*=mark-num]>* .part-marker:before{
	place-content:center;
	place-items:center;
	text-align:center;
	white-space:nowrap;
}
[class*=mark-arrow]>*>.part-marker:before{
	background-color:transparent;
}
[class*=mark-]>*>.part-content{
	width:100%;
}