/* No Data */
	.no-data {display:flex; flex-direction:column; place-items:center; place-content:center; height:var(--h, 100%); text-align:center;}

@media all and (max-width:720px) {
	.no-data {height:var(--m-h, var(--h, 100%));}
}