/* Bullet */
	/* Default */
		[class*="bul-"] {display:flex; flex-direction:var(--flex-direction, column); color:var(--bul-ft-c, var(--ft-c));}
		[class*="bul-"] > * {display:flex; gap:var(--bul-gap, 10px); max-width:100%; word-break:break-all;}
		[class*="bul-"] > *:before {content:"";}

	/* Figure */
		[class*="bul-cir"] > *:before,
		[class*="bul-squ"] > *:before,
		[class*="bul-hyp"] > *:before {flex:0 0 var(--bul-w, 0.5em); background-color:var(--bul-c, var(--bul-ft-c, var(--ft-c))); width:var(--bul-w, 0.5em);}

		[class*="bul-cir"] > *:before,
		[class*="bul-squ"] > *:before {height:var(--bul-w, var(--bul-h, 0.5em)); translate:0 calc((var(--txt-lh, var(--init-line-height)) * 1em - var(--bul-w, 0.5em)) / 2);}

		[class*="bul-hyp"] > *:before {height:var(--bul-h, 1px); translate:0 calc((var(--txt-lh, var(--init-line-height)) * 1em - var(--bul-h, 1px)) / 2);}

		[class*="bul-cir"] > *:before {border-radius:50%;}

	/* Number */
		[class*="bul-num"] {counter-reset:list-num;}
		[class*="bul-num"] > *:before {counter-increment:list-num; content:counter(list-num)". "; font-size:var(--bul-w, var(--ft-s)); color:var(--bul-c, var(--ft-c))}

@media all and (max-width:720px) {
	/* Default */
		[class*="bul-"] {flex-direction:var(--m-flex-direction, var(--flex-direction, column));}
		[class*="bul-"] > * {gap:var(--m-bul-gap, var(--bul-gap, 10px));}

	/* Figure */
		[class*="bul-cir"] > *:before,
		[class*="bul-squ"] > *:before,
		[class*="bul-hyp"] > *:before {flex:0 0 var(--m-bul-w, var(--bul-w, 0.5em)); background-color:var(--m-bul-c, var(--bul-c, var(--ft-c, black))); width:var(--m-bul-w, var(--bul-w, 0.5em));}

		[class*="bul-cir"] > *:before,
		[class*="bul-squ"] > *:before {height:var(--m-bul-w, var(--bul-w, var(--bul-h, 0.5em))); translate:0 calc((var(--m-txt-lh, var(--txt-lh, var(--init-line-height))) * 1em - var(--m-bul-w, var(--bul-w, 0.5em))) / 2);}

		[class*="bul-hyp"] > *:before {height:var(--m-bul-h, var(--bul-h, 1px)); translate:0 calc((var(--m-txt-lh, var(--txt-lh, var(--init-line-height))) * 1em - var(--m-bul-w, var(--bul-w, 1px))) / 2);}

	/* Number */
		[class*="bul-num"] > *:before {font-size:var(--m-bul-w, var(--bul-w, var(--ft-s)));}
}