/* Text Type */
	[class*="form-txt"] {
		background:var(--form-bg, var(--fom-bg));
		border:1px solid var(--form-bd-c, var(--fom-bdr-c));
		border-radius:var(--form-bd-r, var(--fom-br));
		width:var(--form-w, 100%);
		height:var(--form-h, var(--fom-h));
		padding:0 var(--form-pad-x, var(--fom-pad));
		font-size:var(--form-ft-s, var(--fom-fs));
		color:var(--form-ft-c, var(--fom-fc));
		transition:border-color var(--trans-dft);
	}

	/*[class*="form-txt"] input {background:cornflowerblue; min-width:1em; width:auto; max-width:100%;}*/

	/*
	[class*="form-txt"].focused,
	[class*="form-txt"]:hover,
	[class*="form-txt"][divide] input:focus,
	[class*="form-txt"][divide] input:hover {border-color:var(--fom-fcs-brd-c); transition:border-color var(--trans-dft);}
	[class*="form-txt"] .txt-label {transition:all .1s ease; position:absolute; left:var(--fom-pad); top:50%; transform:translate(0, -50%)}
	[class*="form-txt"].focused .txt-label,
	[class*="form-txt"].active .txt-label {transition:all .1s ease; top:25%; font-size:60%; transform:translate(0, -75%)}
	[class*="form-txt"][disabled],
	[class*="form-txt"][disabled][divide] input {background-color:var(--dis-bg); border-color:var(--dis-bdr); color:var(--fom-ph); pointer-events:none; cursor:auto;}
	[class*="form-txt"][disabled] {color:inherit;}
	[class*="form-txt"][disabled][divide] {background:none; color:inherit;}*/

