/* Text Type */
	/* Default */
		[class*="form-txt"] {
			background:var(--form-bg-c, var(--fom-bg));
			border:1px solid var(--form-bd-c, var(--fom-bdr-c));
			border-radius:var(--form-bd-r, var(--fom-br));
			width:var(--form-w, 100%);
			height:var(--form-h, var(--fom-h));
			padding:0 var(--form-pd-x, var(--fom-pad));
			font-size:var(--form-ft-s, var(--fom-fs));
			color:var(--form-ft-c, var(--fom-fc));
			transition:border-color var(--trans-dft);
		}

	/* Focus */
		[class*="form-txt"]:has(input:focus) {border-color:var(--form-focus-bd-c, var(--fom-fcs-brd-c)); transition:border-color var(--trans-dft);}

	/* Disabled */
		[class*="form-txt"]:has(input:disabled) {background-color:var(--form-dis-bg-c, var(--dis-bg)); border-color:var(--form-dis-bd-r, var(--dis-bdr)); color:var(--form-dis-ft-c, var(--fom-ph)); pointer-events:none; cursor:auto;}

	/* Float Label */
		[class*="form-txt"][data-pc-name="floatlabel"] {position:relative;}
		[class*="form-txt"][data-pc-name="floatlabel"] label {
			position: absolute;
			left: var(--form-pd-x, var(--fom-pad));
			top: 50%;
			transform: translateY(-50%);
			line-height: 1;
			transition: var(--trans-dft);
			cursor: auto;
		}
		[class*="form-txt"][data-pc-name="floatlabel"]:has(input:focus, input[value]) label { top: 0; font-size: 0.75em; transform: translateY(-1.2em); }
		[class*="form-txt"][data-pc-name="floatlabel"][data-float-label="in"] input {padding-top:0.75em;}
		[class*="form-txt"][data-pc-name="floatlabel"][data-float-label="in"]:has(input:focus, input[value]) label { transform: translateY(0.2em); }
		[class*="form-txt"][data-pc-name="floatlabel"][data-float-label="on"]:has(input:focus, input[value]) label { background:white; transform: translateY(-0.5em); }

