/* Backgroud */
	[style*="--bg"] { background-color:var(--bg); }

/* Border */
	[style*="--bd-w"] { border-width:var(--bd-w); }
	[style*="--bd-s"] { border-style:var(--bd-s); }
	[style*="--bd"] { border-width:var(--bd-w, 1px); border-color: var(--bd, black); border-style:var(--bd-s, solid); }
	[style*="--bd-r"] { border-radius:var(--bd-r); }

/* Width & Height */
	[style*="--w"] { width: var(--w); }
	[style*="--h"] { height: var(--h); }

/* Style Initialize */
	[style] > [style],
	[style] + [style] {
		/* Backgroud */
			--bg: initial;

		/* Border */
			--bd: initial; --bd-w: initial; --bd-s: initial; --bd-r: initial;

		/* Width & Height */
			--w: initial; --h: initial;
	}

@media all and (max-width:720px) {
	/* Width & Height */
		[style*="--m-w"] { width: var(--m-w); }
		[style*="--m-h"] { height: var(--m-h); }
}