[style*="--grid-col"] { grid-column: span var(--grid-col); }
[style*="--grid-t-col"] { grid-template-columns: repeat(var(--grid-t-col), 1fr); }

@media (max-width: 720px) {
	[style*="--m-grid-col"] { grid-column: span var(--m-grid-col); }
	[style*="--m-grid-t-col"] { grid-template-columns: repeat(var(--m-grid-t-col), 1fr); }
}
