/* Color */
	.p-colorpicker { display: inline-block; position: relative; }
	.p-colorpicker-dragging { cursor: pointer; }

	.p-colorpicker-preview { width: var(--p-colorpicker-preview-width); height: var(--p-colorpicker-preview-height); padding: 0; border: 0 none; border-radius: var(--p-colorpicker-preview-border-radius); transition: background var(--p-colorpicker-transition-duration), color var(--p-colorpicker-transition-duration), border-color var(--p-colorpicker-transition-duration), outline-color var(--p-colorpicker-transition-duration), box-shadow var(--p-colorpicker-transition-duration); outline-color: transparent; cursor: pointer; }
	.p-colorpicker-preview:disabled { cursor: default; }
	.p-colorpicker-preview:enabled:focus-visible { border-color: var(--p-colorpicker-preview-focus-border-color); box-shadow: var(--p-colorpicker-preview-focus-ring-shadow); outline: var(--p-colorpicker-preview-focus-ring-width) var(--p-colorpicker-preview-focus-ring-style) var(--p-colorpicker-preview-focus-ring-color); outline-offset: var(--p-colorpicker-preview-focus-ring-offset); }

	.p-colorpicker-panel { background: #222; border: 1px solid #222; border-radius: 4px; width: 193px; height: 166px; position: absolute; top: 0; left: 0; }
	.p-colorpicker-panel-inline { position: static; }

	.p-colorpicker-content { position: relative; }
	.p-colorpicker-color-selector { width: 150px; height: 150px; position: absolute; inset-block-start: 8px; inset-inline-start: 8px; }
	.p-colorpicker-color-background { width: 100%; height: 100%; background: linear-gradient(to top, #000 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(to right, #fff 0%, rgba(255, 255, 255, 0) 100%); }
	.p-colorpicker-color-handle { position: absolute; inset-block-start: 0px; inset-inline-start: 150px; border-radius: 100%; width: 10px; height: 10px; border-width: 1px; border-style: solid; margin: -5px 0 0 -5px; cursor: pointer; opacity: 0.85; border-color: var(--p-colorpicker-handle-color); }

	.p-colorpicker-hue { width: 17px; height: 150px; position: absolute; inset-block-start: 8px; inset-inline-start: 167px; opacity: 0.85; background: linear-gradient(0deg, red 0%, #ff0 17%, #0f0 33%, #0ff 50%, #00f 67%, #f0f 83%, red); }
	.p-colorpicker-hue-handle { position: absolute; inset-block-start: 150px; inset-inline-start: 0px; background-color: rgba(0, 0, 0, 0.5); width: 21px; height: 10px; border-width: 2px; border-style: solid; opacity: 0.85; cursor: pointer; border-color: var(--p-colorpicker-handle-color); margin-inline-start: -2px; margin-block-start: -5px; }

/* Date Picker */
	[class*="form-txt-date"] { height: auto; padding: 0; }
	[class*="form-txt-date"] .part-icon:after { content: ""; background-image: var(--ic-c); background-position: var(--bp-300) var(--bp-input); background-size: var(--bg-sz); }
	[class*="form-txt-date"] .part-wrap + * { min-width: auto !important; width: 100%; }
	[class*="form-txt-date"] .part-wrap[data-state="open"] + * { z-index: 1 !important; }

	/* jQuery UI Datepicker */
	[class*="form-txt-date"] .ui-datepicker-trigger { position: absolute; right: 0; bottom: 0; width: var(--form-h); height: var(--form-h); text-indent: -1000vw; }
	[class*="form-txt-date"] .ui-datepicker-trigger:before { content: ""; opacity: 0.5; position: absolute; left: 50%; top: 50%; background: var(--ic-c); background-position: var(--bp-300) var(--bp-input); background-size: var(--bg-sz); width: 18px; height: 19px; transform: translate(-50%, -50%); }
	[class*="form-txt-date"] input:focus + .ui-datepicker-trigger:before,
	[class*="form-txt-date"] .ui-datepicker-trigger:focus:before { opacity: 1; }

	.ui-datepicker { background:white; border:1px solid var(--mc);}
	.ui-datepicker .ui-datepicker-header { padding: 0; }
	.ui-datepicker .ui-datepicker-title { margin: 0; font-size: 16px; line-height: 48px; color: #2d2d2d; }
	.ui-datepicker .ui-datepicker-prev,
	.ui-datepicker .ui-datepicker-next { display: flex; place-items: center; place-content: center; top: 50%; border: 1px solid #e8e8e8; border-radius: 50%; width: 20px; height: 20px; translate: 0 -50%; cursor: pointer; }
	.ui-datepicker .ui-datepicker-prev { left: 40px; }
	.ui-datepicker .ui-datepicker-next { right: 40px; }
	.ui-datepicker .ui-datepicker-prev:before,
	.ui-datepicker .ui-datepicker-next:before { content:""; background-image: var(--ic-c); background-position: var(--bp-150) var(--bp-datepicker); background-size: var(--bg-sz); width: 6px; height: 10px; }
	.ui-datepicker .ui-datepicker-next:before { rotate: 180deg; }
	.ui-datepicker .ui-datepicker-calendar { height: 153px; color: #767676; }
	.ui-datepicker .ui-datepicker-calendar th { height: 29px; padding: 0; font-weight: 400; }
	.ui-datepicker .ui-datepicker-calendar td { padding: 0; }
	.ui-datepicker .ui-datepicker-calendar td a { display: flex; place-items: center; place-content: center; width: 24px; line-height: 24px; margin: 0 auto; padding: 0; text-align: center; }
	.ui-datepicker .ui-datepicker-calendar td a.ui-state-active { background: var(--moc); border-radius: 50%; color: white; }
	.ui-datepicker th:first-child,
	.ui-datepicker td:first-child { color: red; }

/* Range */
	[class*="form-range"] { border: 0; }
	[class*="form-range"][disabled] { background: none; }
	[class*="form-range"] input[type="range"]::-webkit-slider-runnable-track { transition: background-color var(--trans-dft); }
	[class*="form-range"] input[type="range"]::-webkit-slider-thumb { transition: background-color var(--trans-dft); }
	[class*="form-range"] input[type="range"]:disabled::-webkit-slider-runnable-track { transition: background-color var(--trans-dft); }
	[class*="form-range"] input[type="range"]:disabled::-webkit-slider-thumb { transition: background-color var(--trans-dft); }