@media all and (max-width: 768px) {
	/* Initialize */
		[class*="form-color"] {
			--m-form-bd-s: solid;
			--m-form-bd-w: 1px;
			--m-form-bd-c: var(--fom-bdr-c);
			--m-form-bd-r: var(--fom-br);
			--m-form-h: var(--form-h);
			--m-form-dis-bg-c: var(--form-dis-bg-c);
		}

		[class*="form-txt-date"] {
			--m-form-h: var(--form-h);
			--m-form-pad-x: var(--form-pad-x);
			--m-form-icon-w: 3.33vw;
			--m-form-icon-h: 3.89vw;
		}

		[class*="form-txt-date"] [class*="calendar-type"] { margin-top: var(--m-form-bd-w); }

		.p-datepicker-panel {
			--m-form-pad-x: var(--form-pad-x);
		}

		[class*="form-range"] {
			--m-form-rg-bg-c: var(--form-rg-bg-c);
			--m-form-rg-size: var(--form-rg-size);
			--m-form-rg-icon-bg-c: var(--form-rg-icon-bg-c);
			--m-form-rg-icon-size: var(--form-rg-icon-size);

			--m-form-dis-bg-c: var(--form-dis-bg-c);
			--m-form-dis-bd-r: var(--form-dis-bd-r);
		}

	/* Color */
		[class*="form-color"] input {
			border: var(--m-form-bd-w) var(--m-form-bd-s) var(--m-form-bd-c);
			border-radius: var(--m-form-bd-r);
			width: var(--m-form-h);
			height: var(--m-form-h);
		}

		[class*="form-color"] .p-colorpicker-preview:disabled {
			background-color: var(--m-form-dis-bg-c) !important;
		}

	/* Datepicker */
		[class*="form-txt-date"] {
			min-height: var(--m-form-h);
		}

		[class*="form-txt-date"] input {
			padding-inline: var(--m-form-pad-x);
		}

		[class*="form-txt-date"] .p-datepicker-dropdown {
			flex: 0 0 var(--m-form-h);
		}

		[class*="form-txt-date"] .p-datepicker-dropdown:after {
			width: var(--m-form-icon-w); height: var(--m-form-icon-h);
		}

	/* Range */
		[class*="form-range"] input[type="range"]::-webkit-slider-runnable-track {
			background: var(--m-form-rg-bg-c);
			height: var(--m-form-rg-size);
		}

		[class*="form-range"] input[type="range"]::-webkit-slider-thumb {
			background: var(--m-form-rg-icon-bg-c);
			width: var(--m-form-rg-icon-size);
			height: var(--m-form-rg-icon-size);
			transform: translate(0, calc(-50% + calc(var(--m-form-rg-size) / 2)));
		}

		[class*="form-range"] input[type="range"]:disabled::-webkit-slider-runnable-track {
			background: var(--m-form-dis-bg-c);
		}

		[class*="form-range"] input[type="range"]:disabled::-webkit-slider-thumb {
			background: var(--m-form-dis-bd-r);
		}
}