/* Scroll */
	[data-scroll] { overflow: auto; }
	[data-scroll] > * { flex-wrap: nowrap; word-break: keep-all; }
	[data-scroll="y"],
	[data-scroll="yh"] { overflow-x: hidden; overflow-y: auto; height: var(--h, 100%); }
	[data-scroll="x"],
	[data-scroll="xh"] { overflow-x: auto; overflow-y: hidden; width: var(--w, 100%); white-space: nowrap; }
	[data-scroll="h"] { width: var(--w, 100%); height: var(--h, 100%); }

	[data-scroll="h"]::-webkit-scrollbar,
	[data-scroll="xh"]::-webkit-scrollbar,
	[data-scroll="yh"]::-webkit-scrollbar { width: 0; height: 0; border-radius: 0; }
	[data-scroll="h"]::-webkit-scrollbar-thumb,
	[data-scroll="xh"]::-webkit-scrollbar-thumb,
	[data-scroll="yh"]::-webkit-scrollbar-thumb { width: 0; border-radius: 0; }
	[data-scroll="h"]::-webkit-scrollbar-track,
	[data-scroll="xh"]::-webkit-scrollbar-track,
	[data-scroll="yh"]::-webkit-scrollbar-track { border-radius: 0; }

@media screen and (max-width: 720px) {
	/* Scroll */
		[data-scroll="y"],
		[data-scroll="yh"] { height: var(--m-h, var(--h, 100%)); }
		[data-scroll="x"],
		[data-scroll="xh"] { width: var(--m-w, var(--w, 100%)); }
		[data-scroll="h"] { width: var(--m-w, var(--w, 100%)); height: var(--m-h, var(--h, 100%)); }
}