/* Swiper */
	/* Default */
		[class*="swiper-type"] { position: relative; }
		[class*="swiper-type"] .swiper { width: 100%; height: 100%; }
		[class*="swiper-type"] .swiper,
		[class*="swiper-type"] .swiper-thumbs { overflow: hidden; max-height: 100dvh; }
		[class*="swiper-type"] .swiper-wrapper { flex-wrap: nowrap; }
		[class*="swiper-type"] .swiper.swiper-grid { max-width: none; max-height: none; }
		[class*="swiper-type"] .swiper-slide { overflow: hidden; height: auto; }

		/* Navigation */
			[class*="swiper-type"] .swiper-nav-wrap { display: flex; place-content: space-between; position: absolute; left: 0; top: 50%; width: 100%; height: 0; font-size: 0; translate: 0 -50%; z-index: 1; }
			[class*="swiper-type"] .swiper-nav-wrap > * { position: static; margin: 0; translate: 0 -50%; cursor: pointer; }
			[class*="swiper-type"] .swiper-nav-wrap > *:after { content:""; display: block; background-image: var(--ic-c); background-size: var(--bg-sz); }
			[class*="swiper-type"] .swiper-nav-wrap > .swiper-button-next:after { rotate: 180deg; }

		/* Pagenation */
			.swiper-pagination { display: flex; justify-content: center; gap: 4px; position: absolute; z-index: 1; }
			.swiper-pagination .swiper-pagination-vertical { flex-direction: column; left: auto; }
			.swiper-pagination .swiper-pagination-bullet { opacity: 0.5; position: static; display: inline-block; margin: 0; }
			.swiper-pagination .swiper-pagination-bullet-active { opacity: 1; }
			.swiper-pagination .swiper-pagination-bullets-dynamic { display: block; }

		/* Scrollbar */
			/*[class*="swiper-type"] .swiper-scrollbar-vertical { left: auto; }*/

	/* Variation */
		[class*="swiper-type"] { width: var(--swiper-w, 100%); height: var(--swiper-h, auto); }

/* Temp */
@media all and (max-width: 768px) {
	[class*="swiper-type"] { width: var(--m-swiper-w, var(--swiper-w)); height: var(--m-swiper-h, var(--swiper-h)); }
}