/* Toast */
	/* Default */
		[class*="toast-type"] { translate: -50% 0; text-align: center; }

	/* Variation */
		[class*="toast-type"] .p-toast-message {
			background-color: var(--toast-bg-c);
			border-radius: var(--toast-bd-r);
			width: var(--toast-w);
			padding: var(--toast-pd-t, var(--toast-pd-y, var(--toast-pd-a, 0)))
				var(--toast-pd-r, var(--toast-pd-x, var(--toast-pd-a, 0)))
				var(--toast-pd-b, var(--toast-pd-y, var(--toast-pd-a, 0)))
				var(--toast-pd-l, var(--toast-pd-x, var(--toast-pd-a, 0)));
			font-size: var(--toast-ft-s);
			color: var(--toast-ft-c);
		}

@media all and (max-width: 720px) {
	/* Default */
		[class*="toast-type"] { --toast-w: 100dvw; --toast-pd-x: 5vw; left: 0 !important; translate: 0; }
		[class*="toast-type"] .p-toast-message {
			background-color: var(--m-toast-bg-c, var(--toast-bg-c));
			border-radius: var(--m-toast-bd-r, var(--toast-bd-r));
			width: var(--m-toast-w, var(--toast-w));
			padding: var(--m-toast-pd-t, var(--m-toast-pd-y, var(--m-toast-pd-a, var(--toast-pd-t, var(--toast-pd-y, var(--toast-pd-a, 0))))))
				var(--m-toast-pd-r, var(--m-toast-pd-x, var(--m-toast-pd-a, var(--toast-pd-r, var(--toast-pd-x, var(--toast-pd-a, 0))))))
				var(--m-toast-pd-b, var(--m-toast-pd-y, var(--m-toast-pd-a, var(--toast-pd-b, var(--toast-pd-y, var(--toast-pd-a, 0))))))
				var(--m-toast-pd-l, var(--m-toast-pd-x, var(--m-toast-pd-a, var(--toast-pd-l, var(--toast-pd-x, var(--toast-pd-a, 0))))));
			font-size: var(--m-toast-ft-s, var(--toast-ft-s));
			color: var(--m-toast-ft-c, var(--toast-ft-c));
		}
}