/* Tooltip */
	/* Default */
		[class*="t-tip"] { position: absolute; cursor: pointer; }
		[class*="t-tip"] .p-tooltip-arrow { position: absolute; }
		[class*="t-tip"] .p-tooltip-arrow:before { content: ""; position: absolute; background-image: var(--ic-c); background-size: var(--bg-sz); background-position: var(--bp-150) var(--bp-600); }

	/* Left */
		[class*="t-tip"].p-tooltip-left .p-tooltip-arrow { rotate: 90deg; }

	/* Right */
		[class*="t-tip"].p-tooltip-right .p-tooltip-arrow { rotate: -90deg; }


	/* Variation */
		/* Wrap */
			[class*="t-tip"] {
				background-color: var(--tip-bg-c, white);
				border: var(--tip-bd-w, 0) solid var(--tip-bd-c);
				border-radius: var(--tip-bd-r, 0);
				box-shadow: 0 0 var(--tip-sha-size) rgba(0, 0, 0, var(--tip-sha-opa));
				padding: var(--tip-pd-t, var(--tip-pd-y, var(--tip-pd)))
					var(--tip-pd-r, var(--tip-pd-x, var(--tip-pd)))
					var(--tip-pd-b, var(--tip-pd-y, var(--tip-pd)))
					var(--tip-pd-l, var(--tip-pd-x, var(--tip-pd)));
				font-size: var(--tip-ft-s);
			}

		/* Arrow */
			[class*="t-tip"] .p-tooltip-arrow { width: var(--tip-arrow-w); height: var(--tip-arrow-h); }
			[class*="t-tip"] .p-tooltip-arrow:before { background-color: transparent; width: var(--tip-arrow-w); height: var(--tip-arrow-h); }

		/* Left */
			[class*="t-tip"].p-tooltip-left { margin-left: calc(var(--tip-gap, 20px) * -1); }
			[class*="t-tip"].p-tooltip-left .p-tooltip-arrow { translate: var(--tip-arrow-h) -50%; }

		/* Right */
			[class*="t-tip"].p-tooltip-right { margin-left: var(--tip-gap, 20px); }
			[class*="t-tip"].p-tooltip-right .p-tooltip-arrow { translate: calc(var(--tip-arrow-h) * -1) -50%; }

		/* Bottom */
			[class*="t-tip"].p-tooltip-bottom { margin-top: var(--tip-gap, 20px); }
			[class*="t-tip"].p-tooltip-bottom .p-tooltip-arrow { translate: -50% calc(var(--tip-arrow-h) * -1); }

@media all and (max-width: 720px) {
	/* Wrap */
		[class*="t-tip"] {
			position: fixed;
			left: 50% !important;
			top: 50% !important;
			background-color: var(--m-tip-bg-c, var(--tip-bg-c, white));
			border: var(--m-tip-bd-w, var(--tip-bd-w, 0)) solid var(--m-tip-bd-c, var(--tip-bd-c));
			border-radius: var(--m-tip-bd-r, var(--tip-bd-r, 0));
			box-shadow: 0 0 var(--m-tip-sha-size, var(--tip-sha-size)) rgba(0, 0, 0, var(--m-tip-sha-opa, var(--tip-sha-opa)));
			width: calc(100dvw - (var(--m-init-layout-padding) + var(--m-init-layout-padding))) !important;
			padding: var(--m-tip-pd-t, var(--m-tip-pd-y, var(--m-tip-pd-a, var(--tip-pd-t, var(--tip-pd-y, var(--tip-pd-a, 0))))))
				var(--m-tip-pd-r, var(--m-tip-pd-x, var(--m-tip-pd-a, var(--tip-pd-r, var(--tip-pd-x, var(--tip-pd-a, 0))))))
				var(--m-tip-pd-b, var(--m-tip-pd-y, var(--m-tip-pd-a, var(--tip-pd-b, var(--tip-pd-y, var(--tip-pd-a, 0))))))
				var(--m-tip-pd-l, var(--m-tip-pd-x, var(--m-tip-pd-a, var(--tip-pd-l, var(--tip-pd-x, var(--tip-pd-a, 0))))));
			font-size: var(--m-tip-ft-s, var(--tip-ft-s));
			translate: -50% -50% !important;
		}

	[class*="t-tip"] .p-tooltip-arrow { display: none; }
}

/* Old */
[class*="tooltip-"] { opacity:1;  text-align:left; position: relative; word-break:break-all; z-index:50; line-height: 1.5;word-break: keep-all;height: 22px;}
[class*="tooltip-"] .ttip-wrap {display:none;background:white;position: absolute;width: 370px;border: 1px solid #999;padding: 20px;border-radius: 10px; left: -173px; letter-spacing: -0.04em;font-size: 16px;font-weight: 400;color: #999;box-shadow: 0 0 10px  rgba(0,0,0,.13);}
[class*="tooltip-"] i:hover + .ttip-wrap{display: block;}
[class*="tooltip-"] .ttip-wrap::before{content: "";width: 18px;height: 13px;background: var(--ic-c);background-position: var(--bp-150) var(--bp-600);position: absolute;top: -13px; left: 50%;transform: translate(-50%);}
[class*="tooltip-"] .ttip-wrap > * {position:relative; word-break: normal; word-break: auto-phrase;}
[class*="tooltip-"].tipfe .ttip-wrap {left: revert;right: -20px;}
[class*="tooltip-"].tipfe .ttip-wrap::before {right: 10px;transform: 0;left: revert;}
[class*="tooltip-"].tips .ttip-wrap {left: -20px;}
[class*="tooltip-"].tips .ttip-wrap::before {transform: none;left: 20px;}
[class*="tooltip-"].tire .ttip-wrap { left: -30px;bottom: 40px;}
[class*="tooltip-"].tire .ttip-wrap::before {transform: rotate(180deg);left: 30px;top: unset;bottom: -13px;;}
