[class*=sha-type]{
	--sha-x:0;
	--sha-y:0;
	--sha-size:10px;
	--sha-spread:0;
	--sha-c:0, 0, 0;
	--sha-opa:0.5;
	--sha-inset:;
	box-shadow:var(--sha-inset) var(--sha-x) var(--sha-y) var(--sha-size) var(--sha-spread) rgba(var(--sha-c), var(--sha-opa));
}
[class*=sha-type-x]{
	box-shadow:none !important;
	display:inline-flex;
	--sha-c:255, 255, 255;
}
[class*=sha-type-x]:after,[class*=sha-type-x]:before{
	background:linear-gradient(to right, rgba(var(--sha-c), var(--sha-opa)) 0, transparent 100%);
	content:"";
	flex:0 0 var(--sha-size);
	pointer-events:none;
	position:sticky;
	top:0;
	width:var(--sha-size);
	z-index:1;
}
[class*=sha-type-x]:before{
	left:0;
}
[class*=sha-type-x]:after{
	right:0;
	rotate:180deg;
}
[class*=sha-type-y]{
	box-shadow:none !important;
	display:inline-flex;
	flex-direction:column;
	width:100%;
	--sha-c:255, 255, 255;
}
[class*=sha-type-y]:after,[class*=sha-type-y]:before{
	background:linear-gradient(to bottom, rgba(var(--sha-c), var(--sha-opa)) 0, transparent 100%);
	content:"";
	height:var(--sha-size);
	pointer-events:none;
	position:sticky;
	top:0;
	width:100%;
	z-index:1;
}
[class*=sha-type-y]:before{
	margin-bottom:calc(var(--sha-size)*-1);
	top:0;
}
[class*=sha-type-y]:after{
	bottom:0;
	margin-top:calc(var(--sha-size)*-1);
	rotate:180deg;
}
[class*=sha-type-b]{
	box-shadow:none !important;
	display:inline-flex;
	flex-direction:column;
	width:100%;
	--sha-c:255, 255, 255;
}
[class*=sha-type-b]:after{
	background:linear-gradient(to bottom, rgba(var(--sha-c), var(--sha-opa)) 0, transparent 100%);
	bottom:0;
	content:"";
	height:var(--sha-size);
	margin-top:calc(var(--sha-size)*-1);
	pointer-events:none;
	position:sticky;
	rotate:180deg;
	top:0;
	width:100%;
	z-index:1;
}
[class*=sha-type-inset]{
	--sha-inset:inset;
}
[class*=sha-type-x]>:first-child{
	margin-left:calc(var(--sha-size)*-1);
}
[class*=sha-type-x]>:last-child{
	margin-right:calc(var(--sha-size)*-1);
}
@media (max-width:720px){
	[class*=sha-type]{
		--m-sha-x:var(--sha-x);
		--m-sha-y:var(--sha-y);
		--m-sha-size:var(--sha-size);
		--m-sha-spread:var(--sha-spread);
		--m-sha-c:var(--sha-c);
		--m-sha-opa:var(--sha-opa);
		--m-sha-inset:var(--sha-inset);
		box-shadow:var(--m-sha-inset) var(--m-sha-x) var(--m-sha-y) var(--m-sha-size) var(--m-sha-spread) rgba(var(--m-sha-c), var(--m-sha-opa));
	}
	[class*=sha-type-inset]{
		--m-sha-inset:inset;
	}
	[class*=sha-type-x]{
		--m-sha-c:255, 255, 255;
	}
	[class*=sha-type-x]:after,[class*=sha-type-x]:before{
		background:linear-gradient(to right, rgba(var(--m-sha-c), var(--m-sha-opa)) 0, transparent 100%);
		flex:0 0 var(--m-sha-size);
		width:var(--m-sha-size);
	}
	[class*=sha-type-x]>:first-child{
		margin-left:calc(var(--m-sha-size)*-1);
	}
	[class*=sha-type-x]>:last-child{
		margin-right:calc(var(--m-sha-size)*-1);
	}
	[class*=sha-type-y]{
		--m-sha-c:255, 255, 255;
	}
	[class*=sha-type-y]:after,[class*=sha-type-y]:before{
		background:linear-gradient(to bottom, rgba(var(--m-sha-c), var(--m-sha-opa)) 0, transparent 100%);
		height:var(--m-sha-size);
	}
	[class*=sha-type-y]:before{
		margin-bottom:calc(var(--m-sha-size)*-1);
	}
	[class*=sha-type-y]:after{
		margin-top:calc(var(--m-sha-size)*-1);
	}
	[class*=sha-type-b]{
		--m-sha-c:255, 255, 255;
	}
	[class*=sha-type-b]:after{
		background:linear-gradient(to bottom, rgba(var(--m-sha-c), var(--m-sha-opa)) 0, transparent 100%);
		height:var(--m-sha-size);
		margin-top:calc(var(--m-sha-size)*-1);
	}
}