/* Debug */
	[debug] {position:relative;}
	[debug]::before {content:""; position:absolute; left:0; top:0; width:100%; height:100%; background:rgba(0, 255, 0, 0.2); pointer-events:none; z-index:99;}

/* Ellipsis */
	[ellipsis][disabled] .layout-ellipsis {display:block;}

/* Hide */
	[hide] {display:none;}

/* Position */
	[sticky] {position:sticky; left:0; top:0;}
	[sticky][bottom] {position:sticky; left:0; top:auto; bottom:0;}

/* Scroll */
	*::-webkit-scrollbar {background:var(--scr-bg1); width:var(--scr-w); height:var(--scr-w); border-radius:var(--scr-br);}
	*::-webkit-scrollbar-thumb {background:var(--scr-bg2); width:var(--scr-w); border-radius:var(--scr-br);}
	*::-webkit-scrollbar-track {border-radius:var(--scr-br);}

	[scroll] {overflow:auto; display:block;}
	[scroll="vertical"],
	[scroll="v"] {overflow-x:hidden; overflow-y:auto;}
	[scroll="horizontal"],
	[scroll="h"] {overflow-x:auto; overflow-y:hidden;}
	[scroll="hide"]::-webkit-scrollbar {width:0; height:0; border-radius:0;}
	[scroll="hide"]::-webkit-scrollbar-thumb {width:0; border-radius:0;}
	[scroll="hide"]::-webkit-scrollbar-track {border-radius:0;}