/* Bullet */
	/* Default */
		[class*="bul-"] > * {display:flex; gap:0.5em;}
		[class*="bul-"] > *:before {content:""; color:inherit;}

	/* Circle */
		[class*="bul-circle"] > *:before {flex:0 0 0.5em; background:var(--mc); border-radius:50%; width:0.5em; height:0.5em; transform:translate(0, 0.32em)}

	/* Square */
		[class*="bul-square"] > *:before {flex:0 0 0.5em; background:var(--mc); width:0.5em; height:0.5em; transform:translate(0, 0.32em);}

	/* Hyphen */
		[class*="bul-hyphen"] > *:before {content:"- "; line-height:1;}

	/* Number */
		[class*="bul-number"] {counter-reset:list-num;}
		[class*="bul-number"] > *:before {counter-increment:list-num; content:counter(list-num)". ";}