

/* Textarea */
	textarea {font-size:var(--fom-fs); color:var(--fom-fc); resize:none;}
	textarea::placeholder {color:var(--fom-ph);}
	textarea[disabled] {background:var(--dis-bg);}
	[class*="form-tarea"] {display:flex; flex-wrap:nowrap; align-items:flex-end; background:var(--fom-bg); border:1px solid var(--fom-bdr-c); border-radius:var(--fom-br); width:100%; height:var(--fom-ta-h); padding:var(--fom-pad); font-size:var(--fom-fs); line-height:var(--fom-opt-sz); color:var(--fom-fc); transition:border-color .3s ease;}
	[class*="form-tarea"][divide] {align-items:flex-start;}
	[class*="form-tarea"][divide] textarea {background:var(--fom-bg); border:1px solid var(--fom-bdr-c); border-radius:var(--fom-br); width:100%; height:var(--fom-ta-h); padding:var(--fom-pad); font-size:var(--fom-fs); line-height:var(--fom-opt-sz); color:var(--fom-fc); transition:border-color .3s ease;}
	[class*="form-tarea"] textarea {height:100%;}
	[class*="form-tarea"].focused,
	[class*="form-tarea"]:hover {border-color:var(--moc); transition:border-color .3s ease;}
	[class*="form-tarea"][disabled] {background-color:var(--dis-bg); border-color:var(--dis-bdr); color:var(--fom-ph); pointer-events:none; cursor:auto;}
	[class*="form-tarea"] .txt-limit {font-size:80%;}
