/* Viewer */
	ig-viewer,
	.viewer-wrap {overflow:auto; width:100%; height:100%;}
	.viewer-wrap .viewer-zoom {position:relative; width:100%; height:100%; transform-origin:left top;}
	.viewer-wrap .viewer-cont {position:absolute; left:50%; top:50%; background:white; width:calc(var(--view-cont-w) * 2); height:var(--view-cont-h); transform: translate(-50%, -50%) scale(1);}
	.viewer-wrap .viewer-page {display:flex; flex-wrap:wrap; width:100%; height:100%;}
	.viewer-wrap .viewer-page > * {background:white; border:0;}

/*
.viewer-wrap {flex:1; overflow:auto; width:100%; height:100%;}

.viewer-close {position:absolute; top:24px; right:24px; background:url("../images/icon.png") -500px top no-repeat; width:22px; height:22px;}

.viewer-zoom {position:relative; overflow:hidden; width:100%; height:100%; transform-origin:left top;}
.viewer-zoom.drag-active {pointer-events:none;}

.viewer-cont {position:absolute; left:50%; top:50%; background:white; width:calc(var(--cw) * 2); height:var(--ch); transform: translate(-50%, -50%) scale(1);}
.viewer-cont .page-wrap {display:flex; width:100%; height:100%;}
.viewer-cont .page-wrap iframe {flex:1; background:white; border:0;}
.viewer-cont .page-number-wrap {display:flex; position:absolute; left:0; bottom:0; justify-content:space-between; width:100%; height:64px; padding:0 76px; font-size:15px; color:#7b7a7b;}

.viewer-prev,
.viewer-next {position:absolute; top:50%; display:flex; align-items:center; justify-content:center; background:rgba(0, 0, 0, 0.5); border-radius:50%; width:50px; height:50px; transform:translate(0, -50%);}
.viewer-prev:before,
.viewer-next:before {content:""; width:9px; height:9px;}
.viewer-prev {left:20px;}
.viewer-prev:before {transform:translate(25%, 0) rotate(45deg);}
.viewer-next {right:20px;}
.viewer-next:before {transform:translate(-25%, 0) rotate(45deg);}
.viewer-prev:before {border-bottom:2px solid white; border-left:2px solid white;}
.viewer-next:before {border-top:2px solid white; border-right:2px solid white;}

.search-list {display:flex; flex-direction:column; gap:12px;}
.search-list mark {background:#dce9ff; height:18px; color:var(--st-blu);}
.search-list > * {border-radius:8px; box-shadow:var(--shadow);}
.search-list .search-link {display:flex; flex-direction:column; gap:23px; padding:20px; text-align:left;}
.search-list .search-ctgy {display:flex; align-items:center; justify-content:space-between; width:100%; font-size:14px;}
.search-list .search-ctgy:after {content:""; background-image:url("../images/icon.png"); background-position:-450px top; background-repeat:no-repeat; background-size:var(--ico-sz); width:33px; height:7px;}

.ctrl-wrap {display:flex; align-items:center; justify-content:center; background:#eee; gap:20px; border-top:1px solid #e2e2e2; width:100%; height:var(--ctrl-h);}
.ctrl-wrap input {background:none;}
.ctrl-wrap .viewer-hamburger {display:none; background:url("../images/icon.png") -200px top no-repeat; width:20px; height:20px;}
.ctrl-wrap .viewer-zoom-plus {background:url("../images/icon.png") -200px top no-repeat; width:20px; height:20px;}
.ctrl-wrap .viewer-zoom-minus {background:url("../images/icon.png") -250px top no-repeat; width:20px; height:20px;}
.ctrl-wrap .viewer-zoom-scale {background:none; width:auto; pointer-events:none;}
.ctrl-wrap .viewer-search {width:500px;}
.ctrl-wrap .viewer-search-btn {flex:0 0 20px; background-image:url("../images/icon.png"); background-position:-300px top; background-repeat:no-repeat; background-size:var(--ico-sz); width:20px; height:20px;}
.ctrl-wrap .viewer-search-del {flex:0 0 10px; background-image:url("../images/icon.png"); background-position:-350px top; background-repeat:no-repeat; background-size:var(--ico-sz); width:10px; height:10px;}
.ctrl-wrap .viewer-page-wrap {display:flex; align-items:center; gap:12px; margin-left:15px;}
.ctrl-wrap .viewer-page {width:68px;}
.ctrl-wrap .form-wrap {display:flex; align-items:center; gap:15px; background:white; border:1px solid #e2e2e2; border-radius:9px; height:28px; padding:0 20px;}*/