.aco-type-desktop,
.box-type-desktop,
.btn-type-desktop,
.chip-type-desktop,
.mark-v-bar-desktop,
.popover-type-desktop { background:red; }
.aco-type-tablet,
.box-type-tablet,
.btn-type-tablet,
.chip-type-tablet,
.mark-v-bar-tablet,
.popover-type-tablet { background:yellow; }
.aco-type-mobile,
.box-type-mobile,
.btn-type-mobile,
.chip-type-mobile,
.mark-v-bar-mobile,
.popover-type-mobile { background:blue; }

.btn-grp-type-desktop,
.calendar-type-desktop,
.form-txt-desktop,
.form-tarea-desktop,
.form-sel-desktop .part-btn,
.thumb-type-desktop,
.pop-type-desktop .part-wrap,
.swiper-type-desktop,
.tab-wrap-desktop {border:1px solid red;}
.btn-grp-type-tablet,
.calendar-type-tablet,
.form-txt-tablet,
.form-tarea-tablet,
.form-sel-tablet .part-btn,
.thumb-type-tablet,
.pop-type-tablet .part-wrap,
.swiper-type-tablet,
.tab-wrap-tablet {border:1px solid yellow;}
.btn-grp-type-mobile,
.calendar-type-mobile,
.form-txt-mobile,
.form-tarea-mobile,
.form-sel-mobile .part-btn,
.thumb-type-mobile,
.pop-type-mobile .part-wrap,
.swiper-type-mobile,
.tab-wrap-mobile {border:1px solid blue;}