/* 작업영역 */
:root {
	--ws-h: 60px;
	--ws-menu: 350px;
}

/* Workspace */
	app-root {height:100dvh;}
	.workspace {overflow:hidden; flex-wrap:nowrap;}
	.workspace-header,
	.workspace-footer {flex:0 0 var(--ws-h); background:#222; height:var(--ws-h); font-size:14px; color:white;}
	.workspace-footer {padding:0 20px;}
	.workspace-header-btn {display:flex; justify-content:center; align-items:center; flex:0 0 var(--ws-h); justify-content:center; align-items:center; width:var(--ws-h); height:var(--ws-h);}
	.workspace-header-btn:last-child {pointer-events:none;}
	.workspace-header-btn:last-child svg {display:none;}
	.workspace-view-wrap {height:100%;}

	workspace-container {display:block; flex:1; height:calc(100dvh - 120px);}
	.workspace-container {overflow:hidden; height:100%;}
	.workspace-container.active-left workspace-menu {overflow:hidden; width:0;}
	.workspace-container.active-right workspace-setting {overflow:hidden; width:0;}

	workspace-menu {height:100%;}
	.workspace-menu-wrap {padding:10px;}
	.workspace-menu-wrap,
	.workspace-setting-wrap {overflow-y:auto; gap:10px; background:#222; width:var(--ws-menu); height:100%; color:#ccc;}
	.workspace-menu .workspace-button {display:flex; align-items:center; gap:15px; width:100%; height:30px; font-size:12px; color:#ff5252;}
	.workspace-menu .workspace-button.work {color:#ffc31e;}
	.workspace-menu .workspace-button.comp {color:#3dd916;}

	workspace-view {flex:1;}
	.workspace-area {overflow:hidden; display:flex; justify-content:center; position:relative; background:#ddd; width:100%; height:100%;}
	.workspace-view-area {overflow:hidden; padding:20px; height:100%; resize:auto; margin:0 auto;}
	.workspace-view {position:relative; width:100%; height:100%; background:white; border-radius:10px; box-shadow:0px 0px 10px 1px rgba(0, 0, 0, .5);}
	.workspace-link {opacity:0; overflow:hidden; position:absolute; left:50%; top:5px; transition:border-radius .1s ease-out; background:#222; border-radius:50%; width:10px; height:10px; padding:0; font-size:12px; color:#222; transform:translate(-50%, 0); z-index:10; pointer-events:none;}
	.workspace-link.active {opacity:1; transition:opacity .3s ease; pointer-events:all;}
	.workspace-link:hover {transition:border-radius .1s ease-in; top:0; border-radius:0 0 10px 10px; width:auto; height:auto; padding:0 10px; font-size:12px; color:white;}

	workspace-setting {display:none; overflow-y:auto; background:var(--moc);}
	workspace-setting .workspace-menu,
	workspace-setting .workspace-menu .tree-type {max-width:none;}
	workspace-setting .workspace-menu {display:flex; flex-direction:column; gap:12px;}
	workspace-setting .workspace-menu .tree-type {padding:0;}
	workspace-setting .workspace-menu .tree-type summary {padding:0;}
	.workspace-setting-items {display:grid; grid-template-columns:repeat(2, 1fr); gap:12px; width:100%;}
	.workspace-setting-items li {display:flex; flex-direction: column; gap:12px; font-size:12px;}
	.workspace-form {display:flex; align-items:center; justify-content: center; gap:5px; border:1px solid #3d3d3d; padding:10px;}
	.workspace-form ig-form {width:100%;}
	.workspace-form .form-type-txt {height:30px;}
	.workspace-form input {font-size:12px;}
	/*

	.workspace-form input {border:1px solid #3d3d3d; height:30px; text-align:right;}
	.workspace-form input[readonly] {border:0;}*/

	.workspace-footer-sizemenu {gap:20px;}

	/*
	.workspace-setting-items {display:flex; flex-direction: column; gap:20px; padding:0px 15px; font-size:12px; color:white;}
	.workspace-form input {text-align:right;}
	.workspace-form input[readonly] {background:#e1b1b1;}
	.workspace-form .suffix-txt {color:white;}
	*/

	@media screen and (max-width: 1024px) {
		:root {
			--ws-h: 8vw;
		}
		.workspace {height:100dvh;}
		.workspace-header,
		.workspace-footer {font-size:2vw;}
		.workspace-header {justify-content:space-between; padding:0;}
		.workspace-header-btn {display:flex;}
		.workspace-area {width:100vw;}
		/*.workspace-container {transform:translate(calc(var(--ws-menu) * -1), 0);}*/
		.workspace-container.active-left {transform:translate(0, 0);}
		.workspace-container.active-left workspace-menu {width:auto;}
		.workspace-container.active-right {transform:translate(calc(var(--ws-menu) * 2 * -1), 0);}
		.workspace-container.active-right workspace-setting {width:auto;}

		.workspace-footer-sizemenu {display:none;}
	}