:root {
	--n4: 4px;
	--n6: 6px;
	--n8: 8px;
	--n10: 10px;
	--n12: 12px;
	--n14: 14px;
	--n16: 16px;
	--n18: 18px;
	--n20: 20px;
	--n24: 24px;
	--n28: 28px;
	--n30: 30px;
	--n32: 32px;
	--n36: 36px;
	--n40: 40px;
	--n50: 50px;
	--n60: 60px;
	--n70: 70px;
	--n80: 80px;
}

/* Color */
	/* Background */
		.bg-red {background:var(--st-red);}
		.bg-org {background:var(--st-org);}
		.bg-ylw {background:var(--st-ylw);}
		.bg-grn {background:var(--st-grn);}
		.bg-sky {background:var(--st-sky);}
		.bg-blu {background:var(--st-blu);}
		.bg-pur {background:var(--st-pur);}

		.bg-mc {background:var(--mc);}
		.bg-moc {background:var(--moc);}
		.bg-mdc {background:var(--mdc);}
		.bg-mlc {background:var(--mlc);}

		.bg-wht {background:white;}
		.bg-lgry {background:#f9f9f9;}
		.bg-lgry-02 {background:#f1f1f1;}
		.bg-lblu {background:#ecf7ff;}
		.bg-lblu-03 {background:#edf0ff;}
		.bg-lgrn {background:#f2f9e4;}
		.bg-lsky {background:#e4f8f6;}
		.bg-lpnk {background:#fdeffa;}
		.bg-lred {background:#fef0f0;}
		.bg-lorg {background:#fff7ef;}

	/* Border */
		.bd-red {border-color:var(--st-red);}
		.bd-org {border-color:var(--st-org);}
		.bd-ylw {border-color:var(--st-ylw);}
		.bd-grn {border-color:var(--st-grn);}
		.bd-sky {border-color:var(--st-sky);}
		.bd-blu {border-color:var(--st-blu);}
		.bd-pur {border-color:var(--st-pur);}

		.bd-mc {border-color:var(--mc);}
		.bd-moc {border-color:var(--moc);}
		.bd-mlc {border-color:var(--mlc);}

	/* Font Color */
		.cr-red {color:var(--st-red);}
		.cr-org {color:var(--st-org);}
		.cr-ylw {color:var(--st-ylw);}
		.cr-grn {color:var(--st-grn);}
		.cr-sky {color:var(--st-sky);}
		.cr-blu {color:var(--st-blu);}
		.cr-pur {color:var(--st-pur);}

		.cr-mc {color:var(--mc);}
		.cr-moc {color:var(--moc);}
		.cr-mlc {color:var(--mlc);}
		.cr-mdc {color:var(--mdc);}

		.cr-blk {color:black;}
		.cr-dft {color:var(--init-c);}
		.cr-wht {color:white;}
		.cr-lgry {color:#666;}

/* Ellipsis */
	[class*="elps"] {overflow:hidden; text-overflow:ellipsis; display:-webkit-box; -webkit-box-orient:vertical; -webkit-line-clamp:1;}

	.elps-2 {-webkit-line-clamp: 2;}

/* Flex Layout */
	.flex {display:flex;}
	.flex-tl {place-content:start start;}
	.flex-t {place-content:start center;}
	.flex-tr {place-content:start end;}
	.flex-r {place-content:center end;}
	.flex-rb {place-content:end end;}
	.flex-b {place-content:end center;}
	.flex-bl {place-content:end start;}
	.flex-l {place-content:center start;}
	.flex-c {place-content:center center;}

	.flex-center {align-items:center;}
	.flex-start {align-items:flex-start;}
	.flex-end {align-items:flex-end;}
	.flex-stretch {align-items:stretch;}
	.flex-baseline {align-items:baseline;}
	.flex-between {justify-content:space-between;}
	.flex-around {justify-content:space-around;}
	.flex-evenly {justify-content:space-evenly;}
	.flex-j-center {justify-content:center;}
	.flex-j-start {justify-content:flex-start;}
	.flex-j-end {justify-content:flex-end;}

	.align-center {align-items:center;}
	.align-start {align-items:flex-start;}
	.align-end {align-items:flex-end;}
	.align-stretch {align-items:stretch;}
	.align-baseline {align-items:baseline;}

	.justify-between {justify-content:space-between;}
	.justify-around {justify-content:space-around;}
	.justify-evenly {justify-content:space-evenly;}
	.justify-center {justify-content:center;}
	.justify-start {justify-content:flex-start;}
	.justify-end {justify-content:flex-end;}

	.flex-row {flex-direction:row;}
	.flex-col {flex-direction:column;}
	.flex-row-r {flex-direction:row-reverse;}
	.flex-col-r {flex-direction:column-reverse;}

	.flex-1 {flex:1;}
	.flex-wrap {flex-wrap:wrap;}

/* Font */
	/* Line Height */
		.lh-1 {line-height:1;}

	/* Size */
		.fs-14 {font-size:var(--n14);}
		.fs-16 {font-size:var(--n16);}
		.fs-18 {font-size:var(--n18);}
		.fs-24 {font-size:var(--n24);}
		.fs-28 {font-size:var(--n28);}
		.fs-32 {font-size:var(--n32);}
		.fs-40 {font-size:var(--n40);}

	/* Weight */
		.fw-n {font-weight:400;}
		.fw-m {font-weight:500;}

	/* ETC */
		.wb-keep {word-break:keep-all;}
		.ws-nw {white-space:nowrap;}

/* Gap */
	.gap-4 {gap:var(--n4);}
	.gap-6 {gap:var(--n6);}
	.gap-8 {gap:var(--n8);}
	.gap-10 {gap:var(--n10);}
	.gap-12 {gap:var(--n12);}
	.gap-16 {gap:var(--n16);}
	.gap-18 {gap:var(--n18);}
	.gap-20 {gap:var(--n20);}
	.gap-24 {gap:var(--n24);}
	.gap-30 {gap:var(--n30);}
	.gap-32 {gap:var(--n32);}
	.gap-36 {gap:var(--n36);}
	.gap-40 {gap:var(--n40);}
	.gap-70 {gap:var(--n70);}

/* Grid */
	/* Column */
		.grid-col-1 {grid-template-columns:repeat(1, 1fr);}
		.grid-col-2 {grid-template-columns:repeat(2, 1fr);}
		.grid-col-3 {grid-template-columns:repeat(3, 1fr);}
		.grid-col-4 {grid-template-columns:repeat(4, 1fr);}
		.grid-col-5 {grid-template-columns:repeat(5, 1fr);}
		.grid-col-6 {grid-template-columns:repeat(6, 1fr);}

/* Height & Width */
	.w100 {width:100%;}
	.w-auto {width:auto;}
	.w-max {width:max-content;}

	.h100 {height:100%;}

	.mx-h100 {max-height:100%;}

/* Hidden */
	/* Border */
		.hdn-bdr {border:0;}
		.hdn-bdr-t {border-top:0;}
		.hdn-bdr-r {border-right:0;}
		.hdn-bdr-b {border-bottom:0;}
		.hdn-bdr-l {border-left:0;}

	/* Psuedo */
		.hdn-before::before {display:none;}
		.hdn-after::after {display:none;}

/* Margin & Padding */
	/* Top */
		.mt-0 {margin-top:0;}
		.mt-8 {margin-top:var(--n8);}
		.mt-10 {margin-top:var(--n10);}
		.mt-12 {margin-top:var(--n12);}
		.mt-16 {margin-top:var(--n16);}
		.mt-20 {margin-top:var(--n20);}
		.mt-24 {margin-top:var(--n24);}
		.mt-28 {margin-top:var(--n28);}
		.mt-30 {margin-top:var(--n30);}
		.mt-32 {margin-top:var(--n32);}
		.mt-36 {margin-top:var(--n36);}
		.mt-40 {margin-top:var(--n40);}
		.mt-60 {margin-top:var(--n60);}
		.mt-80 {margin-top:var(--n80);}

	/* Bottom */
		.mb-0 {margin-bottom:0;}

/* Position */
	.pos-r {position:relative;}

	.zi-1 {z-index:1;}

/* Text Align */
	.txt-l {text-align:left;}
	.txt-c {text-align:center;}
	.txt-r {text-align:right;}
	.txt-j {text-align:justify;}
	.txt-s {text-align:start;}
	.txt-e {text-align:end;}

/* Transform */
	.tf-r180 {transform:rotate(180deg);}

@media all and (max-width:720px) {
	:root {
		--n4: 0.55vw;
		--n6: 0.83vw;
		--n8: 1.11vw;
		--n10: 1.38vw;
		--n12: 1.66vw;
		--n14: 1.94vw;
		--n16: 2.22vw;
		--n18: 2.50vw;
		--n20: 2.78vw;
		--n24: 3.33vw;
		--n28: 3.89vw;
		--n30: 4.17vw;
		--n32: 4.44vw;
		--n36: 5.00vw;
		--n40: 5.56vw;
		--n50: 6.67vw;
		--n60: 8.33vw;
		--n70: 9.72vw;
		--n80: 11.11vw;
	}

	/* Flex Layout */
		.m-flex-tl {place-content:start start;}
		.m-flex-t {place-content:start center;}
		.m-flex-tr {place-content:start end;}
		.m-flex-r {place-content:center end;}
		.m-flex-rb {place-content:end end;}
		.m-flex-b {place-content:end center;}
		.m-flex-bl {place-content:end start;}
		.m-flex-l {place-content:center start;}
		.m-flex-c {place-content:center center;}

		.m-flex-center {align-items:center !important;}
		.m-flex-start {align-items:flex-start !important;}
		.m-flex-end {align-items:flex-end;}
		.m-flex-stretch {align-items:stretch;}
		.m-flex-baseline {align-items:baseline;}
		.m-flex-between {justify-content:space-between;}
		.m-flex-around {justify-content:space-around;}
		.m-flex-evenly {justify-content:space-evenly;}
		.m-flex-j-center {justify-content:center;}
		.m-flex-j-start {justify-content:flex-start;}
		.m-flex-j-end {justify-content:flex-end;}

		.m-align-center {align-items:center;}
		.m-align-start {align-items:flex-start;}
		.m-align-end {align-items:flex-end;}
		.m-align-stretch {align-items:stretch;}
		.m-align-baseline {align-items:baseline;}

		.m-justify-between {justify-content:space-between;}
		.m-justify-around {justify-content:space-around;}
		.m-justify-evenly {justify-content:space-evenly;}
		.m-justify-center {justify-content:center;}
		.m-justify-start {justify-content:flex-start;}
		.m-justify-end {justify-content:flex-end;}

		.m-flex-row {flex-direction:row !important;}
		.m-flex-col {flex-direction:column;}
		.m-flex-row-r {flex-direction:row-reverse;}
		.m-flex-col-r {flex-direction:column-reverse;}

		.m-flex-none {flex:none;}
		.m-flex-wrap {flex-wrap:wrap;}
		.m-flex-0 {flex:0;}
		.m-flex-1 {flex:1;}
		.m-flex-g-1 {flex-grow:1;}

	/* Font */
		/* Size */
			.m-fs-14 {font-size:var(--n14);}
			.m-fs-16 {font-size:var(--n16);}
			.m-fs-18 {font-size:var(--n18);}
			.m-fs-24 {font-size:var(--n24);}
			.m-fs-28 {font-size:var(--n28);}
			.m-fs-30 {font-size:var(--n30);}
			.m-fs-36 {font-size:var(--n36);}

	/* Gap */
		.m-gap-4 {gap:var(--n4);}
		.m-gap-6 {gap:var(--n6);}
		.m-gap-8 {gap:var(--n8);}
		.m-gap-10 {gap:var(--n10);}
		.m-gap-12 {gap:var(--n12);}
		.m-gap-16 {gap:var(--n16);}
		.m-gap-18 {gap:var(--n18);}
		.m-gap-20 {gap:var(--n20);}
		.m-gap-24 {gap:var(--n24);}
		.m-gap-28 {gap:var(--n28);}
		.m-gap-30 {gap:var(--n30);}
		.m-gap-36 {gap:var(--n36);}
		.m-gap-40 {gap:var(--n40);}
		.m-gap-50 {gap:var(--n50);}
		.m-gap-60 {gap:var(--n60);}
		.m-gap-70 {gap:var(--n70);}

		/* Vertical */
			.m-gap-v-70 {gap:var(--n70) 0;}

	/* Grid */
		/* Column */
			.m-grid-col-1 {grid-template-columns:repeat(1, 1fr);}
			.m-grid-col-2 {grid-template-columns:repeat(2, 1fr);}
			.m-grid-col-3 {grid-template-columns:repeat(3, 1fr);}
			.m-grid-col-4 {grid-template-columns:repeat(4, 1fr);}
			.m-grid-col-5 {grid-template-columns:repeat(5, 1fr);}
			.m-grid-col-6 {grid-template-columns:repeat(6, 1fr);}

	/* Height & Width */
		.m-w100 {width:100%;}
		.m-w-auto {width:auto;}

		.m-h100 {height:100%;}

		.m-w-auto {width:auto;}

	/* Hidden */
		/* Border */
			.m-hdn-bdr {border:0;}
			.m-hdn-bdr-t {border-top:0;}
			.m-hdn-bdr-r {border-right:0;}
			.m-hdn-bdr-b {border-bottom:0;}
			.m-hdn-bdr-l {border-left:0;}

		/* Psuedo */
			.m-hdn-before::before {display:none;}
			.m-hdn-after::after {display:none;}

	/* Margin & Padding */
		/* All */
			.m-p-0 {padding:0;}

		/* Top */
			.m-mt-0 {margin-top:0;}
			.m-mt-8 {margin-top:var(--n8);}
			.m-mt-10 {margin-top:var(--n10);}
			.m-mt-12 {margin-top:var(--n12);}
			.m-mt-16 {margin-top:var(--n16);}
			.m-mt-18 {margin-top:var(--n18);}
			.m-mt-20 {margin-top:var(--n20);}
			.m-mt-24 {margin-top:var(--n24);}
			.m-mt-28 {margin-top:var(--n28);}
			.m-mt-30 {margin-top:var(--n30);}
			.m-mt-32 {margin-top:var(--n32);}
			.m-mt-36 {margin-top:var(--n36);}
			.m-mt-40 {margin-top:var(--n40);}
			.m-mt-60 {margin-top:var(--n60);}
			.m-mt-80 {margin-top:var(--n80);}
}