@media all and (max-width:720px) {
	/* Accordion */
		/*.aco-type-01 .aco-head {height:13.89vw; padding:0 5vw;}
		.aco-type-01 .aco-item.active .aco-cont-in {padding:5vw;}*/

		.aco-type-01 .n-collapse-item__header-main {height:13.89vw; padding:0 5vw; font-size:3.89vw;}
		.aco-type-01 .n-collapse-item .n-collapse-item__content-wrapper .n-collapse-item__content-inner {padding:5vw;}

	/* Bar */
		/* Vertical */
			.bar-v-02, .bar-v-02 > * {gap:1.81vw;}
			.bar-v-02 > * + *:before {height:1.94vw;}

		/* Vertical Circle */
			.bar-v-circle-01 {gap:2.50vw; font-size:3.33vw;}
			.bar-v-circle-01 > * {gap:1.11vw;}
			.bar-v-circle-01 > * > *:first-child {width:1.67vw; height:1.67vw;}

	/* Board */
		.brd-wrap .brd-tit {font-size:3.89vw;}
		.brd-wrap .brd-list-number {flex:0 0 3.47vw; width:3.47vw;}
		.brd-wrap .brd-file > * {gap:1.67vw;}

		.brd-lst-curr .brd-lst-item {gap:1.67vw; border-radius:2.78vw; padding:5.56vw; font-size:3.33vw;}
		.brd-lst-curr .brd-lst-curr-stat {gap:1.67vw;}

		[class*="brd-list-general"] {gap:2.22vw; margin-top:3.19vw;}
		[class*="brd-list-general"] > * {border-radius:2.50vw; padding:3.81vw 5.56vw;}
		[class*="brd-list-general"] .brd-list-number {margin-right:2.50vw;}
		[class*="brd-list-general"] .brd-cont {align-items:flex-start; flex-direction:column; gap:2.22vw;}
		[class*="brd-list-general"] .brd-ctgy {flex:0 0 auto; width:auto; margin-left:0;}
		[class*="brd-list-general"] .bar-v {flex-direction:column; align-items:flex-start; gap:1.67vw;}
		[class*="brd-list-general"] .bar-v > * + * {gap:30px;}
		[class*="brd-list-general"] .bar-v > * + *:before {display:none;}
		[class*="brd-list-general"] .brd-cont-bot {margin:3.81vw -5.56vw -5.56vw; padding:5.56vw;}

		.brd-list-general-02 > * {border-radius:2.78vw;}

		[class*="brd-lst-gallery"] .brd-cont-wrap {gap:1.11vw; margin-top:2.78vw; line-height:1; font-size:3.33vw; color:#666;}
		[class*="brd-lst-gallery"] .brd-lst-desc {line-height:4.72vw;}
		[class*="brd-lst-gallery"] .bar-v-01 {flex-wrap:wrap;}

		.brd-lst-gallery-02 {gap:4.44vw;}
		.brd-lst-gallery-02 [class*="thumb-type-01"] .thumb-inner {width:42.64vw; height:24.03vw;}

		.brd-lst-gallery-03 {gap:4.44vw;}
		.brd-lst-gallery-03 [class*="thumb-type-01"] .thumb-inner {width:42.64vw; height:24.03vw;}

		.brd-view-general {margin-top:5.83vw;}
		.brd-view-general .brd-view-top {gap:3.47vw;}
		.brd-view-general .brd-view-top .brd-tit {font-size:5.00vw;}
		.brd-view-general .brd-view-cont {border-top-width:0.28vw; margin-top:5.56vw; padding:8.33vw 5.56vw; line-height:4.72vw;}
		.brd-view-general .brd-file {margin-top:11.11vw;}
		.brd-view-general [class*="brd-list-general"] {margin-top:5.56vw;}

	/* Box */
		[class*="box-type-01"] {border-radius:1.39vw; padding:4.17vw;}
		.box-type-01-01 {border:1px solid #e2e2e2; padding:5.56vw;}
		.box-type-02 {border-radius:3.89vw; padding:5.56vw;}
		.box-type-03 {border-radius:4.17vw; box-shadow:0.00vw 0.00vw 4.58vw rgba(0, 0, 0, 0.06); padding:5.56vw 5.56vw;}
		.box-type-04 {border-radius:2.78vw; padding:5.00vw;}

	/* Bullet */
		.bul-circle-01 {line-height:6.67vw;}
		.bul-circle-01  > *:before {flex:0 0 0.56vw; width:0.56vw; height:0.56vw; transform:translate(0, 3vw);}

	/* Button */
		/* Size */
			.btn-sz-32 {border-radius:6.67vw; height:6.67vw; font-size:2.78vw;}
			.btn-sz-56 {border-radius:8.89vw; height:8.89vw; font-size:3.33vw;}

		/* Other */
			.btn-icon {gap:10px;}
			.btn-search {width:23.19vw;}
			.btn-circle {width:6.94vw; height:6.94vw;}
			.btn-circle-gry {width:6.11vw; height:6.11vw;}
			.btn-link {gap:2.22vw; font-size:3.33vw;}

	/* Chip */
		[class*="chip-type-01"] {border-radius:0.56vw; height:4.72vw; padding:0 2.22vw; font-size:2.78vw;}
		[class*="chip-type-02"] {border-radius:4.72vw; height:4.72vw; padding:0 2.22vw; font-size:2.78vw;}

		[class*="chip-type-04"] {border-radius:6.67vw; height:6.67vw; padding:0 2.78vw; font-size:3.33vw;}

	/* Divider */
		.m-divider {background:#f8f8f8; height:1.81vw; margin:0 calc(var(--init-mobile-inner) * -1);}

	/* e-Chart */
		.e-chart-v-bar {height:44.44vw;}
		.e-chart-radar {width:68.75vw; height:56.53vw;}

	/* Icon */
		/* General */
			.ic-arrow-l:before {width:1.67vw; height:2.78vw;}
			.ic-arrow-u:before {width:3.33vw; height:1.94vw;}
			.ic-arrow-b:before {width:1.94vw; height:1.53vw;}
			.ic-arrow-d:before {width:2.92vw; height:1.67vw;}
			.ic-arrow-u-02:before {width:3.19vw; height:2.78vw;}
			.ic-arrow-u-03:before {width:2.22vw; height:1.94vw;}
			.ic-book {width:7.22vw; height:7.22vw;}
			.ic-book:before {width:4.72vw; height:4.58vw;}
			.ic-cert {width:7.22vw; height:7.22vw;}
			.ic-cert:before {width:5.97vw; height:5.00vw;}
			.ic-chk:before {width:3.89vw; height:3.61vw;}
			.ic-chk-02:before {width:3.33vw; height:2.50vw;}
			.ic-clip:before {width:3.33vw; height:3.06vw;}
			.ic-delete:before {width:2.22vw; height:2.22vw;}
			.ic-info:before {width:3.33vw; height:3.33vw;}
			.ic-link:before {width:2.5vw; height:2.5vw;}
			.ic-notice:before {width:3.47vw; height:3.06vw;}
			.ic-pencle:before {width:2.08vw; height:2.08vw;}
			.ic-plus:before {width:3.06vw; height:3.06vw;}
			.ic-plus-02 {width:6.11vw; height:6.11vw;}
			.ic-plus-02:before {width:3.06vw; height:3.06vw;}
			.ic-refrash:before {width:3.06vw; height:3.47vw;}
			.ic-schedule:before {width:3.47vw; height:3.33vw;}
			.ic-search:before {width:4.44vw; height:4.44vw;}
			.ic-sandwatch:before {width:2.50vw; height:3.33vw;}
			.ic-setting:before {width:2.5vw; height:2.22vw;}

		/* Chatbot */
			.ic-chat-history:before {width:6.67vw; height:5.00vw;}
			.ic-chat-new:before {width:6.67vw; height:5.00vw;}
			.ic-chat-close:before {width:4.17vw; height:4.17vw;}
			.ic-chat-send:before {width:6.67vw; height:6.67vw;}
			.ic-chat-stop:before {width:6.67vw; height:6.67vw;}
			.ic-chat-recom:before,
			.ic-chat-discom:before {width:3.47vw; height:3.33vw;}
			.ic-chat-copy:before {width:3.33vw; height:3.19vw;}
			.ic-chat-tdot:before {width:4.86vw; height:0.97vw;}
			.ic-chat-hamburger:before {background-position:var(--bp-100) var(--bp-500); width:5.42vw; height:4.86vw;}

		/* Mobile */
			.ic-hamburger:before {background-position:0 var(--bp-500); width:5.56vw; height:4.31vw;}
			.ic-m-arrow-b:before {background-position:var(--bp-50) var(--bp-500); width:2.50vw; height:1.53vw;}
			.ic-m-arrow-b.active {transform:rotate(180deg);}

		/* ETC */
			.ic-dog:before {background-position:var(--bp-150) var(--bp-950); width:14.44vw; height:5.97vw;}
			.ic-duck:before {width:17.50vw; height:20.28vw;}
			.ic-duck-02:before {background-position:var(--bp-600) var(--bp-900); width:8.19vw; height:12.50vw;}
			.ic-duck-03:before {background-position:var(--bp-700) var(--bp-850); width:19.72vw; height:16.94vw;}
			.ic-duck-04:before {background-position:var(--bp-850) var(--bp-850); width:16.81vw; height:16.81vw;}
			.ic-duck-05:before {background-position:var(--bp-150) var(--bp-800); width:12.50vw; height:20.83vw;}

	/* Form */
		/* Checkbox & Radio Type */
			/* Button */
				.form-opt-btn-01 .opt-txt {height:15.28vw; font-size:4.17vw;}
				.form-opt-btn-01 input:checked + .opt-txt {font-size:4.17vw;}

				.form-opt-btn-02 .opt-txt,
				.form-opt-btn-02 input:checked + .opt-txt {border-radius:8.89vw; height:8.89vw; font-size:3.33vw;}

				.form-opt-btn-03 .opt-txt,
				.form-opt-btn-03 input:checked + .opt-txt {border-radius:8.89vw; height:8.89vw; font-size:3.33vw;}

				.form-opt-btn-04 .opt-txt,
				.form-opt-btn-04 input:checked + .opt-txt {gap:2.78vw; border-radius:8.89vw; height:8.89vw; padding:0 2.78vw 0 0.83vw; font-size:3.33vw;}
				.form-opt-btn-04 .opt-txt,
				.form-opt-btn-04 input:checked + .opt-txt {border-width:0.28vw;}

			/* Check Box */
				.form-opt-chk-01 .opt-txt {width:5.56vw; height:5.56vw;}
				.form-opt-chk-01 .opt-txt:after {width:2.92vw; height:2.78vw;}

		/* Input */
			.form-txt-01 {border-radius:12.50vw; border-width:0.28vw; width:100%; height:12.50vw; padding:0 5.56vw;}

	/* Graph */
		/* Horizontal Bar */
		[class*="grp-hor-bar-01"] {font-size:3.33vw;}
		[class*="grp-hor-bar-01"] .grp-inner-wrap {gap:1.94vw;}
		[class*="grp-hor-bar-01"] .grp-inner {height:3.33vw;}
		[class*="grp-hor-bar-01"] [class*="grp-bar"] {border-radius:3.33vw;}

		.grp-hor-bar-01-02 .grp-inner {border-radius:5.00vw; height:5.00vw;}
		.grp-hor-bar-01-02 [class*="grp-bar"] {border-radius:5.00vw; font-size:2.50vw;}
		.grp-hor-bar-01-02 .grp-txt {padding-left:2.50vw;}

		.grp-hor-bar-01-02 .grp-deco-wrap {right:7.03vw; top:-6.58vw;}
		.grp-hor-bar-01-02 .grp-txt-period {gap:0; flex-direction:column; justify-content:center; left:1.11vw; top:0; gap:0.56vw; border-radius:1.39vw; width:11.28vw; height:7.78vw; padding:0 1.81vw; font-size:1.81vw;}
		.grp-hor-bar-01-02 .grp-txt-period strong {font-size:2.78vw;}
		.grp-hor-bar-01-02 .grp-txt-period:before {left:-1.25vw; top:1.39vw; width:1.25vw; height:1.11vw;}

		.grp-label-01 {gap:4.44vw;}
		.grp-label-01 > * {gap:2.22vw; font-size:3.33vw;}
		.grp-label-01 > *:before {width:2.22vw; height:2.22vw;}

	/* List */
		[class*="lst-tag"] {gap:1.67vw; margin-top:3.33vw; font-size:3.33vw;}
		[class*="lst-tag"] > * {gap:2.78vw; border-radius:8.89vw; height:8.89vw; padding:0 4.17vw;}

		.lst-tag-01 {margin-top:0;}
		.lst-tag-01 > * {gap:1.67vw; padding:0 4.17vw;}

		[class*="lst-item-01"] {gap:2.50vw 4.17vw;}
		[class*="lst-item-01"] > * {gap:1.81vw; border-radius:3.33vw; width:100%; height:20.97vw;}
		[class*="lst-item-01"] p {font-size:3.89vw;}

		.lst-item-02 {gap:2.78vw;}
		.lst-item-02 > * {border-radius:2.78vw; padding:5.56vw;}

		.lst-item-03 {border-radius:2.78vw;}
		.lst-item-03 > * {padding:5.56vw;}
		.lst-item-03 .lst-tit {font-size:3.89vw;}
		.lst-item-03 .lst-desc {margin-top:2.78vw; font-size:3.89vw; line-height:5.28vw;}

		.lst-form {gap:5.56vw;}
		.lst-form ig-form > [class*="form-"] {flex-direction:column; gap:3.89vw; height:auto;}
		.lst-form .txt-prefix {flex:1; width:100%; font-size:3.89vw;}
		.lst-form [class*="form-"][divide] .form-icon {top:auto; bottom:1px;}

		.lst-latest > * {gap:2.22vw; padding:4.17vw 0;}
		.lst-latest .lst-tit {font-size:3.89vw;}
		.lst-latest .lst-desc {font-size:3.33vw;}

	/* Paging */
		.paging-wrap {gap:1.94vw; margin-top:8.33vw; font-size:3.33vw;}
		.paging-wrap a {width:6.67vw; height:6.67vw;}
		.paging-wrap .paging-first:before,
		.paging-wrap .paging-last:before {width:2.50vw; height:2.22vw;}
		.paging-wrap .paging-prev:before,
		.paging-wrap .paging-next:before {width:1.53vw; height:2.22vw;}
		.paging-wrap .paging-num {gap:1.94vw;}

	/* Popover */
		.popover-type-01 .popover-msg {box-shadow:0 0 3.06vw rgba(0, 0, 0, 0.08); border-radius:2.22vw; padding:4.17vw; font-size:3.33vw; line-height:4.44vw;}
		.popover-type-01 .popover-action:before {width:2.22vw; height:1.81vw;}

	/* Popup */
		[class*="pop-type"] {width:100% !important;}
		[class*="pop-type"].n-card.n-modal {border-radius:0;}
		[class*="pop-type"].pop-close-no-header {width:15.28vw; height:15.28vw;}
		.n-card-header__main {font-size:5vw;}
		[class*="pop-type"].n-card > .n-card-header {border-bottom:1px solid #e2e2e2; padding:0 5vw;}
		[class*="pop-type"].n-card .n-card-header__main {display:flex; align-items:center; height:15.28vw;}
		.n-card > .n-card__content {padding:5vw;}
		.n-modal-container .n-card__footer {gap:1.39vw;}
		.n-modal-container .n-card__footer [class*="btn-type"] {height:12.5vw;}

	/* Swiper */
		/* Navigation */
			.swiper-button-prev.swi-arrow-01,
			.swiper-button-next.swi-arrow-01 {width:9.72vw; height:9.72vw;}
			.swiper-button-prev.swi-arrow-01:after,
			.swiper-button-next.swi-arrow-01:after {width:1.53vw; height:2.50vw;}

		/* Pagenation */
			.swi-type .swi-page-01 {gap:1.67vw;}
			.swi-type .swi-page-01 .swiper-pagination-bullet {width:2.22vw; height:2.22vw;}

		/* Custom */
			.swi-type-01 .swiper {padding:0 5vw;}
			.swi-type-01 .swiper-button-prev {left:5vw;}
			.swi-type-01 .swiper-button-next {right:5vw;}

	/* Table */
		.tbl-form {border-spacing:0 4.17vw; font-size:3.89vw;}

	/* Tabs */
		/* Cont */
			/*.tab-cont-01 {padding-top:7.5vw;}*/

		/* Menu */
			/*.tab-menu-01 {gap:1.67vw; height:9.72vw; font-size:3.33vw;}
			.tab-menu-01 > * > * {border-radius:2.50vw 2.50vw 0 0; padding:0 6.67vw;}*/

		[class*="tabs-type-01"] {margin-top:5.56vw;}
		[class*="tabs-type-01"] .n-tabs-wrapper {gap:1.67vw;}
		[class*="tabs-type-01"] .n-tabs-nav-scroll-wrapper {height:9.72vw;}
		[class*="tabs-type-01"] .n-tabs-tab__label {font-size:3.33vw;}
		[class*="tabs-type-01"] .n-tabs-tab {border-radius:2.50vw 2.50vw 0 0; padding:0 6.67vw;}
		[class*="tabs-type-01"] .n-tabs-tab.n-tabs-tab--active {border-radius:2.50vw 2.50vw 0 0; padding:0 6.67vw;}

	/* Text */
		.txt-01 {font-size:4.17vw;}
		.txt-02 {margin-top:3.89vw; font-size:3.89vw; line-height:5.28vw;}

	/* Title */
		.tit-01 {font-size:5vw;}
		.tit-02 {font-size:3.89vw;}
		.tit-03 {font-size:4.44vw;}
		.tit-04 {margin-top:11.11vw; font-size:4.44vw;}
		.tit-05 {font-size:5.83vw;}
		.tit-06 {font-size:4.44vw;}

	/* Thumb */
		.thumb-type-character {width:50.00vw; height:50.00vw;}

		[class*="thumb-type-01"] .thumb-inner {border-radius:2.50vw; width:68.06vw; height:38.19vw;}
		[class*="thumb-type-01"] .thumb-inner > * {padding:3.33vw;}
		[class*="thumb-type-01"] .thumb-c {font-size:3.33vw;}

		[class*="thumb-type-badge"] {width:21.11vw;}
		[class*="thumb-type-badge"] [class*="txt-department"] {top:30.56vw; height:8.06vw; padding:0 5.56vw 0 4.17vw; font-size:4.86vw;}
		[class*="thumb-type-badge"] .txt-department-01 {font-size:3.33vw;}
		[class*="thumb-type-badge"] .thumb-rb {padding:0 5.56vw 0 0;}
		[class*="thumb-type-badge"] .thumb-rb img {width:15.28vw; height:8.33vw;}

		.thumb-type-badge-01 {width:47.08vw; height:47.08vw;}
		.thumb-type-badge-02 {width:35.97vw; height:35.97vw;}
		.thumb-type-badge-02 [class*="txt-department"] {top:23.34vw; height:6.15vw; padding:0 4.24vw 0 3.18vw; font-size:3.71vw;}

	/* Tree Menu */
		.tree-type-01 {position:relative; display:flex; border:0; padding:0; height:18vw; font-size:4.17vw;}
		.tree-type-01 .tree-inner {flex:1;}
		.tree-type-01 > .tree-inner > summary {border-bottom:1px solid #e2e2e2; height:10.56vw;}
		.tree-type-01 .tree-menu {position:relative; justify-content:center; border-radius:0; padding:0;}
		.tree-type-01 .tree-menu:hover,
		.tree-type-01 .tree-inner.active > summary .tree-menu {background:none; color:black;}
		.tree-type-01 .tree-inner.active > summary .tree-menu:after {content:""; position:absolute; left:0; bottom:0; background:black; width:100%; height:0.56vw;}
		.tree-type-01 .tree-arrow {display:none;}
		.tree-type-01 .tree-menu-sub {display:flex; align-items:center; border-radius:10vw; height:10vw; padding:0 5.56vw; font-size:3.89vw; white-space:nowrap;}
		.tree-type-01 .tree-menu-sub:hover,
		.tree-type-01 .tree-sub-item-group > .tree-inner.active .tree-menu-sub {background:#def2ff; color:black;}
		.tree-type-01 .tree-sub-item-group {display:flex; align-items:center; position:absolute; left:0; top:13.61vw; height:10vw; padding:0;}
		.tree-type-01 .tree-sub-item-group .tree-inner {padding:0;}

	/* 페이지 */
		/* 전공학과 선택 */
			.major-wrap {width:100dvw; padding:0 5vw;}

		/* 로그인 */
			.login-wrap {display:flex; flex-direction:column; justify-content:space-between; width:100dvw; height:100%; padding:11.11vw 0;}
			.login-wrap .login {border-radius:0; box-shadow:none;}
			.login-wrap .login-form {gap:2.78vw; padding:0 11.11vw;}

		/* 헤더 */
			.h-wrap {display:flex; align-items:center; padding:0 0 0 var(--init-mobile-inner);}
			.h-wrap .h-inner {gap:5vw; flex:1;}
			.h-wrap .h-logo {width:59.58vw;}
			.h-wrap .h-btn {flex: 0 0 var(--init-hh); width:var(--init-hh); height:var(--init-hh);}
			.h-wrap .h-util {gap:20px; font-size:14px;}
			.h-wrap .h-gnb {margin-top:40px; font-size:22px;}

		/* 푸터 */
			.f-wrap {font-size:2.78vw; padding:0 var(--init-mobile-inner);}
			.f-wrap .f-menu {height:13.89vw;}
			.f-wrap .f-logo {width:59.58vw; margin-top:5.56vw;}
			.f-wrap .f-copy {margin-top:5.00vw; line-height:4.17vw;}

		/* 레이아웃 */
			#container .mypage-contents {flex:0 0 100%; width:100%;}

		/* 메인 */
			.main-section {padding:13.89vw var(--init-mobile-inner) 11.11vw;}

			.main-spec-top {margin-top:-40vw; margin-bottom:-2.39vw; padding-left:2.08vw;}
			.main-spec-top .main-spec-txt {flex-direction:column; align-items:flex-start; gap:1.67vw;}
			.main-stat-top-util {flex-direction:column;}
			.main-stat-bot .swi-type {margin:0; padding:0;}
			.main-stat-bot .swi-type .swi-page-01 {bottom:-3.33vw;}
			.main-stat-bot .box-type-02 {height:93.89vw;}
			.main-dcu-badge .swiper-navigation {display:block; position:static;}
			.main-dcu-badge .swiper-navigation > * {position:absolute;}
			.main-quick-menu-wrap {border-radius:3.89vw; height:25.00vw; padding-top:5.56vw;}
			.main-quick-menu {gap:2.36vw; padding:0 5.42vw; padding-right:calc(202dvw + 5.42vw); font-size:3.33vw;}
			.main-quick-menu > * {flex:0 0 31.67vw;}
			.main-quick-menu a {gap:3.06vw; border-radius:4.17vw; height:13.89vw;}
			.main-quick-menu > *:nth-child(1) a:before {background-position:var(--bp-300) var(--bp-950); width:5.97vw; height:5.00vw;}
			.main-quick-menu > *:nth-child(2) a:before {background-position:var(--bp-350) var(--bp-950); width:4.72vw; height:4.58vw;}
			.main-quick-menu > *:nth-child(3) a:before {background-position:var(--bp-400) var(--bp-950); width:6.39vw; height:6.25vw;}
			.main-quick-menu > *:nth-child(4) a:before {background-position:var(--bp-450) var(--bp-950); width:5.56vw; height:5.56vw;}
			.main-quick-menu > *:nth-child(5):before {background-position:var(--bp-500) var(--bp-950); width:6.39vw; height:3.89vw;}
			.main-quick-menu > *:nth-child(6) a:before {background-position:var(--bp-550) var(--bp-950); width:5.42vw; height:5.42vw;}

		/* 레이아웃 */
			#container .contents {padding:9.03vw var(--init-mobile-inner) 11.11vw;}
			#container .contents .sub-title {font-size:6.11vw;}

		/* 관심직무설정 */
			.favor-job-wrap {width:100dvw; padding:var(--init-mobile-inner);}
			.favor-job-list-wrap {border-radius:0; border:0; border-top:1px solid #e2e2e2; margin:5.28vw calc(var(--init-mobile-inner) * -1) 0;}
			.favor-job-list-top {height:101.94vw;}
			.favor-job-list-bot {border:0; padding:5.00vw;}
			.favor-job-list {flex:0 0 45.83vw; width:45.83vw; padding:0;}
			.favor-job-list > * > * {min-height:13.89vw; padding:0 4.72vw;}
			.favor-job-list > * > *:after  {display:none;}

		/* 직업정보 */
			.job-search-wrap {border-radius:2.22vw; margin-top:8.33vw;}
			.job-search-wrap .job-search {padding:5.56vw;}
			.job-search-wrap .job-search-list {padding:5.56vw;}
			.job-info-top {padding-right:26.11vw;}
			.job-info-top .job-info-icon {right:3.33vw; top:auto; bottom:5.56vw;}

		/* 진로가이드 */
			.job-search-wrap .favor-job-list-top {height:83.33vw;}
			.job-search-wrap .favor-job-list-top .no-data {height:calc(100% - 10.00vw);}
			.job-search-wrap .favor-job-list-tit {font-size:3.33vw; line-height:10.00vw;}
			.job-search-wrap .favor-job-list {height:calc(100% - 10.00vw);}

		/* 챗봇 */
			.chatbot-wrap {right:2.50vw; bottom:4.17vw;}
			.chatbot-wrap .chatobt-chat-wrap {position:fixed; right:0; top:0; bottom:auto; border-radius:0; box-shadow:none; width:100dvw; height:100dvh; max-height:100dvh;}
			.chatbot-wrap .chatbot-chat-intro img {width:31.94vw; height:31.94vw;}
			.chatbot-wrap .chatbot-chat-head {flex:0 0 15.28vw; height:15.28vw; font-size:5vw;}
			.chatbot-wrap .chatbot-chat-head-left,
			.chatbot-wrap .chatbot-chat-head-right {padding:0 5vw;}
			.chatbot-wrap .chatbot-chat-head button {flex:0 0 10.25vw; width:10.25vw; height:15.28vw;}

			.chatbot-wrap .chatbot-chat-cont {padding:10.00vw 5.00vw; line-height:4.44vw;}
			.chatbot-wrap .chatbot-chat-list {gap:5.83vw;}
			.chatbot-wrap .chat-msg-you {border-radius:4.44vw 0 4.44vw 4.44vw; min-height:11.11vw; padding:3.33vw 5.00vw; font-size:3.33vw;}
			.chatbot-wrap .chat-msg-bot-wrap {gap:1.67vw;}
			.chatbot-wrap .chat-msg-bot-wrap > img:first-child {width:11.11vw; height:11.11vw;}
			.chatbot-wrap .chat-msg-bot {border-radius:0 4.44vw 4.44vw 4.44vw; min-height:11.11vw; padding:3.33vw 5.00vw; font-size:3.33vw;}
			.chatbot-wrap .chat-msg-info {margin-top:3.33vw; padding:0; font-size:3.33vw;}
			.chatbot-wrap .chat-msg-btn-group {gap:2.22vw;}

			.chatbot-wrap .chatbot-chat-foot {flex:0 0 23.61vw; height:23.61vw; padding:0 5.00vw;}
			.chatbot-wrap .chatbot-chat-foot .chat-send-btn {right:8.33vw;}
			.chatbot-wrap .chatbot-btn {width:19.44vw; height:19.44vw;}

			.chat-loading-dots {gap:1.11vw; margin-left:3.33vw;}
			.chat-loading-dots span {width:1.94vw; height:1.94vw;}

			.chatbot-chat-history-list {width:80.56vw; padding:6.94vw 0;}
			.chatbot-chat-history-ctgy {margin-top:3.61vw; padding:0 5.00vw; font-size:3.33vw;}
			.chatbot-chat-history-ctgy-list {margin-top:3.61vw;}
			.chatbot-chat-history-ctgy-list button {height:9.72vw; padding:0 5vw;}
			.chatbot-chat-history-ctgy-list .chatbot-btn-tdot {width:9.72vw;}
			.chatbot-chat-history-ctgy-list .chatbot-item-util-menu {right:6.94vw; top:2.22vw; border-radius:2.78vw; width:31.67vw;}
			.chatbot-chat-history-ctgy-list .chatbot-item-util-menu button {padding:0 3.33vw;}

		/* 챗봇 페이지 */
			.chatpage-wrap {position:relative; flex-direction:column;}
			.chatpage-panel {position:absolute; left:0; top:0; flex:1; width:100%; padding:0 19.44vw 0 0;}
			.chatpage-panel::before {content:""; position:absolute; left:0; top:0; width:100%; height:100%; background:rgba(0, 0, 0, 0.5);}
			.chatpage-panel .chatpage-panel-head {position:relative; background:white; padding:0 5vw;}
			.chatpage-panel .chatpage-panel-head-inner {height:var(--init-hh);}
			.chatpage-panel .chatpage-panel-head .chatpage-history-close {display:block;}
			.chatpage-panel .chatpage-panel-head.active-search .chatpage-history-close {display:none;}

			.chatpage-wrap .chatpage-chat-title {font-size:5vw;}
			.chatpage-wrap .chatbot-chat-list {gap:7.5vw; width:100%; padding:0 5vw;}
			.chatpage-wrap .chat-msg-you {border-radius:4.44vw 0 4.44vw 4.44vw; min-height:11.11vw; padding:3.33vw 5.00vw; font-size:3.33vw;}
			.chatpage-wrap .chat-msg-bot-wrap {gap:1.67vw;}
			.chatpage-wrap .chat-msg-bot-wrap > img:first-child {width:11.11vw; height:11.11vw;}
			.chatpage-wrap .chat-msg-bot {min-height:11.11vw; padding:3.33vw 0; font-size:3.33vw;}
			.chatpage-wrap .chat-msg-info {gap:2.22vw; margin-top:3.33vw; padding:0; font-size:3.33vw;}
			.chatpage-wrap .chat-msg-btn-group {gap:2.22vw;}
			.chatpage-wrap .chatpage-chat-head {flex:0 0 var(--init-hh); background:white; border-bottom:1px solid #e2e2e2; height:var(--init-hh); padding:0 5vw;}
			.chatpage-wrap .chatpage-chat-foot-inner {width:100%; padding:0 5vw 5vw;}
			.chatpage-wrap .chatpage-chat-foot .chat-send-btn {right:8.33vw; top:3vw;}

			.chatpage-wrap .chatbot-chat-history-ctgy {padding:0 20px;}
			.chatpage-wrap .chatbot-chat-history-list {width:100%;}
			.chatpage-wrap .chatbot-chat-history-ctgy-list {gap:3.33vw;}
			.chatpage-wrap .chatbot-chat-history-ctgy-list > * {padding:0 5vw;}
			.chatpage-wrap .chatpage-room-btn {height:7.22vw;}
			.chatpage-wrap .chatpage-room-btn[contenteditable] {border-radius:1.11vw; width:calc(100% + 6.39vw); margin:0 -3.19vw; padding:0 2.22vw;}
			.chatpage-wrap .chatpage-room-input {border-radius:1.11vw; width:calc(100% + 6.39vw); margin:0 -3.19vw; padding:0 2.22vw;}
			.chatpage-wrap .chatbot-btn-tdot {right:2vw; height:calc(100% - 8px);}

		/* 마이페이지 */
			.mypage-side {width:100%;}
			.mypage-side .thumb-type-badge {flex:0 0 19.58vw; width:19.58vw; height:19.58vw;}
			.mypage-side .tree-type-01 {display:none;}
			.mypage-side .tree-type-01.active {display:flex;}
			.mypage-contents .box-prev-semester {flex:1; width:100%;}

		/* 진로 맵 */
			.qualification-wrap {margin-top:5.56vw; padding-left:2.78vw;}
			.qualification-wrap > * + * {margin-top:2.78vw;}
			.qualification-wrap .qualification-top:before {border:0.56vw solid #acc3dd; width:7.78vw; height:7.78vw;}
			.qualification-wrap .qualification-period {position:relative; top:4.5vw; padding:0 0 0 4.86vw;}
			.qualification-wrap > *.current .qualification-period,
			.qualification-wrap > *.end .qualification-period {top:0;}
			.qualification-wrap .qualification-tit {margin-right:2.78vw; font-size:3.89vw;}
			.qualification-wrap .qualification-lst-wrap {min-height:12.50vw; margin-top:2.50vw; padding-left:3.7vw;}
			.qualification-wrap .qualification-lst-wrap:before {border-left:0.56vw solid #acc3dd; border-radius:0.56vw; width:0.56vw; min-height:12.50vw;}
			.qualification-wrap .qualification-lst {grid-template-columns:repeat(1, 1fr); gap:2.78vw; margin-left:8.33vw;}
			.qualification-wrap .qualification-lst > * {gap:1.39vw; border-radius:2.22vw; height:34.72vw; padding:4.17vw 5.56vw 0;}
			.qualification-wrap .qualification-lst .qualification-tit-02 {font-size:3.89vw;}
			.qualification-wrap .qualification-lst .qualification-btn {width:calc(100% + 11.11vw); height:10.56vw; margin:0 -5.56vw; font-size:3.33vw;}
			.qualification-wrap .qualification-lst .qualification-txt {margin-top:1.11vw;}
			.qualification-wrap .ic-chk-02 {left:2.2vw; top:2.5vw;}
			.qualification-wrap .ic-duck-05 {left:-2.50vw; top:-3.75vw;}

			/* 진행 */
			.qualification-wrap > *.current {margin-top:6.67vw;}
			.qualification-wrap > *.current .qualification-lst-wrap:before {margin-top:6.94vw;}
}