/* Accordion */
	.aco-type-01 .n-collapse-item__header-main {height:40px; padding:0 24px;}
	.aco-type-01 .n-collapse-item .n-collapse-item__content-wrapper .n-collapse-item__content-inner {padding:24px;}
	.aco-type-01 .n-collapse-item__content-wrapper {border-top:1px solid #efefef;}

/* Board */
	/* General */
		.brd-wrap .brd-tit {font-size:20px; font-weight:500; color:black;}
		.brd-wrap .brd-ctgy {font-size:14px; font-weight:500;}
		.brd-wrap .brd-date {color:#777;}
		.brd-wrap .brd-link {display:block;}
		.brd-wrap .brd-sch {max-width:700px;}

	/* Paging */
		.brd-paging {display:flex; justify-content:center; gap:4px; margin-top:60px;}
		.brd-paging a {display:flex; align-items:center; justify-content:center; width:36px; height:36px; color:#666;}
		.brd-paging a:hover,
		.brd-paging-num > *.active a {color:var(--mc);}
		.brd-paging > * {display:flex; gap:4px;}
		.brd-paging .brd-paging-ctrl a {border:1px solid #e2e2e2; border-radius:6px;}
		.brd-paging .brd-paging-ctrl a:before {content:""; background-image:var(--ico-c); background-size:var(--ico-sz);}
		.brd-paging .brd-paging-first:before,
		.brd-paging .brd-paging-last:before {background-position:var(--150) var(--550); width:11px; height:10px;}
		.brd-paging .brd-paging-prev:before,
		.brd-paging .brd-paging-next:before {background-position:var(--200) var(--550); width:7px; height:10px;}
		.brd-paging .brd-paging-last:before,
		.brd-paging .brd-paging-next:before {transform:rotate(180deg);}
		.brd-paging-num {display:flex;}

/* Box */
	.box-type-05 {background:#f5f5f5; border-radius:16px; padding:16px 0;}

/* Button */
	/* Button Color */
		.btn-b-blk {border-color:black; color:black;}
		.btn-b-blk:hover {background:#f5f5f5; border-color:black; color:black;}
		.btn-b-lgry {border-color:#e2e2e2; color:#666;}

	/* Button Size */
		.btn-r-56 {height:56px; font-size:18px;}

	/* Other */
		.btn-icon {display:inline-flex; align-items:center; gap:10px;}

/* Form */
	/* Checkbox & Radio Type */
		/* Button */
			.form-type-opt-btn-01 .opt-txt,
			.form-type-opt-btn-01 input:checked + .opt-txt {border-radius:16px; min-height:80px; font-size:20px;}
			.form-type-opt-btn-01 .opt-txt {justify-content:center; border-color:#e2e2e2; color:#666;}
			.form-type-opt-btn-01 input:checked + .opt-txt {background:#eff6ff; border-color:var(--mc); color:#00377a;}
			.form-type-opt-btn-01 input:disabled + .opt-txt {background:none; border:1px solid #e2e2e2; color:#e2e2e2;}

		/* Checkbox */
			[class*="form-type-opt-chk-01"] .opt-txt {align-items:center; word-break:keep-all;}
			[class*="form-type-opt-chk-01"] .opt-txt:before {background-color:transparent; background-position:var(--250) var(--50); border:none; width:18px; height:24px; transition:none;}
			[class*="form-type-opt-chk-01"] input:focus + .opt-txt:before {border:none !important;}
			[class*="form-type-opt-chk-01"] input:checked + .opt-txt:before {background-color:transparent; background-position:var(--300) var(--50);}
			[class*="form-type-opt-chk-01"] .opt-txt:after {display:none;}

			.form-type-opt-chk-01-01 .opt-txt:before {flex:0 0 24px; background-position:var(--350) var(--50); width:24px; height:20px;}

/* Icon */
	.ic-delete:before {background-position:var(--600) var(--50); width:12px; height:12px;}
	.ic-notice:before {background-position:var(--100) var(--50); width:23px; height:26px;}
	.ic-refresh-02:before {background-position:var(--550) var(--50); width:14px; height:15px;}
	.ic-zoom:before {background-position:var(--200) var(--50); width:19px; height:19px;}

/* List */
	/* List */
		[class*="lst-type-02"] {display:flex; flex-direction:column; gap:12px;}
		[class*="lst-type-02"] > * {overflow:hidden; display:flex; justify-content:space-between; align-items:center; border:1px solid #e2e2e2; border-radius:6px; height:48px; padding:0 24px;}
		[class*="lst-type-02"] [class*="form-type-opt-chk"] {flex:0;}
		[class*="lst-type-02"] [class*="form-type-opt-chk"] label {width:100%;}
		[class*="lst-type-02"] a {display:flex; align-items:center; justify-content:center; gap:16px; font-size:14px;}
		[class*="lst-type-02"] .txt-more {display:none; word-break:keep-all;}
		[class*="lst-type-02"] a:hover .txt-more {display:block;}
		[class*="lst-type-02"] .lst-tit {font-size:18px; font-weight:700; color:black;}
		[class*="lst-type-02"].bp-number-01 .lst-tit {align-items:center; flex:1; font-size:16px; font-weight:500;}
		[class*="lst-type-02"] .brd-num {width:23px; text-align:center;}
		[class*="lst-type-02"] .no-data {color:#999;}
		[class*="lst-type-02"] .lst-bottom {display:flex; width:calc(100% + 48px); margin:24px -24px -28px -24px;}
		[class*="lst-type-02"] .lst-bottom > * {flex:1; border-radius:0; border-top-left-radius:0; border-top-right-radius:0; font-weight:500;}
		[class*="lst-type-02"] .lst-bottom > *:first-child {border-bottom-left-radius:16px;}
		[class*="lst-type-02"] .lst-bottom > *:last-child {border-bottom-right-radius:16px;}

		.lst-type-02-01 > * {display:block; border-radius:16px; height:auto; padding:28px 24px;}
		.lst-type-02-01[class*="bp-number"] > * {display:flex; align-items:flex-start; flex-direction:column; gap:8px;}
		.lst-type-02-01[class*="bp-number"] > *:before {display:none; text-align:center;}
		.lst-type-02-01[class*="bp-number"] .lst-tit {display:flex; gap:12px;}
		.lst-type-02-01[class*="bp-number"] .lst-tit:before {counter-increment:list-num; content:counter(list-num); display:flex; align-items:center; justify-content:center; background:black; border-radius:50%; width:20px; height:20px; font-size:14px; font-weight:normal; color:white;}

		.lst-type-02-02 > * {gap:1.66vw; border-radius:16px; height:auto; padding:26px 24px;}

	/* Other */
		[class*="lst-tag"] {flex-wrap:wrap; gap:12px; margin-top:24px; font-size:14px;}
		[class*="lst-tag"] > * {display:flex; align-items:center; gap:18px; background:#eceeff; border-radius:34px; height:34px; padding:0 24px; color:var(--mc);}

/* Popup */
	.n-card.n-modal {border-radius:20px;}
	.n-modal-container .n-card__footer {display:flex; gap:10px;}
	.n-modal-container .n-card__footer [class*="btn-type"] {height:56px;}

/* Title */
	.tit-01 {font-size:24px;}
	.tit-02 {font-size:20px;}
	.tit-03 {font-size:28px;}

/* 페이지 */
	/* 관심 */
		.favor-list {display:flex; flex-direction:column; gap:12px; border-bottom:1px solid #f5f5f5; width:640px; height:auto; margin-top:40px; padding-bottom:40px;}
		.favor-list [class*="form-type-opt-btn"],
		.favor-list [class*="form-type-opt-btn"] label,
		.favor-list [class*="form-type-opt-btn"] .opt-txt {width:100%;}
		.favor-total-txt {margin:20px 0 40px;}

	/* 관심직무설정 */
		.favor-job-wrap {width:640px;}
		.favor-job-list-wrap {overflow:hidden; border:1px solid #e7e7e7; border-radius:14px; margin-top:30px;}
		.favor-job-list-top {display:flex; height:424px;}
		.favor-job-list-bot {border-top:1px solid #e7e7e7; padding:24px;}
		.favor-job-list {flex:0 0 254px; border-right:1px solid #e7e7e7; width:254px; padding:10px 0;}
		.favor-job-list > * > * {display:flex; justify-content:space-between; align-items:center; width:100%; min-height:42px; padding:0 23px; text-align:left;}
		.favor-job-list > * > *:after  {content:""; width:7px; height:11px;}
		.favor-job-list > *.active > *,
		.favor-job-list > * > *:hover {background:#f5f8fe; color:#1c4fa0;}
		.favor-job-list > *.active > *:after {background-image:var(--ico); background-size:var(--ico-sz); background-position:var(--650) var(--50);}

	/* 레이아웃 */
		/* 헤더 */
			.h-wrap {position:relative; flex:0 0 var(--init-hh); border-bottom:1px solid #ccd0d6; height:var(--init-hh); z-index:10;}
			.h-vbar-logo,
			.h-vbar-logo > * {gap:16px;}
			.h-vbar-logo > *:before {background:#ccc; height:28px;}
			.h-vbar-logo h2 {font-weight:500; font-size:20px;}
			.h-right-wrap {position:relative; gap:36px; width:auto;}
			.h-nav {gap:68px; font-size:20px; color:black;}
			.h-nav > *.active,
			.h-nav a:hover {color:var(--mdc);}
			.h-nav > *.active {font-weight:500;}
			.h-nav-sub-wrap {display:none; position:absolute; left:0; top:var(--init-hh); background:var(--mdc); width:100%; height:60px;}
			.h-nav-sub-wrap.active {display:flex;}
			.h-nav-submenu {display:none; gap:44px; color:#a3b7d0;}
			.h-nav-submenu > *:hover,
			.h-nav-submenu > *.active {color:white;}
			.h-nav-submenu:nth-child(1) {padding-left:430px;}
			.h-nav-submenu:nth-child(2) {padding-left:610px;}
			.h-nav-submenu:nth-child(3) {padding-left:920px;}
			.h-nav-submenu.active {display:flex;}
			.h-bookmark {display:none; position:absolute; position:fixed; left:0; top:0; width:100dvw; height:100dvh; z-index:10;}
			.h-bookmark:before {content:""; position:absolute; left:0; top:0; width:100dvw; height:100dvh; background:rgba(0, 0, 0, 0.1);}
			.h-bookmark-inner {position:absolute; right:0; top:78px; background:white; box-shadow:10px 10px 15px rgba(0, 0, 0, 0.07); border-radius:8px; width:460px; height:478px; padding:30px;}
			.h-bookmark-inner .n-tabs,
			.h-bookmark-inner .n-tab-pane {height:100%;}
			.h-bookmark-inner .n-tab-pane {overflow-y:auto;}
			.h-bookmark-open.active {z-index:100;}
			.h-bookmark-open.active .ic-ribbon:before {background-position:var(--250) 0;}
			.h-bookmark-open.active + .h-bookmark {display:block;}
			.h-bookmark .lst-type-02 > * {height:auto; padding:10px 24px;}
			.h-bookmark .form-type-opt-chk-02 {flex:1;}

		/* 푸터 */
			.f-wrap {flex:0 0 var(--init-fh); border-top:1px solid #ccd0d6; height:var(--init-fh);}
			.f-wrap .f-inner {gap:56px;}
			.f-vbar-logo,
			.f-vbar-logo > * {gap:16px;}
			.f-vbar-logo > *:before {background:#858585; height:28px;}
			.f-vbar-logo h2 {font-weight:500; font-size:24px; color:#999;}
			.f-address {font-size:14px; text-align:left; color:#999;}

		/* 내용 */
			#container {flex:1;}
			#sub-container {padding:80px 0 120px;}
			#contents .sub-title {display:flex; align-items:center; gap:24px;}