@media all and (max-width:720px) {
	/* root.css */
		:root {
			/* Initialize */
				--init-fs: 3.33vw; /* 글자 크기 */
				--init-font-size: 3.33vw;
				--init-hh: 16.66vw; /* 헤더 높이 */
				--init-fh: 47.36vw; /* 푸터 높이 */

			/* Background */
				--ico-c: url('..//images/m_common_icon.png'); /* [M] 공통 아이콘 이미지 경로 */
				--ico: url('../images/m_icon.png'); /* [M] 일반 아이콘 이미지 경로 */
				--bg-img: url('../images/m_bg.png'); /* [M] 일반 배경 이미지 경로 */
				--ico-sz: 138.88vw; /* [M] 이미지 스프라이트 크기 */
				--50: -6.94vw; /* 50 */
				--100: -13.89vw; /* 100 */
				--150: -20.83vw; /* 150 */
				--200: -27.78vw; /* 200 */
				--250: -34.72vw; /* 250 */
				--300: -41.67vw; /* 300 */
				--350: -48.61vw; /* 350 */
				--400: -55.56vw; /* 400 */
				--450: -62.50vw; /* 450 */
				--500: -69.44vw; /* 500 */
				--550: -76.39vw; /* 550 */
				--600: -83.33vw; /* 600 */
				--650: -90.28vw; /* 650 */
				--700: -97.22vw; /* 700 */
				--750: -104.17vw; /* 750 */
				--800: -111.11vw; /* 800 */
				--850: -118.06vw; /* 850 */
				--900: -125.00vw; /* 900 */
				--950: -131.94vw; /* 950 */

			/* Form */
				--fom-h: 12.5vw; /* 높이 */
				--fom-br: 1.66vw; /* 보더 라디우스 */
				--fom-pad: 5.83vw; /* 좌우 패딩 */
				--fom-fs: 3.33vw; /* 폰트 크기 */
				--fom-chk-ico-w: 3.06vw; /* 체크박스 아이콘 넓이 */
				--fom-chk-ico-h: 2.36vw; /* 체크박스 아이콘 높이 */
		}

	/* common.css */
		/* General */
			.mobile {display:block !important;}
			.pc {display:none !important;}

	/* accordion.css */
		[class*="aco-type"] .n-base-icon:before {flex:0 0 3.33vw; width:3.33vw; height:2.08vw;}

	/* popup.css */
		/* Popup Wrap */
		.n-modal-body-wrapper .n-modal {height:100dvh; max-height:100dvh;}

		/* Popup Close */
			[class*="pop-type"] [class*="pop-close"],
			.n-modal-container [class*="pop-close"] {flex:0 0 var(--pop-hh); width:14.16vw; height:14.16vw;}
			[class*="pop-type"] [class*="pop-close"]:before,
			.n-modal-container [class*="pop-close"]:before {background-size:var(--ico-sz); width:4.16vw; height:4.16vw;}
			[class*="pop-type"] .pop-close-no-header:before,
			.n-modal-container .pop-close-no-header:before {background-position:var(--200) var(--250);}

	/* wrap.css */
		[class*="wrap-inner"] {flex:0 0 var(--init-m-w); width:var(--init-m-w); min-width:100%; padding:0 var(--init-m-wr-side-pd);}
		[class*="wrap-center"] {width:var(--init-m-w); padding:var(--init-m-wr-side-pd);}

		[class*="m-wrap-flex"] {display:flex;}
		[class*="m-wrap-grid"] {display:grid !important;}
		[class*="wrap-flex"][class*="m-wrap-grid"] {display:grid;}
		[class*="wrap-grid"][class*="m-wrap-flex"] {display:flex;}

	/* custom.css */
		/* Accordion */
			.aco-type-01 .n-collapse-item__header-main {height:13.89vw; padding:0 5vw; font-size:3.89vw;}
			.aco-type-01 .n-collapse-item .n-collapse-item__content-wrapper .n-collapse-item__content-inner {padding:5vw;}

		/* Board */
			/* General */
				.brd-wrap .brd-tit {font-size:3.89vw;}
				.brd-wrap .brd-ctgy {font-size:3.33vw;}
				.brd-wrap .brd-sch {max-width:none;}

			/* Paging */
				.brd-paging {justify-content:space-between; gap:0.56vw; margin-top:9.03vw;}
				.brd-paging a {width:6.67vw; height:6.67vw;}
				.brd-paging > a {border-radius:1.11vw;}
				.brd-paging .brd-paging-first:before,
				.brd-paging .brd-paging-last:before {width:2.50vw; height:2.22vw;}
				.brd-paging .brd-paging-prev:before,
				.brd-paging .brd-paging-next:before {width:1.53vw; height:2.22vw;}

		/* Box */
			.box-type-01 {border-radius:2.08vw; box-shadow:0 1.11vw 4.58vw rgba(0, 0, 0, 0.08); padding:5.56vw 5.28vw;}
			.box-type-02 {border-radius:2.50vw; padding:5.56vw;}
			[class*="box-type-03"] {border-radius:2.50vw; padding:5.56vw;}
			.box-type-03-01 {padding:5.56vw;}
			.box-type-04 {border-radius:2.50vw; padding:5.00vw;}

		/* Button */
			/* Button Color */
			.btn-b-blk {border-color:black; color:black;}
			.btn-b-blk:hover {background:#f5f5f5; border-color:black; color:black;}
			.btn-b-lgry {border-color:#e2e2e2; color:#666;}

		/* Button Size */
			.btn-r-56 {height:12.50vw; font-size:4.17vw;}

		/* Form */
			/* Checkbox & Radio Type */
				/* Button */
					.form-type-opt-btn-01 .opt-txt,
					.form-type-opt-btn-01 input:checked + .opt-txt {border-radius:2.78vw; min-height:15.28vw; font-size:4.17vw;}

		/* Icon */
			.ic-delete:before {background-position:var(--650) var(--50); width:2.22vw; height:2.22vw;}
			.ic-notice:before {width:3.75vw; height:4.31vw;}
			.ic-refresh-02:before {background-position:var(--600) var(--50); width:3.06vw; height:3.47vw;}
			.ic-zoom:before {width:4.44vw; height:4.44vw;}

		/* List */
			[class*="lst-type-02"] {gap:2.22vw;}
			[class*="lst-type-02"] > * {border-radius:2.5vw; height:14.44vw; padding:0 5.27vw;}
			[class*="lst-type-02"] a {gap:2.22vw; font-size:3.33vw;}
			[class*="lst-type-02"] .lst-tit {font-size:3.89vw;}
			[class*="lst-type-02"] .brd-num {width:3.75vw;}
			[class*="lst-type-02"].bp-number-01 .lst-tit {font-size:3.06vw;}
			[class*="lst-type-02"] .lst-bottom {width:calc(100% + 10.82vw); margin:5.56vw -5.42vw -5.42vw -5.42vw;}
			[class*="lst-type-02"] .lst-bottom > * {height:10.00vw;}
			[class*="lst-type-02"] .lst-bottom > *:first-child {border-bottom-left-radius:2.50vw;}
			[class*="lst-type-02"] .lst-bottom > *:last-child {border-bottom-right-radius:2.50vw;}

			.lst-type-02-01 > * {border-radius:2.50vw; height:auto; padding:5.28vw;}
			.lst-type-02-01[class*="bp-number"] > * {gap:2.22vw;}
			.lst-type-02-01[class*="bp-number"] .lst-tit {gap:2.22vw;}
			.lst-type-02-01[class*="bp-number"] .lst-tit:before {width:4.58vw; height:4.58vw; font-size:3.06vw;}

			.lst-type-02-02 > * {align-items:flex-start; flex-direction:column; border-radius:2.50vw; height:auto; padding:5.28vw;}

			[class*="lst-tag"] {gap:1.67vw; margin-top:3.33vw; font-size:3.33vw;}
			[class*="lst-tag"] > * {gap:2.78vw; border-radius:8.89vw; height:8.89vw; padding:0 4.17vw;}

		/* Popup */
			.n-card.n-modal {border-radius:0; width:100dvw !important;}
			.n-card > .n-card-header {flex:0 0 15vw; padding:0 var(--init-m-wr-side-pd); height:15vw;}
			.n-card > .n-card__content {padding:0 var(--init-m-wr-side-pd) 3.88vw; font-size:var(--init-fs);}
			.n-modal-container .n-card__footer {gap:10px; padding:0 var(--init-m-wr-side-pd) 8.33vw;}
			.n-modal-container .n-card__footer [class*="btn-type"] {height:var(--fom-h);}

		/* Title */
			.tit-01 {font-size:5vw;}
			.tit-02 {font-size:3.61vw; font-weight:500;}
			.tit-03 {font-size:5vw;}

	/* 페이지 */
		/* 관심 */
			.favor-list {gap:1.67vw; width:90dvw; margin-top:5.56vw; padding-bottom:5.56vw;}
			.favor-total-txt {margin:2.78vw 0 5.56vw;}

		/* 관심직무설정 */
			.favor-job-wrap {width:100dvw; font-size:3.89vw;}
			.favor-job-list-wrap {border-radius:0; border:0; border-top:1px solid #e2e2e2; margin:5.28vw calc(var(--init-m-wr-side-pd) * -1) 0;}
			.favor-job-list-top {height:101.94vw;}
			.favor-job-list-bot {border:0; padding:5.00vw;}
			.favor-job-list {flex:0 0 45.83vw; width:45.83vw; padding:0;}
			.favor-job-list > * > * {min-height:13.89vw; padding:0 4.72vw;}
			.favor-job-list > * > *:after  {display:none;}

	/* 레이아웃 */
		/* 헤더 */
		.h-wrap > .wrap-inner {padding-right:0;}
		.h-vbar-logo,
		.h-vbar-logo > * {gap:2.77vw;}
		.h-vbar-logo > *:before {height:5vw;}
		.h-vbar-logo h1 img {width:32.91vw;}
		.h-vbar-logo h2 {font-size:4.44vw;}
		.h-btn-hamburger {display:flex; align-items:center; justify-content:center; width:var(--init-hh); height:var(--init-hh);}
		.h-btn-hamburger:before {content:""; background-position:var(--150) var(--600); background-image:var(--ico-c); background-size:var(--ico-sz); width:5.55vw; height:4.3vw;}
		.h-btn-hamburger-close {display:flex; align-items:center; justify-content:center; position:absolute; right:0; top:0; width:var(--init-hh); height:var(--init-hh);}
		.h-btn-hamburger-close:before {content:""; background-position:var(--200) var(--600); background-image:var(--ico-c); background-size:var(--ico-sz); width:4.16vw; height:4.16vw;}
		.h-panel {display:none; position:fixed; left:0; top:0; background:rgba(0, 0, 0, 0.5); width:100dvw; height:100dvh; padding-left:10.27vw;}
		.h-panel.active {display:block;}
		.h-panel-inner {display:flex; flex-direction:column; background:white; width:100%; height:100dvh;}
		.h-panel-info {height:33.61vw; padding:12.5vw 5.55vw 0;}
		.h-usr-nm {font-size:6.66vw; font-weight:700;}
		.h-panel-cont {display:flex; flex-direction:column; flex:1; height:calc(100dvh - 33.61vw); padding:0 5.55vw;}
		.h-panel-cont .n-tabs {overflow:hidden; height:100%;}
		.h-panel-cont .n-tab-pane {overflow-y:auto;}
		.h-btn-logout {border-top:1px solid #ededed; height:21.38vw;}
		.h-m-menu > * {display:flex; flex-direction:column; gap:5.27vw; padding:5.27vw 0;}
		.h-m-menu > *:first-child {padding-top:0;}
		.h-m-menu > * + * {border-top:1px solid #ededed;}
		.h-m-menu > * > a {font-size:3.33vw; font-weight:700;}
		.h-m-submenu {display:flex; flex-direction:column; gap:5.27vw; font-size:4.16vw;}

		/* 푸터 */
			.f-wrap .f-inner {flex-direction:column; align-items:flex-start; gap:5.55vw;}
			.f-vbar-logo,
			.f-vbar-logo > * {gap:2.77vw;}
			.f-vbar-logo > *:before {height:5vw;}
			.f-vbar-logo h1 img {width:32.91vw;}
			.f-vbar-logo h2 {font-size:4.44vw;}
			.f-address {font-size:3.33vw;}

		/* 내용 */
			#sub-container {padding:8.33vw 0;}
			#sub-container > .wrap-inner,
			#sub-container.wrap-inner {padding-left:5vw; padding-right:5vw;}
			#contents .sub-title {gap:3.89vw;}
}