@media all and (max-width:720px) {
	/* root.css */
		:root {
			/* Initialize */
				--init-fs: 3.33vw; /* 글자 크기 */
				--init-hh: 16.66vw; /* 헤더 높이 */
				--init-fh: 47.36vw; /* 푸터 높이 */

			/* Background */
				--ico-c: url('..//images/m_common_icon.png'); /* [M] 공통 아이콘 이미지 경로 */
				--ico: url('../images/m_icon.png'); /* [M] 일반 아이콘 이미지 경로 */
				--bg-img: url('../images/m_bg.png'); /* [M] 일반 배경 이미지 경로 */
				--ico-sz: 138.88vw; /* [M] 이미지 스프라이트 크기 */
				--50: -6.94vw; /* 50 */
				--100: -13.89vw; /* 100 */
				--150: -20.83vw; /* 150 */
				--200: -27.78vw; /* 200 */
				--250: -34.72vw; /* 250 */
				--300: -41.67vw; /* 300 */
				--350: -48.61vw; /* 350 */
				--400: -55.56vw; /* 400 */
				--450: -62.50vw; /* 450 */
				--500: -69.44vw; /* 500 */
				--550: -76.39vw; /* 550 */
				--600: -83.33vw; /* 600 */
				--650: -90.28vw; /* 650 */
				--700: -97.22vw; /* 700 */
				--750: -104.17vw; /* 750 */
				--800: -111.11vw; /* 800 */
				--850: -118.06vw; /* 850 */
				--900: -125.00vw; /* 900 */
				--950: -131.94vw; /* 950 */

			/* Form */
				--fom-h: 12.5vw; /* 높이 */
				--fom-br: 1.66vw; /* 보더 라디우스 */
				--fom-pad: 5.83vw; /* 좌우 패딩 */
				--fom-fs: 3.33vw; /* 폰트 크기 */
		}

	/* popup.css */
		/* Popup Wrap */
		.n-modal-body-wrapper .n-modal {max-height:100dvh;}

		/* Popup Close */
			[class*="pop-type"] [class*="pop-close"],
			.n-modal-container [class*="pop-close"] {flex:0 0 var(--pop-hh); width:14.16vw; height:14.16vw;}
			[class*="pop-type"] [class*="pop-close"]:before,
			.n-modal-container [class*="pop-close"]:before {background-size:var(--ico-sz); width:4.16vw; height:4.16vw;}
			[class*="pop-type"] .pop-close-no-header:before,
			.n-modal-container .pop-close-no-header:before {background-position:var(--200) var(--250);}

	/* custom.css */
		/* Popup */
			.n-card.n-modal {border-radius:0; width:100dvw !important;}
			.n-card > .n-card-header {flex:0 0 15vw; padding:0 var(--init-m-wr-side-pd); height:15vw;}
			.n-card > .n-card__content {padding:0 var(--init-m-wr-side-pd) 3.88vw; font-size:var(--init-fs);}
			.n-modal-container .n-card__footer {gap:10px; padding:0 var(--init-m-wr-side-pd) 8.33vw;}
			.n-modal-container .n-card__footer [class*="btn-type"] {height:var(--fom-h);}
}