:root {
	/* Initialize */
		--init-background-color: white; /* 배경색 */
		--init-font-color: black; /* 글자색 */
		--init-font-family: Poppins, Noto Sans KR; /* 글자체 */
		--init-font-size: 16px; /* 글자 크기 */
		--init-footer-height: 232px; /* 푸터 높이 */
		--init-header-height: 148px; /* 헤더 높이 */
		--init-line-height: 1.2; /* 행간 */
		--init-letter-spacing: -0.02em; /* 자간 */
		--init-layout-width: 1200px; /* 페이지 넓이 */
		--init-mobile-design-width: 720; /* 모바일 디자인 넓이 */

	/* Initialize - Mobile */
		--m-init-footer-height: 232px; /* 푸터 높이 */
		--m-init-header-height: 148px; /* 헤더 높이 */
		--m-init-layout-padding: 36; /* 모바일 패딩 인라인 */

	/* Scroll */
		--scr-w: 4px; /* 넓이 */
		--scr-br: 4px; /* 보더 라디우스 */
		--scr-bg1: #f1f1f1; /* 배경색 */
		--scr-bg2: var(--mc); /* 색상 */
}