[class*=popover-type]{
	max-width:100dvw;
}
[class*=popover-type] .part-arrow:before{
	background-image:var(--ic-c);
	background-position:var(--bp-150) var(--bp-tooltip);
	background-size:var(--bg-sz);
	content:"";
	display:block;
	height:14px;
	width:18px;
}
[class*=popover-type] .part-close{
	height:auto;
	position:absolute;
	right:0;
	top:0;
}
[class*=popover-type] .part-close:before{
	background-image:var(--ic-c);
	background-position:var(--bp-200) var(--bp-tooltip);
	background-size:var(--bg-sz);
	content:"";
	display:block;
	height:14px;
	width:14px;
}