/* Icon */
.ic-menu-01:before { width: 135px; height: 87px; }
.ic-menu-02:before { --bp-pos-x: var(--bp-150); width: 113px; height: 102px; }
.ic-menu-03:before { --bp-pos-x: var(--bp-300); width: 171px; height: 70px; }
.ic-menu-04:before { --bp-pos-x: var(--bp-500); width: 135px; height: 89px; }
.ic-menu-05:before { --bp-pos-x: var(--bp-650); width: 151px; height: 85px; }
.ic-menu-06:before { --bp-pos-x: var(--bp-850); width: 131px; height: 50px; }

.ic-info:before { --bp-pos-y: var(--bp-100); width: 36px; height: 36px; }
.ic-faq:before { --bp-pos-x: var(--bp-50); --bp-pos-y: var(--bp-100); width: 38px; height: 38px; }

/* Page */
.main-home { height: 100%; }
.main-home-inner { padding: 45px; }
.main-menu { display: grid; grid-template-columns: repeat(3, 1fr); column-gap: 36px; row-gap: 48px; }
.main-menu > * { display: grid; background: white; box-shadow: 0 0 10px rgba(0, 0, 0, 0.17); border-radius: 20px; width: 271px; height: 300px; font-size: 32px; }
.main-menu > *:hover { background-color: #ffb600; }
.main-menu > * a { display: flex; flex-direction: column; justify-content: space-evenly; text-align: center; }
.main-menu [class*="ic-"] { height: 102px; }

.main-quick-menu { display: grid; grid-template-columns: repeat(2, 1fr); column-gap: 34px; margin-top: 50px; }
.main-quick-menu > * { display: flex; background: white; box-shadow: 0 0 10px rgba(0, 0, 0, 0.17); border-radius: 20px; width: 427px; height: 121px; font-size: 32px; }
.main-quick-menu > *:hover { background-color: #ffb600; }
.main-quick-menu > * a { display: flex; gap: 24px; justify-content: center; align-items:center; width: 100%; }