/* Box */
	.box-type-01 {
		--box-bg-c: white;
		--box-pd-a: 45;
		--box-br-a: 16;
		--box-bd-a-w: 4;
		--box-bd-a-s: solid;
		--box-bd-a-c: #e2e2e2;
	}

/* Button */
	[class*="btn-type"] {
		--btn-min-h: 140;
		--btn-txt-c: black;
		--btn-txt-s: 42;
		--btn-br-a: 20;

		--btn-over-bg-c: var(--btn-bg-c);
		--btn-over-txt-c: var(--btn-txt-c);
	}

	[class*="btn-type"]:hover {
		--btn-over-bg-c: var(--btn-bg-c);
		--btn-over-bd-a-c: var(--btn-bg-c);
		--btn-over-txt-c: var(--btn-txt-c);
	}

	.btn-type-gry {
		--btn-bg-c: #464646;
		--btn-bd-a-c: #464646;
		--btn-txt-c: white;
	}

/* Form */
	/* Selector */
		.form-slt-chk-01 {
			--form-w: 40;
			--form-h: 40;
			--form-br-a: 8;
			--form-txt-s: 32;
		}

		.form-slt-btn-01 {
			--form-bd-a-c: black;
			--form-bd-a-w: 2;
			--form-txt-s: 28;
			--form-pd-x: 0;
			--form-br-a: 14;
			--form-min-h: 60;
			--form-gap-a: 0;

			--form-focus-bd-a-c: var(--mc);
		}

		.form-slt-btn-01 .part-slt-txt { flex-direction: column; justify-content: space-around; border-bottom-right-radius: 0; border-bottom-left-radius: 0; width: 60px; padding-bottom: 8px; }
		.form-slt-btn-01 .part-slt-txt:after { content:""; width: 100%; height: 2px; background: var(--form-bd-a-c); }
		.form-slt-btn-01 input:checked+.part-slt-txt:after { background-color: white; }
		.form-slt-btn-01 input:disabled+.part-slt-txt:after { background-color: var(--form-dis-bd-a-c); }

/* Icon */
	.ic-menu-01 { --icon-w: 135; --icon-h: 87; }
	.ic-menu-02 { --icon-bg-pos-x: var(--bp-150); --icon-w: 113; --icon-h: 102; }
	.ic-menu-03 { --icon-bg-pos-x: var(--bp-300); --icon-w: 171; --icon-h: 70; }
	.ic-menu-04 { --icon-bg-pos-x: var(--bp-500); --icon-w: 135; --icon-h: 89; }
	.ic-menu-05 { --icon-bg-pos-x: var(--bp-650); --icon-w: 151; --icon-h: 85; }
	.ic-menu-06 { --icon-bg-pos-x: var(--bp-850); --icon-w: 131; --icon-h: 50; }

	.ic-info { --icon-bg-pos-y: var(--bp-100); --icon-w: 36; --icon-h: 36; }
	.ic-faq { --icon-bg-pos-x: var(--bp-50); --icon-bg-pos-y: var(--bp-100); --icon-w: 38; --icon-h: 38; }
	.ic-time { --icon-bg-pos-x: var(--bp-100); --icon-bg-pos-y: var(--bp-100); --icon-w: 26; --icon-h: 34; }

	.ic-chk {
		--icon-bg-pos-x: 0; --icon-bg-pos-y: var(--bp-150); --icon-w: 150; --icon-h: 114;
		background:#dee5ff; border-radius: 50%; width: 298px; height: 298px;
	}
	.ic-exc { background:#fbdbdb; border-radius: 50%; width: 298px; height: 298px; }
	.ic-exc:before { content: "!"; background: none; line-height: 1; font-style: normal; font-size: 182px; font-weight: bold; color: #e20000; }

/* Popup */
	[class*="pop-type"] { display: none; }
	[class*="pop-type"].active { display: block; }

	.pop-type-01 {
		--pop-w: 1080;
		--pop-br-a: 0;

		--pop-head-bg-c: white;
		--pop-head-min-h: 109;
		--pop-head-txt-c: black;
		--pop-head-txt-s: 36;
		--pop-head-pd-l: 45;

		--pop-cont-pd-x: 0;
		--pop-cont-pd-y: 0;

		--pop-foot-pd-x: 80;
		--pop-foot-h: 220;
		--pop-foot-gap-a: 23;
		--pop-bd-a-w: 0;

		--pop-cont-txt-s: 36;

		--pop-close-wrap-w: var(--pop-head-min-h);

		--pop-max-h-unit: 100dvh;

		--pop-close-not-head-bg-pos-x: -150;
		--pop-close-w: 30;
		--pop-close-h: 30;
	}

	.pop-type-01 .part-wrap { height: 100dvh; }
	.pop-type-01 .part-foot { background:#f5f5f5; }
	.pop-type-01 .part-foot [class*="btn-type"] { flex: 1; }

	.pop-type-alert {
		--pop-w: 908;
		--pop-br-a: 20;
		--pop-cont-pd-x: 80;
		--pop-cont-pd-y: 80;
		--pop-foot-pd-x: 80;
		--pop-foot-h: 220;
		--pop-bd-a-w: 0;

		--pop-cont-txt-s: 36;
	}

	.pop-type-alert .part-foot { place-items: flex-start; }
	.pop-type-alert .part-foot [class*="btn-type"] { flex: 1; }

/* Title */
	.tit-01 { font-size: 42px; font-weight: 500; }
	.tit-02 { font-size: 46px; }

/* Page */
	.main-home { height: 100%; }
	.main-home-inner { padding: 45px; }
	.main-menu { display: grid; grid-template-columns: repeat(3, 1fr); column-gap: 36px; row-gap: 48px; }
	.main-menu > * { display: grid; background: white; box-shadow: 0 0 10px rgba(0, 0, 0, 0.17); border-radius: 20px; width: 271px; height: 300px; font-size: 32px; }
	.main-menu > *:hover { background-color: #ffb600; }
	.main-menu > * a { display: flex; flex-direction: column; justify-content: space-evenly; text-align: center; }
	.main-menu [class*="ic-"] { height: 102px; }

	.main-quick-menu { display: grid; grid-template-columns: repeat(2, 1fr); column-gap: 34px; margin-top: 50px; }
	.main-quick-menu > * { display: flex; background: white; box-shadow: 0 0 10px rgba(0, 0, 0, 0.17); border-radius: 20px; width: 427px; height: 121px; font-size: 32px; }
	.main-quick-menu > *:hover { background-color: #ffb600; }
	.main-quick-menu > * a { display: flex; gap: 24px; justify-content: center; align-items:center; width: 100%; }

	.seat-map { display: flex; flex-direction: column; align-items: center; justify-content: center; max-width: 1080px; height: 100%; margin: 80px auto 0; }
	.seat-map .seat-blackboard { display: flex; justify-content: center; align-items: center; background: #c6ccce; border-radius: 10px; height: 60px; font-size: 36px; font-weight: 700; text-align: center; color: white; }
	.seat-map .seat-door-wrap { position: relative; background: #aaa; min-width: 3px; min-height: 3px; }
	.seat-map [class*="seat-door-icon"] { position: absolute; background: white; width: 47px; height: 45px; border: 1px solid #aaa; }
	.seat-map .seat-door-icon-01 { border-top-left-radius: 47px; border-bottom: 0; }
	.seat-map .seat-door-icon-02 { border-top-right-radius: 47px; border-bottom: 0; }
	.seat-map .seat-door-icon-03 { border-bottom-right-radius: 47px; border-left: 0; }
	.seat-map .seat-door-icon-04 { border-top-right-radius: 47px; border-left: 0; }
	.seat-map .seat-door-icon-05 { border-top-right-radius: 47px; border-left: 0; }
	.seat-map .seat-door-icon-06 { border-top-left-radius: 47px; border-right: 0; }
	.seat-map .seat-group { display: grid; }
	.seat-map .seat-group:before { content:""; border-radius: 2px; border: 1px solid #666666; width: 100%; height: 40px; }
	.seat-map .seat-group-chk { display: flex; gap: 19px; margin-top: 16px; padding: 0 10px; }