body {display:flex; flex-direction:column; flex-wrap:nowrap; justify-content:space-between; height:100dvh;}
.h-wrap { display: flex; justify-content: space-between; align-items: flex-end; background: url("../images/img/bg_header.png") no-repeat; background-size: 100% 100%; height: 212px; padding:0 45px 72px; }
.h-wrap .h-logo { width: 390px; }
.h-wrap .h-logo img { width: 100%; }
.h-wrap .h-datetime { font-size: 29px; text-align: center; }
.h-wrap .h-datetime strong { font-size: 36px;}

#container { flex: 1; }

@media (max-width:1080px){
	.h-wrap{ height: 19.63vw; padding: 0 4.17vw 6.67vw; }
	.h-wrap .h-logo { width: 36.11vw; }
	.h-wrap .h-datetime { font-size: 2.69vw; }
	.h-wrap .h-datetime strong { font-size: 3.33vw; }
}