body {display:flex; flex-direction:column; flex-wrap:nowrap; justify-content:space-between; height:100dvh;}
.h-wrap { display: flex; justify-content: space-between; align-items: flex-end; background: url("../images/img/bg_header.png") no-repeat; background-size: 100% 100%; height: 212px; padding:0 45px 72px; }
.h-wrap .h-logo { width: 390px; }
.h-wrap .h-logo img { width: 100%; }
.h-wrap .h-datetime { font-size: 29px; text-align: center; }
.h-wrap .h-datetime strong { font-size: 36px; }

.h-wrap-02 { display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid #e2e2e2; height: 107px; padding: 0 36px; }
.h-wrap-02 .h-tit { display: flex; align-items: center; gap: 16px; font-size: 36px; font-weight: 700; }
.h-wrap-02 .h-tit [class*="ic-"] { display: flex; }

#container { flex: 1; }
.sub-top { background:#f5f5f5; padding: 50px var(--init-layout-pad-x); }
.sub-top .sub-tit { font-size: 62px; font-weight: 700; }
.sub-top .sub-desc { margin-top: 40px; font-size: 36px; }
.sub-bottom { position: sticky; left: 0; bottom: 0; background:#f5f5f5; padding: 50px var(--init-layout-pad-x); }
.contents { background:white; padding: 62px var(--init-layout-pad-x); height: 100%; }

@media (max-width:1080px){
	.h-wrap{ height: 19.63vw; padding: 0 4.17vw 6.67vw; }
	.h-wrap .h-logo { width: 36.11vw; }
	.h-wrap .h-datetime { font-size: 2.69vw; }
	.h-wrap .h-datetime strong { font-size: 3.33vw; }

	.h-wrap-02 { height: 14.86vw; padding: 0 5vw; }
	.h-wrap-02 .h-tit { gap: 2.22vw; font-size: 5vw; }

	.sub-top { padding: 4.63vw var(--init-layout-pad-x); }
	.sub-top .sub-tit { font-size: 5.74vw; }
	.sub-top .sub-desc { margin-top: 3.7vw; font-size: 3.33vw; }
	.sub-bottom { padding: 4.63vw var(--init-layout-pad-x); }
	.contents { padding: 5.74vw var(--init-layout-pad-x); }
}