@media (max-width:1080px) {
	/* Icon */
	.ic-menu-01:before { width: 12.5vw; height: 8.06vw; }
	.ic-menu-02:before { width: 10.46vw; height: 9.44vw; }
	.ic-menu-03:before { width: 15.83vw; height: 6.48vw; }
	.ic-menu-04:before { width: 12.5vw; height: 8.24vw; }
	.ic-menu-05:before { width: 14vw; height: 7.78vw; }
	.ic-menu-06:before { width: 12.17vw; height: 4.57vw; }

	.ic-info:before { width: 3.33vw; height: 3.33vw; }
	.ic-faq:before { width: 3.52vw; height: 3.52vw; }

	.main-menu { column-gap: 3.33vw; row-gap: 4.44vw; }
	.main-home-inner { padding: 4.17vw; }
	.main-menu > * { box-shadow: 0 0 0.93vw rgba(0, 0, 0, 0.17); border-radius: 1.85vw; width: 25.09vw; height: 27.78vw; font-size: 2.96vw; }
	.main-menu [class*="ic-"] { height: 9.44vw; }
	.main-quick-menu { column-gap: 3.15vw; margin-top: 4.63vw; }
	.main-quick-menu > * { box-shadow: 0 0 0.93vw rgba(0, 0, 0, 0.17); border-radius: 1.85vw; width: 39.63vw; height: 11.20vw; font-size: 2.96vw; }
	.main-quick-menu > * a { gap: 2.22vw; }
}