:root{
	--init-background-color:#fffbf1;
	--init-font-color:#000;
	--init-font-family:Poppins, Noto Sans KR;
	--init-txt-s:32;
	--init-footer-height:232px;
	--init-header-height:212px;
	--init-line-height:1.2;
	--init-letter-spacing:-0.02em;
	--init-layout-width:1080px;
	--init-mobile-design-width:1080;
	--init-layout-pad-x:45px;
	--bg-img:url(/samilkiosk/);
	--ic-c:url(/samilkiosk/images/common_icon.png);
	--ic:url(/samilkiosk/images/icon.png);
	--bg-sz:1000px;
	--bp-50:-50;
	--bp-100:-100;
	--bp-150:-150;
	--bp-200:-200;
	--bp-250:-250;
	--bp-300:-300;
	--bp-350:-350;
	--bp-400:-400;
	--bp-450:-450;
	--bp-500:-500;
	--bp-550:-550;
	--bp-600:-600;
	--bp-650:-650;
	--bp-700:-700;
	--bp-750:-750;
	--bp-800:-800;
	--bp-850:-850;
	--bp-900:-900;
	--bp-950:-950;
	--bp-rating:0;
	--bp-selection:var(--bp-50);
	--bp-input:var(--bp-100);
	--bp-calendar:var(--bp-150);
	--bp-select:var(--bp-200);
	--bp-popup:var(--bp-250);
	--bp-accordion:var(--bp-300);
	--bp-floating:var(--bp-350);
	--bp-swiper:var(--bp-450);
	--bp-tree:var(--bp-500);
	--bp-paging:var(--bp-550);
	--bp-tooltip:var(--bp-600);
	--mc:#ffb600;
	--moc:#424242;
	--mlc:silver;
	--mdc:#222;
	--mic:#f65555;
		--st-red:#f94144;
	--st-org:#f3722c;
	--st-ylw:#f9c74f;
	--st-grn:#90be6d;
	--st-sky:#57bed6;
	--st-blu:#6670c9;
	--st-pur:#9c71d4;
		--dis-bg:#e7e7e7;
	--dis-bdr:#ccc;
	--dis-c:#999;
		--valid-bg:#fff;
	--valid-bdr:#1b680c;
	--invalid-bg:#fff;
	--invalid-bdr:#ff0048;
	--fom-h:48;
	--fom-br:8;
	--fom-pad:var(--init-txt-s);
	--fom-fs:var(--init-txt-s);
	--fom-bg:#fff;
	--fom-bdr-c:#e2e2e2;
	--fom-fcs-brd-c:var(--moc);
	--fom-fcs-bg-c:var(--moc);
	--fom-fcs-ft-c:#fff;
	--fom-fc:#222;
	--fom-ph:#999;
	--fom-caret-c:var(--mc);
	--fom-rg-h:4;
	--fom-rg-thb-sz:16;
	--fom-dropitem:5.5;
	--fom-lh:calc(var(--fom-h) - 2px);
	--fom-ta-h:120;
	--pop-w:720;
	--pop-pad:20;
	--pop-max-h:95dvh;
	--pop-br:10;
	--pop-hh:48;
	--pop-fh:136;
	--pop-cont-top-pad:20;
	--pop-cont-bot-pad:20;
	--scr-w:4px;
	--scr-br:4px;
	--scr-bg1:var(--mlc);
	--scr-bg2:var(--mc);
	--trans-dft:.3s ease;
}
@media (max-width:1080px){
	:root{
		--init-layout-pad-x:4.17vw;
		--t-init-txt-s:2.96vw;
		--bg-sz:92.59vw;
	}
}