:root{
	--init-background-color:#fffbf1;
	--init-font-color:#000;
	--init-font-family:Poppins, Noto Sans KR;
	--init-txt-s:16;
	--init-footer-height:232px;
	--init-header-height:212px;
	--init-line-height:1.2;
	--init-letter-spacing:-0.02em;
	--init-layout-width:1080px;
	--init-mobile-design-width:1080;
	--init-layout-padding:0;
	--bg-img:url(/samilkiosk/);
	--ic-c:url(/samilkiosk/images/common_icon.png);
	--ic:url(/samilkiosk/images/icon.png);
	--bg-sz:1000px;
	--bp-50:-50px;
	--bp-100:-100px;
	--bp-150:-150px;
	--bp-200:-200px;
	--bp-250:-250px;
	--bp-300:-300px;
	--bp-350:-350px;
	--bp-400:-400px;
	--bp-450:-450px;
	--bp-500:-500px;
	--bp-550:-550px;
	--bp-600:-600px;
	--bp-650:-650px;
	--bp-700:-700px;
	--bp-750:-750px;
	--bp-800:-800px;
	--bp-850:-850px;
	--bp-900:-900px;
	--bp-950:-950px;
	--bp-rating:0;
	--bp-selection:var(--bp-50);
	--bp-input:var(--bp-100);
	--bp-calendar:var(--bp-150);
	--bp-select:var(--bp-200);
	--bp-popup:var(--bp-250);
	--bp-accordion:var(--bp-300);
	--bp-floating:var(--bp-350);
	--bp-swiper:var(--bp-450);
	--bp-tree:var(--bp-500);
	--bp-paging:var(--bp-550);
	--bp-tooltip:var(--bp-600);
	--mc:#9e9e9e;
	--moc:#424242;
	--mlc:silver;
	--mdc:#222;
	--mic:#f65555;
		--st-red:#f94144;
	--st-org:#f3722c;
	--st-ylw:#f9c74f;
	--st-grn:#90be6d;
	--st-sky:#57bed6;
	--st-blu:#6670c9;
	--st-pur:#9c71d4;
		--dis-bg:#e7e7e7;
	--dis-bdr:#ccc;
	--dis-c:#999;
		--valid-bg:#fff;
	--valid-bdr:#1b680c;
	--invalid-bg:#fff;
	--invalid-bdr:#ff0048;
	--fom-h:48;
	--fom-br:8;
	--fom-pad:var(--init-txt-s);
	--fom-fs:var(--init-txt-s);
	--fom-bg:#fff;
	--fom-bdr-c:#e2e2e2;
	--fom-fcs-brd-c:var(--moc);
	--fom-fcs-bg-c:var(--moc);
	--fom-fcs-ft-c:#fff;
	--fom-fc:#222;
	--fom-ph:#999;
	--fom-caret-c:var(--mc);
	--fom-rg-h:4;
	--fom-rg-thb-sz:16;
	--fom-dropitem:5.5;
	--fom-lh:calc(var(--fom-h) - 2px);
	--fom-ta-h:120;
	--pop-w:720;
	--pop-pad:20;
	--pop-max-h:95dvh;
	--pop-br:10;
	--pop-hh:48;
	--pop-fh:136;
	--pop-cont-top-pad:20;
	--pop-cont-bot-pad:20;
	--scr-w:4px;
	--scr-br:4px;
	--scr-bg1:var(--mlc);
	--scr-bg2:var(--mc);
	--trans-dft:.3s ease;
}
@media (max-width:1080px){
	:root{
		--bg-sz:92.59vw;
		--bp-50:-4.63vw;
		--bp-100:-9.26vw;
		--bp-150:-13.89vw;
		--bp-200:-18.52vw;
		--bp-250:-23.15vw;
		--bp-300:-27.78vw;
		--bp-350:-32.41vw;
		--bp-400:-37.04vw;
		--bp-450:-41.67vw;
		--bp-500:-46.3vw;
		--bp-550:-50.93vw;
		--bp-600:-55.56vw;
		--bp-650:-60.19vw;
		--bp-700:-64.81vw;
		--bp-750:-69.44vw;
		--bp-800:-74.07vw;
		--bp-850:-78.7vw;
		--bp-900:-83.33vw;
		--bp-950:-87.96vw;
	}
}