/* Accordion */
	.aco-type-01 .aco-head {height:54px; padding:0 24px;}
	.aco-type-01 > * + *,
	.aco-type-01 .aco-cont {border-top:1px solid #efefef; text-align:left;}
	.aco-type-01 .aco-cont[data-p-active="true"] {padding:24px;}
	.aco-type-01 > .aco-item > .aco-head .aco-icon::after {width:14px; height:8px;}

/* Board */
	/* General */
		.brd-wrap .brd-tit {font-size:18px; font-weight:500; color:black;}
		.brd-wrap .brd-chip-lst {display:flex; gap:4px;}
		.brd-wrap .brd-cont {color:#666;}
		.brd-wrap .brd-ctgy {--div-gap:9px; font-size:14px; font-weight:500;}
		.brd-wrap .brd-date-wrap {margin-top:12px; display:flex; flex-direction:column; gap:8px;}
		.brd-wrap .brd-date-wrap > * {display:flex; gap:12px;}

	/* List */
		.brd-lst-01:not(.swiper-wrapper) {display:flex; gap:40px;}
		.brd-lst-01 [class*="thumb-type"] {border-radius:20px; width:270px; height:152px; font-size:20px; font-weight:500; color:white;}
		.brd-lst-01 [class*="thumb-type"] > .thumb-lt {padding:12px;}
		.brd-lst-01 [class*="thumb-type"] > .thumb-rt {padding:12px;}
		.brd-lst-01 [class*="thumb-type"] > .thumb-c {width:100%; text-align:center;}
		.brd-lst-01 [class*="thumb-type"] .chip-type-01 {border:0; color:white;}
		.brd-lst-01 [class*="thumb-type"]:before {position:absolute; left:0; top:0; mix-blend-mode: color; width:100%; height:100%;}
		.brd-lst-01 .thumb-type-blu .chip-type-01 {background-color:#004386;}
		.brd-lst-01 .thumb-type-grn .chip-type-01 {background-color:#00866b;}
		.brd-lst-01 .thumb-type-lgrn .chip-type-01 {background-color:#7b9904;}
		.brd-lst-01 .thumb-type-ylw .chip-type-01 {background-color:#bb681e;}

		.brd-lst-01 .brd-cont {display:flex; flex-direction:column; gap:12px; margin-top:16px;}

		.brd-lst-02:not(.swiper-wrapper) {display:flex; gap:40px;}
		.brd-lst-02 > * {border:1px solid #e7e7e7; border-radius:18px; padding:32px;}
		.brd-lst-02 .brd-tit {margin-top:14px;}

/* Box */
	.box-type-01 {--box-bg-c:white; --box-sha-size:33px; --box-sha-opa:0.06; --box-bd-r:30px;}
	[class*="box-type-02"] {--box-bg-c:white; --box-bd-c:#e2e2e2; --box-bd-r:20px; --box-pd:40px;}
	.box-type-02-01 {--box-pd:30px;}
	.box-type-03 {--box-bg-c:#f5f5f5; --box-bd-c:transparent; --box-bd-r:18px; --box-pd:initial; --box-pd-x:30px; --box-pd-y:22px;}

/* Button */
	/* Color */
		.btn-type-blu {--btn-bg-c:#004386; --btn-bd-c:#004386; --btn-ft-c:white;}
		.btn-type-pur {--btn-bg-c:#a6165f; --btn-bd-c:#a6165f; --btn-ft-c:white;}

		.btn-type-b-lgry {--btn-bd-c:#dbdbdb; --btn-ft-c:#666;}
		.btn-type-b-blk {--btn-bd-c:#000; --btn-ft-c:#000;}

	/* Size */
		.btn-sz-34 {--btn-h:34px; --btn-bd-r:34px; --btn-ft-s:14px;}

	/* Other */
		.btn-refresh {color:#666;}

/* Chip */
	[class*="chip-type-01"] {--chip-bg-c:#ffffff; --chip-bd-c:#ccc; --chip-bd-r:4px; --chip-pd-x:7px; --chip-h:20px; --chip-ft-s:12px; --chip-ft-c:#666; font-weight:bold;}

	.chip-type-01-blu {--chip-bd-c:#004386; --chip-ft-c:#004386;}
	.chip-type-01-red {--chip-bg-c:#bb1e55; --chip-bd-c:#bb1e55; --chip-ft-c:white;}

/* Divider */
	/* Horizontal */
		.div-h-01 {--div-bg-c:#eaeaea; --div-h:1px; --div-gap:40px;}

	/* Vertical */
		.div-v-01 {--div-bg-c:rgba(255, 255, 255, 0.5); --div-gap:16px; --div-h:10px;}
		.div-v-02 {--div-bg-c:#eaeaea; --div-h:80px; --div-gap:40px;}
		.div-v-03 {--div-bg-c:#e2e2e2; --div-h:10px; --div-gap:12px;}
		.div-v-04 {--div-bg-c:black; --div-h:14px; --div-gap:9px;}

/* Form */
	/* Selction */
		/* Button */
			.form-opt-btn-01 .opt-txt, .form-opt-btn-01 input:checked + .opt-txt {place-content:flex-start; border-radius:10px; border-color:#e2e2e2; width:100%; min-height:60px; padding:0 24px; font-size:18px; font-weight:500; color:black;}
			.form-opt-btn-01 input:checked + .opt-txt {background:#f3f6ff; border-color:var(--mc); color:var(--mc);}
			/*.form-opt-btn-01 input:disabled + .opt-txt {background:none; border:1px solid #e2e2e2; color:#e2e2e2;}*/

		/* Checkbox */
			.form-opt-chk-01 .opt-txt:before,
			.form-opt-chk-01 input:checked + .opt-txt:before,
			.form-opt-chk-01 input:focus + .opt-txt:before,
			.form-opt-chk-01 input:focus:checked + .opt-txt:before {flex:0 0 30px; background:white; border:0; border-radius:50%; width:30px; height:30px;}
			.form-opt-chk-01 .opt-txt:after {visibility:visible; left:6px; top:8px; background-position:var(--bp-250) var(--bp-50); width:17px; height:15px;}
			.form-opt-chk-01 input:checked + .opt-txt:after {background-position:var(--bp-300) var(--bp-50);}

		/* Radio */
			.form-opt-rdo-02 {flex-direction:column;}
			.form-opt-rdo-02 .opt-txt {flex-direction:column; align-items:center; font-weight:500;}
			.form-opt-rdo-02 .opt-txt:before {flex:0 0 112px; background:white; border-color:transparent; border-radius:12px; width:112px; height:112px;}
			.form-opt-rdo-02 .opt-txt img {padding:10px;}
			.form-opt-rdo-02 input:checked + .opt-txt {color:var(--mdc);}
			.form-opt-rdo-02 input:checked + .opt-txt:before {background:white; background-image:none; border-color:var(--mdc);}
			.form-opt-rdo-02 input:checked + .opt-txt:after {visibility:hidden;}
			.form-opt-rdo-02 input:disabled + .opt-txt {color:black;}
			.form-opt-rdo-02 input:disabled + .opt-txt:before {background:#a8a8a8; border-color:transparent;}
			.form-opt-rdo-02 input:disabled + .opt-txt:after {visibility:visible; left:38px; top:35px; background-position:var(--bp-350) var(--bp-50); border-radius:0; width:36px; height:45px;}
			.form-opt-rdo-02 input:disabled + .opt-txt img {opacity:0.5; filter:grayscale(100%);}

/* Icon */
	/* General */
		.ic-link:before {background-position:0 0; width:12px; height:12px;}
		.ic-cabinet:before {background-position:var(--bp-100) 0; width:18px; height:19px;}
		.ic-delete:before {background-position:var(--bp-600) 0; width:10px; height:10px;}
		.ic-refresh:before {background-position:var(--bp-500) 0; width:14px; height:15px;}
		.ic-setting:before {background-position:var(--bp-300) 0; width:15px; height:15px;}

	/* Arrow */
		/*  Up */
			.ic-u-arr-01:before {background-position:var(--bp-150) 0; width:21px; height:36px;}

		/* Right */
			.ic-r-arr-01:before {background-position:var(--bp-200) 0; width:9px; height:14px;}
			.ic-r-arr-02:before {background-position:var(--bp-350) 0; width:5px; height:8px;}

/* List */
	.lst-stat {display:var(--dp, flex); gap:12px;}
	.lst-stat > * {display:flex; flex:1; flex-direction:column; place-items:center; place-content:center; gap:12px; background:#f5f5f5; border-radius:28px; min-height:100px;}

	[class*="lst-tag"] {display:flex; gap:12px;}
	[class*="lst-tag"] > * {display:flex; place-items:center; gap:16px; border-radius:34px; height:34px; padding:0 20px;}

	.lst-tag-01 {color:#004386;}
	.lst-tag-01 > * {background:#eceeff;}
	.lst-tag-02 > * {border:1px solid #dbdbdb;}

	.lst-item {display:flex; flex-direction:column; gap:14px; width:100%;}
	.lst-item > * {background:white; border-radius:8px; padding:24px;}
	.lst-item .lst-tit {font-size:18px; color:black;}

	[class*="lst-latest"] {display:flex; flex-direction:column; gap:24px;}
	[class*="lst-latest"] > * {display:flex; place-content:space-between; gap:48px;}
	[class*="lst-latest"] .lst-lnk {font-weight:500;}
	[class*="lst-latest"] .lst-term {--div-gap:10px; color:#666;}
	[class*="lst-latest"] .lst-date {color:#666;}

	.lst-badge {display:grid; grid-template-columns:repeat(5, 1fr); gap:20px;}
	.lst-badge .form-opt-rdo-02 {gap:12px;}
	.lst-badge .badge-img {position:absolute; left:1px; top:1px; border-radius:12px; width:100%;}
	.lst-badge-desc {font-size:14px; text-align:center; color:#666;}

/* Popup */
	.pop-type-01, .pop-type-alert {
		--pop-bd-c: white;
		--pop-head-min-h:100px;
		--pop-bg-c:white;
		--pop-head-ft-s: 24px;
		--pop-head-ft-c: black;
		--pop-cont-y: 0;
		--pop-pd-x: 42px;
		--pop-foot-h: 136px;
	}
	.pop-type-01 .p-dialog-header .pop-title {font-weight:700;}
	.pop-type-01 .p-dialog-footer > [class*="btn-type"],
	.pop-type-alert .p-dialog-footer > [class*="btn-type"] {flex:1; --btn-h:56px;}


/* Swiper */
	/* Pagenation */
		.swi-page-01 {}

	/* Navigation */
		.swi-nav-01 > * {background:white; border:1px solid #e3e3e3; border-radius:50%; width:50px; height:50px;}
		.swi-nav-01 > *:after {background-position:var(--bp-150) var(--bp-450); width:9px; height:14px;}

	/* Swiper */
		.swi-type-01 .swiper-pagination {bottom:0;}
		.swi-type-02 .swiper-nav-wrap {margin-top:-57px;}
		.swi-type-02 .swiper-button-prev {margin-left:-25px;}
		.swi-type-02 .swiper-button-next {margin-right:-25px;}
		.swi-type-03 .swiper-button-prev {margin-left:-25px;}
		.swi-type-03 .swiper-button-next {margin-right:-25px;}

/* Thumb */
	.thumb-type-01 {border-radius:50%; width:150px; height:150px;}
	.thumb-type-02 {background:#f7f7f7; border-radius:14px; width:260px; height:160px;}

/* Text */
	.txt-01 {font-size:20px; line-height:28px;}
	.txt-02 {font-size:28px;}

/* Common */
	/* Layout */
		/* Header */
			.h-wrap {position:relative; background:rgba(255, 255, 255, 0.1); height:var(--init-header-height); padding-top:20px; color:white; z-index:10;}
			.h-wrap .h-top {display:flex; place-content:space-between; font-size:14px;}

			.h-lang-wrap {position:relative;}
			.h-lang-wrap .h-lang-select {display:flex; place-items:center; gap:11px; width:100%; height:auto;}
			.h-lang-wrap .h-lang-select:after {content:""; background-image:var(--ic); background-size:var(--bg-sz); background-position:var(--bp-50) 0; width:10px; height:6px;}
			.h-lang-wrap .h-lang-menu {display:none; gap:18px; flex-direction:column; position:absolute; left:50%; top:26px; background:white; border-radius:10px; width:125px; padding:8px 12px; translate:-50% 0; color:black;}
			.h-lang-wrap .h-lang-menu button {display:flex; gap:10px;}

			.h-lang-wrap.active .h-lang-menu {display:flex;}

			.h-gnb {display:flex; place-content:space-between; place-items:center; margin-top:16px; font-size:22px;}
			.h-gnb a {display:flex; place-items:center;}
			.h-gnb > * {padding-top:10px;}
			.h-gnb > *:first-child {padding-top:0;}

		/* Footer */
			.f-wrap {background:black; height:var(--init-footer-height); padding:36px 0 0; font-size:14px; color:#999;}
			.f-menu {display:flex; gap:30px;}
			.f-menu a:hover {color:white;}
			.f-info {margin-top:36px; line-height:24px;}

		/* Float Menu */
			.float-menu {position:relative; display:flex; flex-direction:column; gap:10px; position:fixed; right:12px; top:50%; translate:0 -50%; z-index:10;}
			.float-menu .float-btn-top {display:flex; place-items:center; place-content:center; background:#a6165f; border-radius:50%; width:76px; height:76px;}

		/* Container */
			#container {flex:1;}

	/* 메인 */
		.main-wrap {background:url("../images/img/bg_visual.png") center top no-repeat; min-height:614px; margin-top:calc(var(--init-header-height) * -1); padding-top:400px;}
		.main-alarm {position:relative; display:flex; place-items:center; place-content:center; background:#f5f5f5; border-radius:50%; width:40px; height:40px;}
		.main-alarm:before {content:""; background-image:var(--ic); background-size:var(--bg-sz); background-position:var(--bp-400) 0; width:16px; height:20px;}
		.main-alarm.active {background:#ffeaea;}
		.main-alarm.active:before {background-position:var(--bp-250) 0;}
		.main-alarm.active:after {content:""; position:absolute; right:0; top:0; background:#a6165f; border:3px solid white; border-radius:50%; width:12px; height:12px;}
		.main-top-lst {display:grid; grid-template-columns:repeat(3, 1fr);}
		.main-section-wrap .main-section:nth-child(odd) {background-color:#f9f9f9;}
		.main-section {padding:80px 0;}
		.main-tit {font-size:28px;}
		.main-tit-02 {font-size:24px;}
		.main-stu-badge .main-stu-badge-chg {opacity:0; display:flex; flex-direction:column; place-items:center; place-content:center; gap:7px; background:rgba(0, 0, 0, 0.6); width:100%; height:100%; color:white;}
		.main-stu-badge:hover .main-stu-badge-chg {opacity:1; transition:opacity .3s ease;}

		#personalized [class*="personalized-wrap"] {display:flex; flex-direction:column; place-items:center; background:var(--personalized-bg-c); border-radius:24px; padding:48px 30px;}
		#personalized .personalized-tit {display:flex; place-items:flex-end; font-weight:bold; font-size:20px; color:var(--personalized-ft-c);}
		#personalized .personalized-txt {display:flex; place-items:center; position:relative; background:var(--personalized-ft-c); border-radius:26px; height:26px; margin-bottom:28px; padding:0 12px; font-size:12px; color:white;}
		#personalized .personalized-txt:after {content:""; position:absolute; right:7px; bottom:-4px; border-left:5px solid transparent; border-right:5px solid transparent; border-bottom:10px solid var(--personalized-ft-c); rotate:90deg;}
		#personalized .personalized-lnk {display:flex; gap:12px; place-items:center; margin-top:40px; font-size:14px;}
		#personalized .lst-item {margin-top:36px;}

		#personalized .personalized-wrap-pnk {--personalized-bg-c:#ffd6d6; --personalized-ft-c:#a6165f;}
		#personalized .personalized-wrap-pur {--personalized-bg-c:#dfd5f1; --personalized-ft-c:#482f8d;}
		#personalized .personalized-wrap-blu {--personalized-bg-c:#d7e5fb; --personalized-ft-c:#004386;}

		.main-aijob-lst {display:flex; place-content:space-between; margin-top:40px; font-size:20px; font-weight:500; line-height:26px; text-align:center; color:white;}
		.main-aijob-lst > * {display:flex; flex-shrink:0; flex-direction:column; place-items:center; place-content:center; background:black; border-radius:50%; width:160px; height:160px;}
		.main-aijob-lst > *.active {font-size:18px;}
		.main-aijob-lst > *.active:before {content:""; background-image:var(--ic); background-size:var(--bg-sz); background-position:var(--bp-450) 0; mix-blend-mode:plus-lighter; width:30px; height:22px;}
		.main-aijob-lst > *.active:after {content:"완료!"; mix-blend-mode:soft-light; font-size:20px; font-weight:700;}
		.main-aijob-lst > *.active .main-aijob-lst-txt {margin-top:14px; mix-blend-mode:soft-light;}
		.main-aijob-lst > *:nth-child(1) {background:#af3c78;}
		.main-aijob-lst > *:nth-child(2) {background:#853687;}
		.main-aijob-lst > *:nth-child(3) {background:#6a51af;}
		.main-aijob-lst > *:nth-child(4) {background:#31439d;}
		.main-aijob-lst > *:nth-child(5) {background:#31859d;}
		.main-aijob-lst > *:nth-child(6) {background:#319d7b;}

	/* 진입 */
		.set-preffer {display:flex; flex-direction:column; height:80%; text-align:center;}
		.set-preffer-lst {display:flex; flex-direction:column; flex:1; gap:14px; margin-top:25px;}

		.favor-job-list-wrap {overflow:hidden; display:flex; flex-direction:column; flex:1; border-top:1px solid #e7e7e7; border-bottom:1px solid #e7e7e7; height:36dvh; margin-top:30px; margin-inline:calc(var(--box-pd) * -1);}
		.favor-job-list-top {display:flex; height:calc(100% - 150px);}
		.favor-job-list-bot {border-top:1px solid #e7e7e7; height:150px; padding:24px;}
		.favor-job-list {flex:0 0 254px; background:#f9f9f9; border-right:1px solid #e7e7e7; width:254px; padding:10px 0;}
		.favor-job-list > * > * {display:flex; justify-content:space-between; align-items:center; width:100%; min-height:42px; padding:0 23px; text-align:left;}
		.favor-job-list > * > *:after  {content:""; width:7px; height:11px;}
		.favor-job-list > *.active > *,
		.favor-job-list > * > *:hover {background:white; color:#1c4fa0;}
		.favor-job-list > *.active > *:after {background-image:var(--ic); background-size:var(--bg-sz); background-position:var(--bp-550) 0;}