/* Divider */
	.div-v-01 {--div-bg-c:rgba(255, 255, 255, 0.5); --div-gap:16px; --div-h:10px;}

/* Icon */
	/* General */
		.ic-link:before {background-position:0 0; width:12px; height:12px;}
		.ic-cabinet:before {background-position:var(--bp-100) 0; width:18px; height:19px;}

	/* Arrow */
		.ic-u-arr-01:before {background-position:var(--bp-150) 0; width:21px; height:36px;}

/* Common */
	/* Layout */
		/* Header */
			.h-wrap {position:relative; background:rgba(255, 255, 255, 0.1); height:var(--init-header-height); padding-top:20px; color:white; z-index:10;}
			.h-wrap .h-top {display:flex; place-content:space-between; font-size:14px;}

			.h-lang-wrap {position:relative;}
			.h-lang-wrap .h-lang-select {display:flex; place-items:center; gap:11px; width:100%; height:auto;}
			.h-lang-wrap .h-lang-select:after {content:""; background-image:var(--ic); background-size:var(--bg-sz); background-position:var(--bp-50) 0; width:10px; height:6px;}
			.h-lang-wrap .h-lang-menu {display:none; gap:18px; flex-direction:column; position:absolute; left:50%; top:26px; background:white; border-radius:10px; width:125px; padding:8px 12px; translate:-50% 0; color:black;}
			.h-lang-wrap .h-lang-menu button {display:flex; gap:10px;}

			.h-lang-wrap.active .h-lang-menu {display:flex;}

			.h-gnb {display:flex; place-content:space-between; place-items:center; margin-top:16px; font-size:22px;}
			.h-gnb a {display:flex; place-items:center;}
			.h-gnb > * {padding-top:10px;}
			.h-gnb > *:first-child {padding-top:0;}

		/* Footer */
			.f-wrap {background:black; height:var(--init-footer-height); padding:36px 0 0; font-size:14px; color:#999;}
			.f-menu {display:flex; gap:30px;}
			.f-menu a:hover {color:white;}
			.f-info {margin-top:36px; line-height:24px;}

		/* Float Menu */
			.float-menu {display:flex; flex-direction:column; gap:10px; position:fixed; right:12px; top:50%; translate:0 -50%;}
			.float-menu .float-btn-top {display:flex; place-items:center; place-content:center; background:#a6165f; border-radius:50%; width:76px; height:76px;}

		/* Container */
			#container {flex:1;}
	/* 메인 */
		.main-wrap {background:url("../images/img/bg_visual.png") center top no-repeat; min-height:614px; margin-top:calc(var(--init-header-height) * -1); padding-top:400px;}