/* Box */
	.box-type-01 {--box-bg-c:white; --box-sha-size:33px; --box-sha-opa:0.06; --box-bd-r:30px;}

/* Button */
	/* Color */
		.btn-type-blu {--btn-bg-c:#004386; --btn-bd-c:#004386; --btn-ft-c:white;}
		.btn-type-pur {--btn-bg-c:#a6165f; --btn-bd-c:#a6165f; --btn-ft-c:white;}

	/* Size */
		.btn-sz-34 {--btn-h:34px; --btn-bd-r:34px; --btn-ft-s:14px;}

/* Chip */
	[class*="chip-type-01"] {--chip-bg-c:#ffffff; --chip-bd-c:#ccc; --chip-bd-r:4px; --chip-pd-x:7px; --chip-h:20px; --chip-ft-s:12px; --chip-ft-c:#666; font-weight:bold;}

	.chip-type-01-blu {--chip-bd-c:#004386; --chip-ft-c:#004386;}

/* Divider */
	/* Horizontal */
		.div-h-01 {--div-bg-c:#eaeaea; --div-h:1px; --div-gap:40px;}

	/* Vertical */
		.div-v-01 {--div-bg-c:rgba(255, 255, 255, 0.5); --div-gap:16px; --div-h:10px;}
		.div-v-02 {--div-bg-c:#eaeaea; --div-h:80px; --div-gap:40px;}
		.div-v-03 {--div-bg-c:#e2e2e2; --div-h:10px; --div-gap:12px;}

/* Icon */
	/* General */
		.ic-link:before {background-position:0 0; width:12px; height:12px;}
		.ic-cabinet:before {background-position:var(--bp-100) 0; width:18px; height:19px;}
		.ic-setting:before {background-position:var(--bp-300) 0; width:15px; height:15px;}

	/* Arrow */
		/*  Up */
			.ic-u-arr-01:before {background-position:var(--bp-150) 0; width:21px; height:36px;}

		/* Right */
			.ic-r-arr-01:before {background-position:var(--bp-200) 0; width:9px; height:14px;}
			.ic-r-arr-02:before {background-position:var(--bp-350) 0; width:5px; height:8px;}

/* List */
	.lst-stat {display:var(--dp, flex); gap:12px;}
	.lst-stat > * {display:flex; flex:1; flex-direction:column; place-items:center; place-content:center; gap:12px; background:#f5f5f5; border-radius:28px; min-height:100px;}

	[class*="lst-tag"] {display:flex; gap:12px;}
	[class*="lst-tag"] > * {display:flex; place-items:center; border-radius:34px; height:34px; padding:0 20px;}

	.lst-tag-01 {color:#004386;}
	.lst-tag-01 > * {background:#eceeff;}
	.lst-tag-02 > * {border:1px solid #dbdbdb;}

/* Thumb */
	.thumb-type-01 {border-radius:50%; width:150px; height:150px;}

/* Common */
	/* Layout */
		/* Header */
			.h-wrap {position:relative; background:rgba(255, 255, 255, 0.1); height:var(--init-header-height); padding-top:20px; color:white; z-index:10;}
			.h-wrap .h-top {display:flex; place-content:space-between; font-size:14px;}

			.h-lang-wrap {position:relative;}
			.h-lang-wrap .h-lang-select {display:flex; place-items:center; gap:11px; width:100%; height:auto;}
			.h-lang-wrap .h-lang-select:after {content:""; background-image:var(--ic); background-size:var(--bg-sz); background-position:var(--bp-50) 0; width:10px; height:6px;}
			.h-lang-wrap .h-lang-menu {display:none; gap:18px; flex-direction:column; position:absolute; left:50%; top:26px; background:white; border-radius:10px; width:125px; padding:8px 12px; translate:-50% 0; color:black;}
			.h-lang-wrap .h-lang-menu button {display:flex; gap:10px;}

			.h-lang-wrap.active .h-lang-menu {display:flex;}

			.h-gnb {display:flex; place-content:space-between; place-items:center; margin-top:16px; font-size:22px;}
			.h-gnb a {display:flex; place-items:center;}
			.h-gnb > * {padding-top:10px;}
			.h-gnb > *:first-child {padding-top:0;}

		/* Footer */
			.f-wrap {background:black; height:var(--init-footer-height); padding:36px 0 0; font-size:14px; color:#999;}
			.f-menu {display:flex; gap:30px;}
			.f-menu a:hover {color:white;}
			.f-info {margin-top:36px; line-height:24px;}

		/* Float Menu */
			.float-menu {display:flex; flex-direction:column; gap:10px; position:fixed; right:12px; top:50%; translate:0 -50%;}
			.float-menu .float-btn-top {display:flex; place-items:center; place-content:center; background:#a6165f; border-radius:50%; width:76px; height:76px;}

		/* Container */
			#container {flex:1;}

	/* 메인 */
		.main-wrap {background:url("../images/img/bg_visual.png") center top no-repeat; min-height:614px; margin-top:calc(var(--init-header-height) * -1); padding-top:400px;}
		.main-alarm {position:relative; display:flex; place-items:center; place-content:center; background:#f5f5f5; border-radius:50%; width:40px; height:40px;}
		.main-alarm:before {content:""; background-image:var(--ic); background-size:var(--bg-sz); background-position:var(--bp-400) 0; width:16px; height:20px;}
		.main-alarm.active {background:#ffeaea;}
		.main-alarm.active:before {background-position:var(--bp-250) 0;}
		.main-alarm.active:after {content:""; position:absolute; right:0; top:0; background:#a6165f; border:3px solid white; border-radius:50%; width:12px; height:12px;}
		.main-top-lst {display:grid; grid-template-columns:repeat(3, 1fr);}