@media all and (max-width:720px) {
	/* Divider */
		/* Horizontal */

		/* Vertical */
			.div-v-01 {--div-gap:1.67vw; --div-h:1.67vw;}

	/* Icon */
		/* Mobile */
			.ic-m-hamburger:before {background-position:0 var(--bp-500); width:5.56vw; height:4.31vw;}

	/* Common */
		/* Layout */
			/* Header */
				.h-wrap {display:flex; place-items:center; padding:0 5vw;}
				.h-m-head {display:flex; width:100%; place-content:space-between; place-items:center;}
				.h-button {display:flex;}

		/* Footer */
			.f-wrap {padding:5.56vw 0 0; font-size:2.78vw;}
			.f-menu {gap:5.56vw;}
			.f-info {margin-top:5.56vw; line-height:4.44vw;}

		/* Float Menu */
			.float-menu {gap:2.78vw; right:5vw; top:auto; bottom:8.33vw; translate:0 0;}
			.float-menu .float-btn-chat {width:15.28vw; height:15.28vw;}
			.float-menu .float-btn-chat img {width:100%; height:100%;}
			.float-menu .float-btn-top {width:15.28vw; height:15.28vw;}

		/* Container */
			#container {flex:1;}
}