@media all and (max-width:720px) {
	/* Accordion */
		.aco-type-01 {
			--aco-head-h:13.89vw;
			--aco-head-ft-s:3.89vw;
			--aco-head-pd-x:5vw;

			--aco-cont-pd-a:5vw;

			--aco-icon-w:3.33vw;
			--aco-icon-h:1.67vw;
		}

		.aco-type-02 {
			--aco-gap:2.78vw;
			--aco-bd-r:2.78vw;

			--aco-head-h:14.86vw;
			--aco-head-pd-x:5vw;
			--aco-head-pd-y:5.56vw;
			--aco-head-ft-s:3.89vw;

			--aco-cont-pd-a:5.56vw;

			--aco-icon-w:3.47vw;
			--aco-icon-h:1.94vw;
		}

		.aco-qna-01 {
			--aco-txt-q-ft-s:3.89vw;

			--aco-head-gap:3.33vw;
		}

	/* Background Image */
		.bi-chara-01:before {width:21.67vw; height:29.44vw;}
		.bi-chara-02:before {background-position:var(--bp-450) 0; width:18.75vw; height:18.06vw;}

	/* Board */
		/* General */
			.brd-wrap .brd-tit {font-size:3.89vw;}
			.brd-wrap .brd-chip-lst {gap:1.11vw;}
			.brd-wrap .brd-ctgy {--div-gap:2.22vw; font-size:3.33vw;}
			.brd-wrap .brd-date-wrap {margin-top:2.78vw; gap:2.22vw; font-size:3.33vw;}
			.brd-wrap .brd-date-wrap > * {gap:2.22vw;}
			.brd-wrap .brd-top {flex-direction:column-reverse; place-items:flex-start; gap:5.56vw; margin-top:5.56vw;}
			.brd-wrap .brd-filter {width:100%; gap:2.08vw;}
			.brd-wrap .brd-filter > * {width:100%;}
			.brd-wrap .brd-filter [class*="form-txt"] {flex:0 0 56.94vw; width:56.94vw;}
			.brd-wrap .brd-file {flex-direction:column; gap:3.33vw; margin-top:13.89vw;}
			.brd-wrap .brd-file-lst {gap:3.89vw;}
			.brd-wrap .brd-file-lst > * {gap:2.22vw;}

		/* List */
			.brd-lst-01:not(.swiper-wrapper) {gap:5vw;}
			.brd-lst-01 [class*="thumb-type"] {border-radius:3.89vw; width:68.19vw; height:38.33vw; font-size:4.44vw;}
			.brd-lst-01 [class*="thumb-type"] > .thumb-lt {padding:3.06vw;}
			.brd-lst-01 [class*="thumb-type"] > .thumb-rt {padding:3.06vw;}

			.brd-lst-01 .brd-cont {gap:2.5vw; margin-top:2.78vw;}

			.brd-lst-02:not(.swiper-wrapper) {gap:4.44vw;}
			.brd-lst-02 > * {border-radius:2.78vw; padding:5.56vw;}
			/*.brd-lst-02 .brd-tit {margin-top:3.33vw;}*/

			[class*="brd-lst-03"] {column-gap:var(--m-gap-x, 2.78vw); row-gap:var(--m-gap-y, 2.78vw); margin-top:var(--m-mg-t, 2.78vw);}
			[class*="brd-lst-03"] > * {flex-direction:column; gap:2.78vw; border-radius:2.78vw; padding:4.44vw 5.14vw;}
			[class*="brd-lst-03"] .brd-lst-tit {gap:2.78vw; font-size:3.89vw;}
			[class*="brd-lst-03"] .brd-lst-tit-inner {gap:2.5vw;}
			[class*="brd-lst-03"] .brd-num {display:none;}
			[class*="brd-lst-03"].brd-answer .brd-lst-tit {gap:2.5vw;}
			[class*="brd-lst-03"].brd-answer .brd-lst-tit:before {width:1.94vw; height:1.94vw;}
			[class*="brd-lst-03"] .brd-lst-bottom {margin:4.44vw -5.14vw -4.44vw;}

			.brd-lst-03-01 > * {display:block; padding:5.56vw;}

		/* View */
			.brd-view-01 {border-radius:2.78vw; min-height:80.42vw; margin-top:2.78vw; padding:4.44vw 5.56vw;}
			.brd-view-01 + [class*="brd-lst-03"] {margin-top:5.56vw;}

		/* Form */
			.brd-form-01 {margin-top:2.78vw;}
			.brd-form-01 [class*="form-tarea"] {height:80.97vw;}
			.brd-form-01 .brd-file {margin-top:5.56vw; padding-bottom:5.56vw;}

		/* Paging */
			.brd-paging {gap:0.56vw; margin-top:8.33vw;}
			.brd-paging a {width:6.11vw; height:6.11vw;}
			.brd-paging > * {gap:2.22vw;}
			.brd-paging .brd-paging-ctrl a {border-radius:6.11vw;}
			.brd-paging .brd-paging-first:before,
			.brd-paging .brd-paging-last:before {width:2.50vw; height:2.22vw;}
			.brd-paging .brd-paging-prev:before,
			.brd-paging .brd-paging-next:before {width:1.53vw; height:2.22vw;}

	/* Box */
		[class*="box-type-02"] {--box-bd-r:2.5vw; --box-pd:4.58vw;}
		.box-type-02-01 {--box-pd:4.72vw;}
		[class*="box-type-03"] {--box-bd-r:2.5vw; --box-pd-x:5.56vw; --box-pd-y:5.56vw;}
		.box-type-03-01 {--box-pd-y:2.78vw; --box-bd-r:8.33vw;}
		[class*="box-type-04"] {--box-pd-y:3.61vw; --box-pd-r:10vw;}
		.box-type-04-01 {--box-bd-r:2.78vw; --box-pd-x:5.56vw; --box-pd-y:5.56vw;}

	/* Bullet */
		/* Circle */
			.bul-cir-01 {--bul-gap:1.11vw; --bul-w:0.42vw; --bul-gap-y:2.78vw;}
			.bul-cir-02 {--bul-gap:2.22vw; --bul-w:2.22vw; --bul-gap-y:4.44vw;}

		/* Number */
			.bul-num-01 {--bul-gap:2.22vw; --bul-w:4.58vw; --bul-ft-s:3.06vw;}

		/* Hyphen */
			.bul-hyp-01 {--bul-gap:0.69vw; --bul-w:0.83vw; --bul-gap-y:1.67vw;}

	/* Button */
		/* Size */
			.btn-sz-24 {--btn-h:5.56vw; --btn-bd-r:1.11vw;}

			[class*="btn-sz-34"] {--btn-h:6.67vw; --btn-bd-r:6.67vw; --btn-pad-x:3.33vw; --btn-ft-s:2.78vw;}
			.btn-sz-34-r {--btn-bd-r:2.22vw;}

			.btn-sz-56 {--btn-bd-r:2.22vw; --btn-h:12.64vw; --btn-ft-s:3.89vw;}

	/* Chip */
		[class*="chip-type-01"] {
			--chip-bd-r:0.97vw;
			--chip-pd-x:1.25vw;
			--chip-h:4.72vw;
			--chip-ft-s:2.78vw;
		}

		[class*="chip-type-02"] {
			--chip-bd-r:4.72vw;
			--chip-pd-x:2.22vw;
			--chip-h:4.72vw;
			--chip-ft-s:2.78vw;
		}

		[class*="chip-type-03"] {
			--chip-bd-r:6.67vw;
			--chip-pd-x:3.33vw;
			--chip-h:6.67vw;
			--chip-ft-s:2.78vw;
		}

		[class*="chip-type-04"] {
			--chip-bd-r:6.94vw;
			--chip-pd-x:3.33vw;
			--chip-h:6.94vw;
			--chip-ft-s:3.33vw;
		}

	/* Divider */
		/* Horizontal */
			.div-h-01 {--div-gap:6.94vw;}
			.div-h-02 {--div-gap:8.33vw;}
			[class*="div-v-03"] {--div-h:2.36vw; --div-gap:2.08vw;}
			.div-v-03-01 {--div-h:8.89vw;}
			.div-v-03-02 {--div-gap:2.22vw;}
			.div-v-03-03 {--div-h:8.89vw; --m-div-gap-y:6.94vw;}

		/* Vertical */
			.div-v-01 {--div-gap:1.67vw; --div-h:1.67vw;}

		/* Arrow */
			.div-v-arrow-01 {
				--m-div-gap:1.11vw;
				--m-div-w:0.83vw;
			}

	/* Form */
		/* Combo */
			.form-sel-02 {
				--form-h:6.67vw;
				--fom-pad:2.5vw;
			}
			.form-sel-02 > .p-select-dropdown:after {width:2.36vw; height:2.08vw;}

		/* Picker */
			.form-txt-file-01 [class*="btn-type"] {--btn-w:27.22vw;}

		/* Selction */
			/* Button */
				.form-opt-btn-01 {
					--form-opt-btn-bd-r: 2.78vw;
					--form-opt-btn-ft-s: 3.89vw;
					--form-opt-btn-h: 13.89vw;
					--form-opt-btn-pd-x: 5.28vw;
					--form-opt-btn-pd-y: 5.56vw;
				}

				.form-opt-btn-01 .box-type-02 {--box-pd:5.56vw;}

				[class*="form-opt-btn-02"] {
					--form-opt-btn-bd-r: 8.33vw;
					--form-opt-btn-ft-s: 3.33vw;
					--form-opt-btn-h: 8.33vw;
					--form-opt-btn-pd-x: 4.17vw;
					--form-opt-btn-gap:1.67vw;
				}

				[class*="form-opt-btn-03"] {
					--form-opt-btn-bd-w: 0.28vw;
					--form-opt-btn-bd-r: 8.89vw;
					--form-opt-btn-ft-s: 3.33vw;
					--form-opt-btn-h: 8.89vw;
					--form-opt-btn-gap:2.78vw;
				}
				[class*="form-opt-btn-03"] .opt-txt {padding:0 2.78vw 0 1.11vw;}

				.form-opt-btn-04 {
					--form-opt-btn-bd-r: 1.11vw;
					--form-opt-btn-ft-s: 3.06vw;
					--form-opt-btn-h: 5.56vw;
				}

			/* Checkbox */
				.form-opt-chk-01 .opt-txt:before,
				.form-opt-chk-01 input:checked + .opt-txt:before,
				.form-opt-chk-01 input:focus + .opt-txt:before,
				.form-opt-chk-01 input:focus:checked + .opt-txt:before {flex:0 0 5.56vw; width:5.56vw; height:5.56vw;}
				.form-opt-chk-01 .opt-txt:after {left:1.25vw; top:1.53vw; width:3.33vw; height:2.78vw;}

				.form-opt-chk-02 {--fom-opt-sz:3.47vw; --fom-chk-ico-w:3.89vw; --fom-chk-ico-h:3.47vw;}
				.form-opt-chk-02 .opt-txt {flex:0 0 3.89vw; width:3.89vw;}

			/* Radio */
				.form-opt-rdo-02 .opt-txt {font-size:3.88vw;}
				.form-opt-rdo-02 .opt-txt:before {flex:0 0 27.78vw; border-radius:2.50vw; width:27.78vw; height:27.78vw;}
				.form-opt-rdo-02 input:disabled + .opt-txt:after {left:9.44vw; top:7.36vw; width:9.31vw; height:10.97vw;}

			/* Switch */
				[class*="form-opt-swh-01"] {
					--form-opt-swh-w:11.25vw;
					--form-opt-swh-h:6.39vw;
					--form-opt-swh-point-sz:5.28vw;
					--form-opt-swh-point-gap:0.69vw;
				}

				[class*="form-opt-swh-01"] .box-type-02 {--box-pd-x:5.56vw; --box-pd-y:6.94vw;}

				.form-opt-swh-01-01 .opt-txt:before {translate:-5.56vw 0;}
				.form-opt-swh-01-01 .opt-txt:after {translate:-5.56vw 0;}
				.form-opt-swh-01-01 .box-type-02 {padding-right:23.61vw;}

		/* Text */
			.form-txt-01 {
				--form-bd-r:2.78vw;
				--form-h:15.42vw;
				--form-pd-x:3.89vw;
				--form-ft-s:4.44vw;
			}

	/* Icon */
		/* General */
			.ic-copy:before {width:3.47vw; height:3.75vw;}
			.ic-delete:before {width:2.22vw; height:2.22vw;}
			.ic-delete-02:before {width:1.94vw; height:1.94vw;}
			.ic-delete-03:before {width:3.06vw; height:3.06vw;}
			.ic-download:before {width:2.22vw; height:2.22vw;}
			.ic-file:before {width:3.06vw; height:2.78vw;}
			.ic-filter:before {width:3.61vw; height:3.06vw;}
			.ic-info:before {width:3.33vw; height:3.33vw;}
			.ic-link:before {width:2.5vw; height:2.5vw;}
			.sub-header .ic-link:before {background-position:0 -2.78vw; width:2.5vw; height:2.5vw;}
			.ic-lock:before {width:2.78vw; height:3.47vw;}
			.ic-mascot:before {width:5.56vw; height:5.56vw;}
			.ic-minus:before {width:2.5vw; height:0.56vw;}
			.ic-notice:before {width:3.06vw; height:2.78vw;}
			.ic-pencle:before {width:3.75vw; height:3.75vw;}
			.ic-pencle-02:before {width:3.19vw; height:3.19vw;}
			.ic-plan:before {width:3.47vw; height:3.33vw;}
			.ic-plus:before {width:2.92vw; height:2.92vw;}
			.ic-plus-02 {width:4.44vw; height:4.44vw;}
			.ic-plus-02:before {width:2.08vw; height:2.08vw;}
			.ic-plus-03:before {width:2.92vw; height:2.92vw;}
			.ic-search:before {width:4.86vw; height:4.86vw;}
			.ic-setting:before {width:2.50vw; height:2.22vw;}
			.ic-refresh:before {width:3.06vw; height:3.47vw;}
			.ic-trash:before {width:3.61vw; height:3.89vw;}
			.ic-w-comp:before {width:4.17vw; height:3.19vw;}
			.ic-w-temp:before {width:4.17vw; height:3.47vw;}

		/* Chatbot */
			.ic-chat-history:before {width:6.67vw; height:5.00vw;}
			.ic-chat-new:before {width:6.67vw; height:5.00vw;}
			.ic-chat-close:before {width:4.17vw; height:4.17vw;}
			.ic-chat-send:before {width:6.67vw; height:6.67vw;}
			.ic-chat-stop:before {width:6.67vw; height:6.67vw;}
			.ic-chat-recom:before,
			.ic-chat-discom:before {width:3.47vw; height:3.33vw;}
			.ic-chat-copy:before {width:3.33vw; height:3.19vw;}
			.ic-chat-tdot:before {width:4.86vw; height:0.97vw;}
			/*.ic-chat-hamburger:before {background-position:var(--bp-100) var(--bp-500); width:5.42vw; height:4.86vw;}*/

		/* Arrow */
			/* Up */
				.ic-u-arr-01:before {width:3.33vw; height:6.67vw;}
				.ic-u-arr-02:before {width:1.53vw; height:0.83vw;}
				.ic-u-arr-03:before {width:2.22vw; height:1.94vw;}
				.ic-u-arr-04:before {width:2.36vw; height:2.08vw;}

			/* Up & Rignt */
				.ic-ur-arr-01:before {width:2.08vw; height:2.08vw;}

			/* Right */
				.ic-r-arr-01:before {width:2.08vw; height:3.47vw;}
				.ic-r-arr-02:before {width:1.25vw; height:1.94vw;}
				.ic-r-arr-03:before {width:2.08vw; height:3.47vw;}

			/* Left */
				.ic-l-arr-01:before {width:2.5vw; height:4.17vw;}

		/* Mobile */
			.ic-m-hamburger:before {background-position:0 var(--bp-500); width:5.56vw; height:4.31vw;}
			.sub-header .ic-m-hamburger:before {background-position:var(--bp-50) var(--bp-500);}

	/* List */
		.lst-stat {display:var(--m-dp, flex); gap:1.67vw;}
		.lst-stat > * {gap:1.67vw; border-radius:3.89vw; min-height:16.81vw; font-size:3.06vw;}

		[class*="lst-tag"] {flex:1; flex-wrap:wrap; gap:1.39vw; font-size:2.78vw; word-break:keep-all;}
		[class*="lst-tag"] > * {column-gap:3.33vw; border-radius:6.67vw; min-height:6.67vw; padding:0 3.89vw;}

		.lst-item {gap:2.22vw;}
		.lst-item > * {border-radius:2.78vw; padding:5.56vw;}
		.lst-item .lst-tit {font-size:3.89vw;}

		.lst-item-02 > * + * {margin-top:8.33vw; padding-top:8.33vw;}
		.lst-item-02 .lst-tit {font-size:4.44vw;}
		.lst-item-02 .lst-cont {margin-top:3.33vw;}
		.lst-item-02 .lst-desc {gap:2.22vw;}

		[class*="lst-item-03"] {column-gap:var(--m-gap-x, 2.22vw); row-gap:var(--m-gap-y, 2.22vw);}
		[class*="lst-item-03"] > * {border-radius:2.78vw; padding:5.28vw;}
		[class*="lst-item-03"] .lst-tit {font-size:3.89vw;}

		.lst-item-03-01 .lst-tit {font-size:3.89vw;}

		.lst-item-04 {border-radius:3.89vw;}
		.lst-item-04 > * {padding:5.56vw;}

		[class*="lst-latest"] {gap:5vw;}
		.lst-latest-02 > * {flex-direction:column; gap:2.5vw;}
		.lst-latest-02 > * + * {border-top:1px solid #eaeaea; padding-top:5vw;}
		.lst-latest-02 .lst-lnk {--m-line:0; line-height:5vw;}
		.lst-latest-02 .lst-term {--div-gap:2.22vw;}

		.lst-badge {grid-template-columns:repeat(3, 1fr); gap:3.33vw;}
		.lst-badge .form-opt-rdo-02 {gap:2.08vw;}
		.lst-badge .badge-img {border-radius:2.50vw;}
		.lst-badge-desc {font-size:3.33vw; line-height:4.72vw;}

		.lst-form {gap:5.56vw;}
		.lst-form dt {font-size:3.89vw;}

	/* Popup */
		.pop-type-01, [class*="pop-type-alert"] {
			--pop-cont-top-pad: 8.33vw;
			--pop-head-min-h: 15.28vw;
			--pop-head-ft-s: 5vw;
			--pop-pd-x: 5vw;
			--pop-foot-h: 25.42vw;
			--pop-bd-r: 0;
			--pop-max-h: 100dvh;
		}
		.pop-type-01 .p-dialog-header {border-bottom:1px solid #e2e2e2;}
		.pop-type-01 .p-dialog-close-button:before,
		[class*="pop-type-alert"] .p-dialog-close-button:before {width:4.17vw; height:4.17vw;}
		.pop-type-01 .p-dialog-footer > [class*="btn-type"],
		[class*="pop-type-alert"] .p-dialog-footer > [class*="btn-type"] {--btn-h:12.5vw; --btn-ft-s:4.17vw;}

		.pop-type-alert-01 {--pop-head-min-h:11.11vw; --pop-bd-r:5.56vw 5.56vw 0 0; align-self:flex-end;}
		.pop-type-alert-01 .p-dialog-header {padding-right:5vw;}

	/* Swiper */
		/* Navigation */
			.swi-nav-01 > * {width:8.33vw; height:8.33vw;}
			.swi-nav-01 > *:after {width:1.67vw; height:2.78vw;}

		/* Swiper */
			.swi-type-03 .swiper-nav-wrap {padding:0 5vw;}
			.swi-type-03 .swiper-button-prev {margin-left:0;}
			.swi-type-03 .swiper-button-next {margin-right:-0;}
			.swi-type-04 .swiper-nav-wrap {padding:0 5vw; margin-top:-8vw;}
			.swi-type-04 .swiper-button-prev {margin-left:0;}
			.swi-type-04 .swiper-button-next {margin-right:-0;}

	/* Tabs */
		/* Menu */
			.tab-menu-01 {
				--tab-gap:1.39vw;
				--tab-bd-w:0.28vw;

				--tab-btn-bd-r:2.78vw 2.78vw 0 0;
				--tab-btn-h:9.72vw;
				--tab-btn-pd-x:7.22vw;
				--tab-btn-ft-s:3.61vw;
			}

		/* Contents */
			.tab-wrap-01 {--tab-cont-pd-y:5.56vw;}

	/* Text */
		.txt-01 {font-size:5.28vw; line-height:7.22vw;}
		.txt-02 {font-size:5.28vw;}

		.txt-14-24 {font-size:3.33vw;}
		.txt-18-26 {font-size:3.61vw;}
		.txt-18-28 {font-size:3.89vw;}
		.txt-20-28 {font-size:3.89vw;}
		.txt-20-30 {font-size:4.17vw;}
		.txt-20-32 {font-size:4.44vw;}
		.txt-24-30 {font-size:4.17vw;}
		.txt-24-32 {font-size:4.44vw;}
		.txt-28-36 {font-size:5vw;}

	/* Thumb */
		.thumb-type-01 {width:19.44vw; height:19.44vw;}
		.thumb-type-02 {--thumb-bd-r:1.94vw; width:50vw; height:30.56vw;}
		.thumb-type-04 {--thumb-bg-c:#f9f9f9; --thumb-bd-r:2.78vw;}

	/* Toast */
		.toast-type-01 {
			--toast-bd-r: 2.78vw;
			--toast-ft-s: 3.89vw;
			--toast-pd-y: 11.11vw;
			--toast-w: 100%;
		}

	/* Tooltip */
		.t-tip-01 {
			--tip-bd-r:2.22vw;
			--tip-bd-w:0.14vw;
			--tip-pd:4.44vw;
			--tip-ft-s:3.33vw;

			--tip-arrow-w:2.5vw;
			--tip-arrow-h:1.94vw;

			--tip-gap:0.97vw;

			--tip-sha-size:3.06vw;
		}

	/* Common */
		/* Layout */
			/* Header */
				.h-wrap {display:flex; place-items:center; padding:0 5vw;}
				.h-m-head {display:flex; width:100%; place-content:space-between; place-items:center;}
				.h-button {display:flex;}
				.h-m-logo {background:url("../images/img/img_m_logo.png") no-repeat; background-size:100% 100%; width:29.44vw; height:7.92vw;}
				.sub-header {position:relative; z-index:1000;}
				.sub-header .h-m-logo {background:url("../images/img/img_m_logo_02.png") no-repeat; background-size:100% 100%;}

			/* Header Panel */
				.h-panel {display:none; position:fixed; left:0; top:0; background:rgba(0, 0, 0, 0.5); width:100dvw; height:100dvh; padding-left:10.27vw;}
				.h-panel.active {display:block; z-index:100;}
				.h-panel-inner {display:flex; flex-direction:column; place-content:space-between; background:white; width:100%; height:100dvh;}
				.h-panel-info {display:flex; flex-direction:column; justify-content:center; border-bottom:1.39vw solid #f9f9f9; padding:9.44vw 5.55vw 4.17vw;}
				.h-panel-menu {flex:1;}
				.h-usr-nm {font-size:6.39vw; font-weight:700;}
				.h-panel-bottom {display:flex; place-content:space-between; height:29.86vw; padding:5vw 5vw; place-items:flex-start;}
				.h-panel-cont .n-tabs {overflow:hidden; height:100%;}
				.h-panel-cont .n-tab-pane {overflow-y:auto;}
				.h-panel .form-type-opt-chk-02 {flex:1; width:100%;}
				.h-panel .form-type-opt-chk-02 .opt-txt {word-break:break-all;}
				/*.h-btn-logout {height:21.38vw;}*/
				.h-m-menu > * {display:flex; flex-direction:column; gap:5.27vw; padding:5.27vw 0;}
				.h-m-menu > *:first-child {padding-top:0;}
				.h-m-menu > * + * {border-top:1px solid #ededed;}
				.h-m-menu > * > a {font-size:3.33vw; font-weight:700;}
				.h-m-submenu {display:flex; flex-direction:column; font-size:3.89vw;}
				.h-m-submenu > * {padding:3.89vw 0;}
				.h-m-submenu > * + * {border-top:1px solid #f1f1f1;}
				.h-panel .h-lang-wrap .h-lang-select:after {background-position: var(--bp-50) 0; width:2.22vw; height:1.25vw;}
				.h-panel .h-lang-wrap .h-lang-menu {gap:2vw; top:-29vw; padding:1.39vw; width:max-content; border-radius:1.39vw;}
				.h-panel .h-lang-wrap .h-lang-menu button {place-items:flex-start;}
				.h-btn-hamburger-close {display:flex; align-items:center; justify-content:center; position:absolute; right:0; top:0; width:13.89vw; height:13.89vw;}
				.h-btn-hamburger-close:before {content:""; background-position:var(--bp-100) var(--bp-500); background-image:var(--ic); background-size:var(--bg-sz); width:4.17vw; height:4.17vw;}

			/* Footer */
				.f-wrap {padding:5.56vw 0 0; font-size:2.78vw;}
				.f-menu {gap:5.56vw;}
				.f-info {margin-top:5.56vw; line-height:4.44vw;}

			/* Float Menu */
				.float-menu {gap:2.78vw; right:5vw; top:auto; bottom:8.33vw; translate:0 0;}
				.float-menu .float-btn-chat {width:15.28vw; height:15.28vw;}
				.float-menu .float-btn-chat img {width:100%; height:100%;}
				.float-menu .float-btn-top {width:15.28vw; height:15.28vw;}

			/* Container */
				#container {flex:1;}
				.sub-layout {padding-block:8.33vw;}
				.sub-tit {margin-bottom:5.56vw; font-size:6.11vw;}
				.sub-tit-02 {margin-bottom:5.56vw; gap:2.78vw; font-size:5vw;}

		/* 로그인 */
			.login-wrap {box-shadow:none; border-radius:0;}

		/* 메인 */
			.main-wrap {background:url("../images/img/bg_m_visual.png") center top no-repeat; background-size:100%; min-height:39.58vw; padding-top:28.61vw;}
			.main-alarm {width:6.94vw; height:6.94vw;}
			.main-alarm:before {width:2.92vw; height:3.33vw;}
			.main-alarm.active:after {border:0.42vw solid white; width:1.94vw; height:1.94vw;}
			.main-top-lst {display:grid;}
			.main-section {padding:11.11vw 0;}
			.main-tit {font-size:5vw; line-height:6.94vw;}
			.main-tit-02 {font-size:4.72vw;}

			#personalized [class*="personalized-wrap"] {border-radius:3.89vw; padding:9.72vw 5.56vw;}
			#personalized .personalized-tit {font-size:5.00vw;}
			#personalized .personalized-txt {border-radius:5.97vw; height:5.97vw; margin-bottom:5.97vw; padding:0 2.78vw; font-size:2.78vw;}
			#personalized .personalized-txt:after {right:0.97vw; bottom:-0.56vw; border-left:1.11vw solid transparent; border-right:1.11vw solid transparent; border-bottom:2.22vw solid var(--personalized-ft-c);}
			#personalized .personalized-lnk {gap:2.22vw; margin-top:6.94vw; font-size:3.61vw;}
			#personalized .lst-item {margin-top:8.33vw;}
			#personalized .lst-item > * {height:16.93vw;}

			.main-aijob-lst {place-content:flex-start; gap:3.89vw; margin-top:5.56vw; font-size:3.89vw; line-height:5vw;}
			.main-aijob-lst > * {width:25vw; height:25vw;}
			.main-aijob-lst > *.active {font-size:3.33vw;}
			.main-aijob-lst > *.active:before {width:4.17vw; height:3.06vw;}
			.main-aijob-lst > *.active strong {font-size:3.89vw;}
			.main-aijob-lst > *.active .main-aijob-lst-txt {margin-top:2.22vw;}

		/* 진입 */
			.set-preffer {border:0; border-radius:0; width:100dvw; height:100dvh; padding-top:16.67vw;}
			.set-preffer-lst {gap:2.22vw; margin-top:5.56vw;}

			.favor-job-wrap {width:100dvw; font-size:3.89vw;}
			.favor-job-list-wrap {border-radius:0; border:0; border-top:1px solid #e2e2e2; margin-top:8.89vw;}
			.favor-job-list-top {height:calc(100% - 20.83vw);}
			.favor-job-list-bot {border:0; height:20.83vw; padding:5.00vw;}
			.favor-job-list {flex:0 0 45.83vw; width:45.83vw; padding:0;}
			.favor-job-list > * > * {min-height:13.89vw; padding:0 4.72vw;}
			.favor-job-list > * > *:after  {display:none;}

		/* 진로탐색 */
			.job-slide-wrap {margin-top:5.56vw;}
			.job-slide-wrap .swiper-slide {border-radius:2.22vw; height:41.67vw; padding:6.94vw 29.17vw 5.56vw 5.56vw;}
			.job-slide-wrap .swiper-slide:before {width:31.39vw; height:29.86vw;}
			.job-slide-wrap .job-desc {margin-top:3.33vw;}
			.job-slide-wrap .job-recom {right:7.22vw; top:14.72vw; width:20.14vw; height:11.25vw;}

			.job-type-wrap .job-type-tit {line-height:10vw;}
			.job-type-wrap .job-type > * + * {border:0;}
			.job-type-lst {max-height:73.61vw; padding:4.72vw 0; line-height:5.56vw;}
			.job-type-lst button {height:11.11vw; padding:0 4.72vw;}
			.job-type-lst button:after {display:none;}
			.job-type-rst-wrap {max-height:89.58vw; padding:5.56vw;}
			.job-type-rst-wrap .brd-paging {margin-top:5vw;}
			.job-type-ctrl {padding:5.56vw 3.89vw;}
			.job-type-tbl {border:0; border-spacing:0; margin-top:3.61vw;}
			.job-type-tbl colgroup {display:none;}
			.job-type-tbl tbody {display:flex; flex-direction:column; gap:5.56vw;}
			.job-type-tbl tr {display:flex; flex-direction:column;}
			.job-type-tbl th {display:flex; place-items:center; border:0; height:13.89vw; padding:0 5.56vw; font-size:4.72vw; text-align:left; vertical-align:middle;}
			.job-type-tbl td {border-radius:2.50vw; margin-top:3.61vw;}

		/* 메이저맵 */
			.major-map-stat {padding:5.83vw 5.56vw 5vw; font-size:2.5vw;}
			.major-map-stat > *:before {border-width:0.28vw; width:1.94vw; height:1.94vw;}
			.major-map-stat > *:after {left:2.58vw; height:0.28vw;}
			.major-map-stat > *:nth-child(4n+1):before {width:3.06vw; height:3.06vw;}

			#majorMapTop-02.sticky-active {padding:0;}
			#majorMapTop-02.sticky-active .majormap-top-form {padding:5vw 5vw 0;}

		/* 챗봇 */
			.chatbot-wrap {right:2.50vw; bottom:4.17vw;}
			.chatbot-wrap .chatbot-chat-wrap {position:fixed; right:0; top:0; bottom:auto; border-radius:0; box-shadow:none; width:100dvw; height:100dvh; max-height:100dvh;}
			.chatbot-wrap .chatbot-chat-intro img {width:31.94vw; height:31.94vw;}
			.chatbot-wrap .chatbot-chat-head {flex:0 0 15.28vw; height:15.28vw; font-size:5vw;}
			.chatbot-wrap .chatbot-chat-head-left,
			.chatbot-wrap .chatbot-chat-head-right {padding:0 5vw;}
			.chatbot-wrap .chatbot-chat-head button {flex:0 0 10.25vw; width:10.25vw; height:15.28vw;}

			.chatbot-wrap .chatbot-chat-cont {padding:10.00vw 5.00vw; line-height:4.44vw;}
			.chatbot-wrap .chatbot-chat-list {gap:5.83vw;}
			.chatbot-wrap .chat-msg-you {border-radius:4.44vw 0 4.44vw 4.44vw; min-height:11.11vw; padding:3.33vw 5.00vw; font-size:3.33vw;}
			.chatbot-wrap .chat-msg-bot-wrap {gap:1.67vw;}
			.chatbot-wrap .chat-msg-bot-wrap > img:first-child {width:11.11vw; height:11.11vw;}
			.chatbot-wrap .chat-msg-bot {border-radius:0 4.44vw 4.44vw 4.44vw; min-height:11.11vw; padding:3.33vw 5.00vw; font-size:3.33vw;}
			.chatbot-wrap .chat-msg-info {margin-top:3.33vw; padding:0; font-size:3.33vw;}
			.chatbot-wrap .chat-msg-btn-group {gap:2.22vw;}

			.chatbot-wrap .chatbot-chat-foot {flex:0 0 23.61vw; height:23.61vw; padding:0 5.00vw;}
			.chatbot-wrap .chatbot-chat-foot .chat-send-btn {right:8.33vw;}
			.chatbot-wrap .chatbot-btn {width:19.44vw; height:19.44vw;}

			.chat-loading-dots {gap:1.11vw; margin-left:3.33vw;}
			.chat-loading-dots span {width:1.94vw; height:1.94vw;}

			.chatbot-chat-history-wrap .chatbot-chat-head {width:80.56vw;}
			.chatbot-chat-history-list {width:80.56vw; padding:6.94vw 0;}
			.chatbot-chat-history-ctgy {margin-top:3.61vw; padding:0 5.00vw; font-size:3.33vw;}
			.chatbot-chat-history-ctgy-list {margin-top:3.61vw;}
			.chatbot-chat-history-ctgy-list button {height:9.72vw; padding:0 5vw;}
			.chatbot-chat-history-ctgy-list .chatbot-btn-tdot {width:9.72vw;}
			.chatbot-chat-history-ctgy-list .chatbot-item-util-menu {right:6.94vw; top:2.22vw; border-radius:2.78vw; width:31.67vw;}
			.chatbot-chat-history-ctgy-list .chatbot-item-util-menu button {padding:0 3.33vw;}

		/* e-Notice */
			.survey-wrap {width:100%; margin:7.78vw 0 0;}
			.survey-wrap .survey-top {gap:2.22vw;}
			.survey-wrap .survey-tit {font-size:3.89vw;}
			.survey-wrap .lst-form {margin-top:11.11vw; padding:0 4.17vw;}
			.survey-list {height:58.33vw; margin-top:11.11vw;}
			.survey-list > *:first-child {margin-top:0;}

		/* 팝업 */
			.pop-type-01 .set-preffer {height:auto; margin-left:calc(var(--pop-pd-x) * -1);}
			.pop-type-01 .favor-job-list-wrap {height:calc(100dvh - 83dvw); margin-top:8.33vw;}
}