/* Reset */
	/* http://meyerweb.com/eric/tools/css/reset/v2.0 | 20110126License:none (public domain) */
		html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video {margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline;}

	/* HTML5 display-role reset for older browsers */
		article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display:block;}
		body {line-height:1;}
		ol, ul {list-style:none;}
		blockquote, q {quotes:none;}
		blockquote:before, blockquote:after,q:before, q:after {content:''; content:none;}
		table {border-collapse:collapse; border-spacing:0;}

/* Font */
	@font-face {
	  font-family: "Noto Sans KR";
	  font-style: normal;
	  font-weight: 300;
	  src: url("../fonts/NotoSansKR-DemiLight.eot");
	  src: url("../fonts/NotoSansKR-DemiLight.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR-DemiLight.woff2") format("woff2"), url("../fonts/NotoSansKR-DemiLight.woff") format("woff");
	}
	@font-face {
	  font-family: "Noto Sans KR";
	  font-style: normal;
	  font-weight: 400;
	  src: url("../fonts/NotoSansKR-Regular.eot");
	  src: url("../fonts/NotoSansKR-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR-Regular.woff2") format("woff2"), url("../fonts/NotoSansKR-Regular.woff") format("woff");
	}
	@font-face {
	  font-family: "Noto Sans KR";
	  font-style: normal;
	  font-weight: 500;
	  src: url("../fonts/NotoSansKR-Medium.eot");
	  src: url("../fonts/NotoSansKR-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR-Medium.woff2") format("woff2"), url("../fonts/NotoSansKR-Medium.woff") format("woff");
	}
	@font-face {
	  font-family: "Noto Sans KR";
	  font-style: normal;
	  font-weight: 700;
	  src: url("../fonts/NotoSansKR-Bold.eot");
	  src: url("../fonts/NotoSansKR-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR-Bold.woff2") format("woff2"), url("../fonts/NotoSansKR-Bold.woff") format("woff");
	}

	@font-face {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		src: url('../fonts/roboto-v29-latin-regular.eot'); /* IE9 Compat Modes */
		src: local(''),
				 url('../fonts/roboto-v29-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
				 url('../fonts/roboto-v29-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
				 url('../fonts/roboto-v29-latin-regular.woff') format('woff'), /* Modern Browsers */
				 url('../fonts/roboto-v29-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
				 url('../fonts/roboto-v29-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
	}

	@font-face {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 700;
		src: url('../fonts/roboto-v29-latin-700.eot'); /* IE9 Compat Modes */
		src: local(''),
				 url('../fonts/roboto-v29-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
				 url('../fonts/roboto-v29-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
				 url('../fonts/roboto-v29-latin-700.woff') format('woff'), /* Modern Browsers */
				 url('../fonts/roboto-v29-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
				 url('../fonts/roboto-v29-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
	}

/* Global Style */
	/* Root */
	:root {
		--main-color:#ffb600; /* 메인 컬러 */
		--main-over-color:#eaa906; /* 메인 오버 컬러 */
		--main-light-color:#fff8e5; /* 밝은 메인 컬러 */
		--frm-h:48px; /* 폼 요소 기본 높이 */
		--frm-pad:15px; /* 폼 요소 기본 좌우 패딩 */
		--frm-fs:16px; /* 폼 요소 기본 폰트 크기 */
		--frm-br:3px; /* 폼 요소 기본 보더 라디우스 */
		--vdo-h:56px; /* 비디오 요소 기본 높이 */
	}

	* {box-sizing:border-box;}
	body {overflow-x:hidden; width:100vw; height:100vh; font-family: "Roboto", "Noto Sans KR", sans-serif; font-size:16px; line-height:24px; letter-spacing:-0.020em; color:#767676;}
	::selection {background-color:var(--main-color); color:white;}

	/* Contents */
	a {text-decoration:none; color:inherit;}
	img {vertical-align:top;}
	strong {font-weight:700;}
	b {font-weight:500;}
	em {color:#e04b4b;}
	small {font-size:80%;}

	/* Form */
	select,
	button,
	textarea,
	input[type="text"],
	input[type="password"] {-webkit-appearance:none; -ms-appearance:none; appearance:none; background:none; border:none; padding:0; font-family: "Roboto", "Noto Sans KR", sans-serif; font-size:inherit; font-weight:inherit; letter-spacing:-0.020em; color:inherit; outline:0;}

	input[type="text"],
	input[type="password"],
	select,
	textarea {width:100%; caret-color:var(--main-color);}

	input[type="text"],
	input[type="password"],
	*::placeholder {color:inherit;}

	button, label {cursor:pointer;}
	label {display:inline-block;}

	legend, caption {position:fixed; left:-100vw;}

	table {table-layout:fixed; width:100%;}
	html{overflow-x:hidden; scroll-behavior: smooth;}

	/* Align */
	.ac {text-align:center !important;}
	.ar {text-align:right !important;}
	.al {text-align:left !important;}
	.fl {float:left;}
	.fr {float:right;}
	.of {overflow:hidden;}
	.vt,
	.vt > * {vertical-align:top !important;}
	.vm,
	.vm > * {vertical-align:middle !important;}
	.vb,
	.vb > * {vertical-align:bottom !important;}
	.pr {position:relative;}
	.ec {position:absolute; left:50%; top:50%; transform:translate(-50%, -50%);}
	.tal,
	.tal th,
	.tal td {padding-left:0 !important; text-align:left !important;}
	.tac th,
	.tac td {text-align:center;}

	.clfix:after{clear:both; content: ""; display: block;}
	.ma {margin:0 auto !important;}
	.fb{display: flex;justify-content: space-between;align-items: center;}
	.fb.fs{justify-content: flex-start;}
/* Ellipsis */
	.elps {overflow:hidden; display:inline-block; text-overflow:ellipsis; white-space:nowrap; word-break:break-all; width:100%;}
	td.elps {display:table-cell;}
	[class*="elps-"] {overflow:hidden; text-overflow:ellipsis; display:-webkit-box; -webkit-box-orient:vertical;}
	.elps-02 {-webkit-line-clamp:2;}

/* Interval */
	.m0 {margin:0 !important;}
	.mt0 {margin-top:0 !important;}
	.mt5 {margin-top:5px !important;}
	.mt8 {margin-top:8px;}
	.mt10 {margin-top:10px !important;}
	.mt12 {margin-top:12px;}
	.mt15 {margin-top:15px;}
	.mt20 {margin-top:20px !important;}
	.mt22 {margin-top:22px;}
	.mt24 {margin-top:24px;}
	.mt25 {margin-top:25px;}
	.mt30 {margin-top:30px !important;}
	.mt35 {margin-top:35px;}
	.mt40 {margin-top:40px;}
	.mt45 {margin-top:45px;}
	.mt50 {margin-top:50px !important;}
	.mt55 {margin-top:55px;}
	.mt60 {margin-top:60px !important;}
	.mt70 {margin-top:70px;}
	.mt80 {margin-top:80px !important;}
	.mt100 {margin-top:100px;}
	.md5 {margin-left:5px;}
	.md10 {margin-left:10px;}
	.md20 {margin-left:20px;}
	.md30 {margin-left:30px;}
	.mr5 {margin-right:5px;}
	.mr10 {margin-right:10px;}
	.mr30 {margin-right:30px;}
	.mb5 {margin-bottom:5px;}
	.mb10 {margin-bottom:10px;}
	.mb20 {margin-bottom:20px;}
	.p0 {padding:0 !important;}
	.pr0{padding-right: 0 !important;}

/* Skip Navigation */
	.skip-nav a {position:fixed; left:-100%; top:0; width:100%; background:black; line-height:40px; text-align:center; color:white; z-index:100;}
	.skip-nav a:hover,
	.skip-nav a:focus {left:0;}

/* Text */
	.tdu {text-decoration:underline;}
	.ttu {text-transform:uppercase;}

/* Width */
	.wa {width:auto !important;}
	.w100 {width:100%;}

/* ETC */
	.no-bdr {border:none !important;}
	.no-bg {background:none !important;}
	.sr-only {overflow: hidden;position: absolute;width: 1px;height: 1px;margin: -1px;padding: 0;border: 0;clip: rect(0 0 0 0);text-indent: -9999px;}
	
	