.aco-type-01 > .aco-item > .aco-head {border:1px solid gray; padding:20px;}
.aco-type-01 > .aco-item.active > .aco-cont > .aco-cont-in {border:1px solid gray; padding:20px;}

.aco-type-02 > .aco-item > .aco-head {border:1px solid orange;}
.aco-type-02 > .aco-item > .aco-cont {border:1px solid orange;}