[class*=thumb-type]{
	align-items:center;
	background-position:50%;
	background-repeat:no-repeat;
	background-size:50% auto;
	display:flex;
	flex-wrap:nowrap;
	justify-content:center;
	position:relative;
}
[class*=thumb-type]>:is(img,video){
	height:100%;
	width:100%;
}
[class*=thumb-type] video{
	object-fit:cover;
}
[class*=thumb-type]:after,[class*=thumb-type]:before{
	content:"";
}
[class*=thumb-type]>:not(img,video){
	position:absolute;
}
[class*=thumb-type] .thumb-lt{
	left:0;
	top:0;
}
[class*=thumb-type] .thumb-rt{
	right:0;
	top:0;
}
[class*=thumb-type] .thumb-lb{
	bottom:0;
	left:0;
}
[class*=thumb-type] .thumb-rb{
	bottom:0;
	right:0;
}
[class*=thumb-type] .thumb-c{
	left:50%;
	text-align:center;
	top:50%;
	transform:translate(-50%, -50%);
	width:100%;
}
[class*=thumb-type-center]>:is(img,video){
	height:auto;
	max-height:100%;
	max-width:100%;
	width:auto;
}
[class*=thumb-type-origin]{
	overflow:hidden;
}
[class*=thumb-type-origin]>:is(img,video){
	height:auto;
	max-block-size:none;
	max-inline-size:none;
	pointer-events:none;
	width:auto;
}