[class*=form-slt]{
	--form-bg-c:var(--fom-bg);
	--form-bd-a-w:1;
	--form-bd-a-s:solid;
	--form-bd-a-c:var(--fom-bdr-c);
	--form-txt-s:var(--fom-fs);
	--form-gap-a:10;
	--form-txt-lh:calc(var(--init-line-height)*1em);
	--form-min-h:var(--form-h);
	--form-focus-bd-a-w:var(--form-bd-a-w);
	--form-focus-bd-a-s:var(--form-bd-a-s);
	--form-focus-bd-a-c:var(--moc);
	--form-chk-bg-c:var(--mc);
	--form-chk-bd-a-w:var(--form-bd-a-w);
	--form-chk-bd-a-s:var(--form-bd-a-s);
	--form-chk-bd-a-c:var(--mc);
	--form-dis-txt-c:var(--dis-c);
	--form-dis-bg-c:var(--dis-bg);
	--form-dis-bd-a-w:var(--form-bd-a-w);
	--form-dis-bd-a-s:var(--form-bd-a-s);
	--form-dis-bd-a-c:var(--dis-bdr);
	color:var(--form-txt-c);
	font-size:calc(var(--form-txt-s)*1px);
	font-weight:var(--form-txt-w);
}
[class*=form-slt-btn],[class*=form-slt]{
	line-height:calc(var(--form-txt-lh)*1px);
}
[class*=form-slt-btn]{
	--form-br-a:var(--fom-br);
	--form-h:var(--fom-h);
	--form-pd-x:var(--fom-pad);
	--form-txt-c:var(--fom-fc);
	--form-chk-txt-c:#fff;
}
[class*=form-slt-chk]{
	--form-br-a:4;
	--form-w:20;
	--form-h:20;
	--form-chk-w:12;
	--form-chk-h:10;
	--form-chk-bg-pos-x:var(--bp-150);
	--form-chk-bg-pos-y:var(--bp-selection);
}
[class*=form-slt-rdo]{
	--form-br-a-unit:50%;
	--form-pd-x:8;
	--form-w:20;
	--form-h:var(--form-w);
	--form-chk-bg-c:var(--mc);
	--form-chk-w:calc(var(--form-w) - var(--form-pd-x));
	--form-chk-h:calc(var(--form-h) - var(--form-pd-x));
	--form-chk-br-a:50%;
}
[class*=form-slt-swh]{
	--form-bd-a-c:var(--mc);
	--form-br-a:var(--form-h);
	--form-pd-x:4;
	--form-w:40;
	--form-h:20;
	--form-fx-d:row-reverse;
	--form-chk-w:calc(var(--form-h) - var(--form-pd-x));
	--form-chk-h:calc(var(--form-h) - var(--form-pd-x));
	--form-chk-br-a:50%;
	--form-chk-pos-l:var(--form-pd-x);
	--form-chk-point-bg-c:var(--moc);
	--form-chk-point-bd-a-w:1;
	--form-chk-point-bd-a-s:solid;
	--form-chk-point-bd-a-c:var(--moc);
	--form-chk-point-pos-l:calc(var(--form-w) - var(--form-h));
	--form-chk-bg-c:var(--mc);
}
[class*=form-slt-rt]{
	--form-bd-a-w:0;
	--form-w:20;
	--form-h:20;
	--form-gap-a:4;
	--form-chk-bg-c:transparent;
	--form-chk-bg-pos-x:var(--bp-150);
	--form-chk-over-bg-pos-x:var(--bp-200);
	--form-chk-bg-pos-y:0;
	--form-dis-bg-c:transparent;
	gap:calc(var(--form-gap-a)*1px);
}
[class*=form-slt] .part-slt-txt{
	flex-direction:var(--form-fx-d);
	gap:calc(var(--form-gap-a)*1px);
	min-height:calc(var(--form-min-h)*1px);
}
[class*=form-slt] .part-icon{
	height:var(--h);
	width:calc(var(--form-w)*1px);
}
[class*=form-slt] .part-icon:before{
	background-color:var(--form-bg-c);
	border-color:var(--form-bd-a-c);
	border-style:var(--form-bd-a-s);
	border-width:calc(var(--form-bd-a-w)*1px);
}
[class*=form-slt] .part-icon:after{
	border-radius:calc(var(--form-br-a)*1px);
	height:calc(var(--form-chk-h)*1px);
	width:calc(var(--form-chk-w)*1px);
}
[class*=form-slt] input:focus+.part-slt-txt .part-icon:before,[class*=form-slt] input:focus:checked+.part-slt-txt .part-icon:before{
	border-color:var(--form-focus-bd-a-c);
	border-style:var(--form-focus-bd-a-s);
	border-width:calc(var(--form-focus-bd-a-w)*1px);
}
[class*=form-slt] input:checked+.part-slt-txt{
	color:var(--form-chk-txt-c);
}
[class*=form-slt] input:checked+.part-slt-txt .part-icon:before{
	background-color:var(--form-chk-bg-c);
	border-color:var(--form-chk-bd-a-c);
	border-style:var(--form-chk-bd-a-s);
	border-width:calc(var(--form-chk-bd-a-w)*1px);
}
[class*=form-slt] input:disabled+.part-slt-txt{
	color:var(--form-dis-txt-c);
}
[class*=form-slt] input:checked:disabled+.part-slt-txt .part-icon:before,[class*=form-slt] input:disabled+.part-slt-txt .part-icon:before{
	background-color:var(--form-dis-bg-c);
	border-color:var(--form-dis-bd-a-c);
	border-style:var(--form-dis-bd-a-s);
	border-width:calc(var(--form-dis-bd-a-w)*1px);
}
[class*=form-slt-btn] .part-slt-txt{
	border-color:var(--form-bd-a-c);
	border-radius:calc(var(--form-br-a)*1px);
	border-style:var(--form-bd-a-s);
	border-width:calc(var(--form-bd-a-w)*1px);
	padding-block:calc(var(--form-pd-y)*1px);
	padding-inline:calc(var(--form-pd-x)*1px);
}
[class*=form-slt-btn] .part-slt-txt:hover,[class*=form-slt-btn] input:checked:focus+.part-slt-txt,[class*=form-slt-btn] input:checked:hover+.part-slt-txt,[class*=form-slt-btn] input:focus+.part-slt-txt{
	border-color:var(--form-focus-bd-a-c);
	border-style:var(--form-focus-bd-a-s);
	border-width:calc(var(--form-focus-bd-a-w)*1px);
}
[class*=form-slt-btn] input:checked+.part-slt-txt{
	background-color:var(--form-chk-bg-c);
	border-color:var(--form-chk-bd-a-c);
	border-style:var(--form-chk-bd-a-s);
	border-width:calc(var(--form-chk-bd-a-w)*1px);
}
[class*=form-slt-btn] input:disabled+.part-slt-txt{
	background-color:var(--form-dis-bg-c);
	border-color:var(--form-dis-bd-a-c);
	border-style:var(--form-dis-bd-a-s);
	border-width:calc(var(--form-dis-bd-a-w)*1px);
	color:var(--form-dis-txt-c);
}
[class*=form-slt-btn] input:checked:disabled+.part-slt-txt{
	color:var(--form-dis-txt-c);
}
[class*=form-slt-chk] .part-icon:before,[class*=form-slt-rdo] .part-icon:before,[class*=form-slt-swh] .part-icon:before{
	background-color:var(--form-bg-c);
	border-color:var(--form-bd-a-c);
	border-radius:calc(var(--form-br-a)*1px);
	border-style:var(--form-bd-a-s);
	border-width:calc(var(--form-bd-a-w)*1px);
	height:calc(var(--form-h)*1px);
	width:calc(var(--form-w)*1px);
}
[class*=form-slt-chk] .part-icon:after{
	background-position-x:calc(var(--form-chk-bg-pos-x)*1px);
	background-position-y:calc(var(--form-chk-bg-pos-y)*1px);
}
[class*=form-slt-rdo] .part-icon:after,[class*=form-slt-rdo] .part-icon:before{
	border-radius:var(--form-br-a-unit);
}
[class*=form-slt-rdo] input:checked+.part-slt-txt .part-icon:before{
	background-color:var(--form-bg-c);
	border-color:var(--form-chk-bd-a-c);
	border-style:var(--form-chk-bd-a-s);
	border-width:calc(var(--form-chk-bd-a-w)*1px);
}
[class*=form-slt-rdo] input:checked+.part-slt-txt .part-icon:after{
	background-color:var(--form-chk-bg-c);
	border-color:var(--form-chk-bd-a-c);
	border-style:var(--form-chk-bd-a-s);
	border-width:calc(var(--form-chk-bd-a-w)*1px);
}
[class*=form-slt-rdo] input:checked:disabled+.part-slt-txt .part-icon:after{
	background-color:var(--form-dis-bg-c);
}
[class*=form-slt-rt] .part-icon:before{
	background-position-x:calc(var(--form-chk-bg-pos-x)*1px);
	background-position-y:calc(var(--form-chk-bg-pos-y)*1px);
	height:calc(var(--form-h)*1px);
	width:calc(var(--form-w)*1px);
}
[class*=form-slt-rt] input:checked~.part-slt-txt .part-icon:before,[class*=form-slt-rt] input:not(:disabled)+.part-slt-txt:hover .part-icon:before,[class*=form-slt-rt] input:not(:disabled)+.part-slt-txt:hover~.part-slt-txt .part-icon:before{
	background-position-x:calc(var(--form-chk-over-bg-pos-x)*1px);
}
[class*=form-slt-swh] .part-icon{
	padding-inline:calc(var(--form-pd-x)*1px);
}
[class*=form-slt-swh] .part-icon:before{
	background-color:var(--form-bg-c);
	border-color:var(--form-bd-a-c);
	border-radius:calc(var(--form-br-a)*1px);
	border-style:var(--form-bd-a-s);
	border-width:calc(var(--form-bd-a-w)*1px);
	height:calc(var(--form-h)*1px);
}
[class*=form-slt-swh] .part-icon:after{
	left:calc(var(--form-chk-pos-l)*1px);
}
[class*=form-slt-swh] .part-icon:after,[class*=form-slt-swh] input:checked+.part-slt-txt .part-icon:before{
	background-color:var(--form-chk-bg-c);
	border-color:var(--form-chk-bd-a-c);
	border-style:var(--form-chk-bd-a-s);
	border-width:calc(var(--form-chk-bd-a-w)*1px);
}
[class*=form-slt-swh] input:checked+.part-slt-txt .part-icon:after{
	background-color:var(--form-chk-point-bg-c);
	border-color:var(--form-chk-point-bd-a-c);
	border-style:var(--form-chk-point-bd-a-s);
	border-width:calc(var(--form-chk-point-bd-a-w)*1px);
	left:calc(var(--form-chk-point-pos-l)*1px);
}
[class*=form-slt-swh] input:disabled+.part-slt-txt .part-icon:after{
	background-color:var(--form-dis-bg-c);
}
@media screen and (max-width:1080px){
	[class*=form-slt]{
		color:var(--t-form-txt-c, var(--form-txt-c));
		font-size:var(--t-form-txt-s, calc(var(--form-txt-s)*.09259vw));
		font-weight:var(--t-form-txt-w, var(--form-txt-w));
		line-height:var(--t-form-txt-lh, calc(var(--form-txt-lh)*.09259vw));
	}
	[class*=form-slt] .part-slt-txt{
		flex-direction:var(--t-form-fx-d, var(--form-fx-d));
		gap:var(--t-form-gap-a, calc(var(--form-gap-a)*.09259vw));
		min-height:var(--t-form-min-h, calc(var(--form-min-h)*.09259vw));
	}
	[class*=form-slt] .part-icon{
		height:var(--t-h, var(--h));
		width:var(--t-form-w, calc(var(--form-w)*.09259vw));
	}
	[class*=form-slt] .part-icon:before{
		background-color:var(--t-form-bg-c, var(--form-bg-c));
		border-color:var(--t-form-bd-a-c, var(--form-bd-a-c));
		border-style:var(--t-form-bd-a-s, var(--form-bd-a-s));
		border-width:var(--t-form-bd-a-w, calc(var(--form-bd-a-w)*.09259vw));
	}
	[class*=form-slt] .part-icon:after{
		border-radius:var(--t-form-br-a, calc(var(--form-br-a)*.09259vw));
		height:var(--t-form-chk-h, calc(var(--form-chk-h)*.09259vw));
		width:var(--t-form-chk-w, calc(var(--form-chk-w)*.09259vw));
	}
	[class*=form-slt] input:focus+.part-slt-txt .part-icon:before,[class*=form-slt] input:focus:checked+.part-slt-txt .part-icon:before{
		border-color:var(--t-form-focus-bd-a-c, var(--form-focus-bd-a-c));
		border-style:var(--t-form-focus-bd-a-s, var(--form-focus-bd-a-s));
		border-width:var(--t-form-focus-bd-a-w, calc(var(--form-focus-bd-a-w)*.09259vw));
	}
	[class*=form-slt] input:checked+.part-slt-txt{
		color:var(--t-form-chk-txt-c, var(--form-chk-txt-c));
	}
	[class*=form-slt] input:checked+.part-slt-txt .part-icon:before{
		background-color:var(--t-form-chk-bg-c, var(--form-chk-bg-c));
		border-color:var(--t-form-chk-bd-a-c, var(--form-chk-bd-a-c));
		border-style:var(--t-form-chk-bd-a-s, var(--form-chk-bd-a-s));
		border-width:var(--t-form-chk-bd-a-w, calc(var(--form-chk-bd-a-w)*.09259vw));
	}
	[class*=form-slt] input:disabled+.part-slt-txt{
		color:var(--t-form-dis-txt-c, var(--form-dis-txt-c));
	}
	[class*=form-slt] input:checked:disabled+.part-slt-txt .part-icon:before,[class*=form-slt] input:disabled+.part-slt-txt .part-icon:before{
		background-color:var(--t-form-dis-bg-c, var(--form-dis-bg-c));
		border-color:var(--t-form-dis-bd-a-c, var(--form-dis-bd-a-c));
		border-style:var(--t-form-dis-bd-a-s, var(--form-dis-bd-a-s));
		border-width:var(--t-form-dis-bd-a-w, calc(var(--form-dis-bd-a-w)*.09259vw));
	}
	[class*=form-slt-btn]{
		line-height:var(--t-form-txt-lh, calc(var(--form-txt-lh)*.09259vw));
	}
	[class*=form-slt-btn] .part-slt-txt{
		border-color:var(--t-form-bd-a-c, var(--form-bd-a-c));
		border-radius:var(--t-form-br-a, calc(var(--form-br-a)*.09259vw));
		border-style:var(--t-form-bd-a-s, var(--form-bd-a-s));
		border-width:var(--t-form-bd-a-w, calc(var(--form-bd-a-w)*.09259vw));
		padding-block:var(--t-form-pd-y, calc(var(--form-pd-y)*.09259vw));
		padding-inline:var(--t-form-pd-x, calc(var(--form-pd-x)*.09259vw));
	}
	[class*=form-slt-btn] .part-slt-txt:hover,[class*=form-slt-btn] input:checked:focus+.part-slt-txt,[class*=form-slt-btn] input:checked:hover+.part-slt-txt,[class*=form-slt-btn] input:focus+.part-slt-txt{
		border-color:var(--t-form-focus-bd-a-c, var(--form-focus-bd-a-c));
		border-style:var(--t-form-focus-bd-a-s, var(--form-focus-bd-a-s));
		border-width:var(--t-form-focus-bd-a-w, calc(var(--form-focus-bd-a-w)*.09259vw));
	}
	[class*=form-slt-btn] input:checked+.part-slt-txt{
		background-color:var(--t-form-chk-bg-c, var(--form-chk-bg-c));
		border-color:var(--t-form-chk-bd-a-c, var(--form-chk-bd-a-c));
		border-style:var(--t-form-chk-bd-a-s, var(--form-chk-bd-a-s));
		border-width:var(--t-form-chk-bd-a-w, calc(var(--form-chk-bd-a-w)*.09259vw));
	}
	[class*=form-slt-btn] input:disabled+.part-slt-txt{
		background-color:var(--t-form-dis-bg-c, var(--form-dis-bg-c));
		border-color:var(--t-form-dis-bd-a-c, var(--form-dis-bd-a-c));
		border-style:var(--t-form-dis-bd-a-s, var(--form-dis-bd-a-s));
		border-width:var(--t-form-dis-bd-a-w, calc(var(--form-dis-bd-a-w)*.09259vw));
	}
	[class*=form-slt-btn] input:checked:disabled+.part-slt-txt,[class*=form-slt-btn] input:disabled+.part-slt-txt{
		color:var(--t-form-dis-txt-c, var(--form-dis-txt-c));
	}
	[class*=form-slt-chk] .part-icon:before,[class*=form-slt-rdo] .part-icon:before,[class*=form-slt-swh] .part-icon:before{
		background-color:var(--t-form-bg-c, var(--form-bg-c));
		border-color:var(--t-form-bd-a-c, var(--form-bd-a-c));
		border-radius:var(--t-form-br-a, calc(var(--form-br-a)*.09259vw));
		border-style:var(--t-form-bd-a-s, var(--form-bd-a-s));
		border-width:var(--t-form-bd-a-w, calc(var(--form-bd-a-w)*.09259vw));
		height:var(--t-form-h, calc(var(--form-h)*.09259vw));
		width:var(--t-form-w, calc(var(--form-w)*.09259vw));
	}
	[class*=form-slt-chk] .part-icon:after{
		background-position-x:var(--t-form-chk-bg-pos-x, calc(var(--form-chk-bg-pos-x)*.09259vw));
		background-position-y:var(--t-form-chk-bg-pos-y, calc(var(--form-chk-bg-pos-y)*.09259vw));
	}
	[class*=form-slt-rdo] .part-icon:after,[class*=form-slt-rdo] .part-icon:before{
		border-radius:var(--t-form-br-a-unit, var(--form-br-a-unit));
	}
	[class*=form-slt-rdo] input:checked+.part-slt-txt .part-icon:before{
		background-color:var(--t-form-bg-c, var(--form-bg-c));
	}
	[class*=form-slt-rdo] input:checked+.part-slt-txt .part-icon:after,[class*=form-slt-rdo] input:checked+.part-slt-txt .part-icon:before{
		border-color:var(--t-form-chk-bd-a-c, var(--form-chk-bd-a-c));
		border-style:var(--t-form-chk-bd-a-s, var(--form-chk-bd-a-s));
		border-width:var(--t-form-chk-bd-a-w, calc(var(--form-chk-bd-a-w)*.09259vw));
	}
	[class*=form-slt-rdo] input:checked+.part-slt-txt .part-icon:after{
		background-color:var(--t-form-chk-bg-c, var(--form-chk-bg-c));
	}
	[class*=form-slt-rdo] input:checked:disabled+.part-slt-txt .part-icon:after{
		background-color:var(--t-form-dis-bg-c, var(--form-dis-bg-c));
	}
	[class*=form-slt-rt]{
		gap:var(--t-form-gap-a, calc(var(--form-gap-a)*.09259vw));
	}
	[class*=form-slt-rt] .part-icon:before{
		background-position-x:var(--t-form-chk-bg-pos-x, calc(var(--form-chk-bg-pos-x)*.09259vw));
		background-position-y:var(--t-form-chk-bg-pos-y, calc(var(--form-chk-bg-pos-y)*.09259vw));
		height:var(--t-form-h, calc(var(--form-h)*.09259vw));
		width:var(--t-form-w, calc(var(--form-w)*.09259vw));
	}
	[class*=form-slt-rt] input:checked~.part-slt-txt .part-icon:before,[class*=form-slt-rt] input:not(:disabled)+.part-slt-txt:hover .part-icon:before,[class*=form-slt-rt] input:not(:disabled)+.part-slt-txt:hover~.part-slt-txt .part-icon:before{
		background-position-x:var(--t-form-chk-over-bg-pos-x, calc(var(--form-chk-over-bg-pos-x)*.09259vw));
	}
	[class*=form-slt-swh] .part-icon{
		padding-inline:var(--t-form-pd-x, calc(var(--form-pd-x)*.09259vw));
	}
	[class*=form-slt-swh] .part-icon:before{
		background-color:var(--t-form-bg-c, var(--form-bg-c));
		border-color:var(--t-form-bd-a-c, var(--form-bd-a-c));
		border-radius:var(--t-form-br-a, calc(var(--form-br-a)*.09259vw));
		border-style:var(--t-form-bd-a-s, var(--form-bd-a-s));
		border-width:var(--t-form-bd-a-w, calc(var(--form-bd-a-w)*.09259vw));
		height:var(--t-form-h, calc(var(--form-h)*.09259vw));
	}
	[class*=form-slt-swh] .part-icon:after{
		left:var(--t-form-chk-pos-l, calc(var(--form-chk-pos-l)*.09259vw));
	}
	[class*=form-slt-swh] .part-icon:after,[class*=form-slt-swh] input:checked+.part-slt-txt .part-icon:before{
		background-color:var(--t-form-chk-bg-c, var(--form-chk-bg-c));
		border-color:var(--t-form-chk-bd-a-c, var(--form-chk-bd-a-c));
		border-style:var(--t-form-chk-bd-a-s, var(--form-chk-bd-a-s));
		border-width:var(--t-form-chk-bd-a-w, calc(var(--form-chk-bd-a-w)*.09259vw));
	}
	[class*=form-slt-swh] input:checked+.part-slt-txt .part-icon:after{
		background-color:var(--t-form-chk-point-bg-c, var(--form-chk-point-bg-c));
		border-color:var(--t-form-chk-point-bd-a-c, var(--form-chk-point-bd-a-c));
		border-style:var(--t-form-chk-point-bd-a-s, var(--form-chk-point-bd-a-s));
		border-width:var(--t-form-chk-point-bd-a-w, calc(var(--form-chk-point-bd-a-w)*.09259vw));
		left:var(--t-form-chk-point-pos-l, calc(var(--form-chk-point-pos-l)*.09259vw));
	}
	[class*=form-slt-swh] input:disabled+.part-slt-txt .part-icon:after{
		background-color:var(--t-form-dis-bg-c, var(--form-dis-bg-c));
	}
}
@media screen and (max-width:720px){
	[class*=form-slt]{
		color:var(--m-form-txt-c, var(--t-form-txt-c, var(--form-txt-c)));
		font-size:var(--m-form-txt-s, var(--t-form-txt-s, calc(var(--form-txt-s)*.09259vw)));
		font-weight:var(--m-form-txt-w, var(--t-form-txt-w, var(--form-txt-w)));
		line-height:var(--m-form-txt-lh, var(--t-form-txt-lh, calc(var(--form-txt-lh)*.09259vw)));
	}
	[class*=form-slt] .part-slt-txt{
		flex-direction:var(--m-form-fx-d, var(--t-form-fx-d, var(--form-fx-d)));
		gap:var(--m-form-gap-a, var(--t-form-gap-a, calc(var(--form-gap-a)*.09259vw)));
		min-height:var(--m-form-min-h, var(--t-form-min-h, calc(var(--form-min-h)*.09259vw)));
	}
	[class*=form-slt] .part-icon{
		height:var(--m-h, var(--t-h, var(--h)));
		width:var(--m-form-w, var(--t-form-w, calc(var(--form-w)*.09259vw)));
	}
	[class*=form-slt] .part-icon:before{
		background-color:var(--m-form-bg-c, var(--t-form-bg-c, var(--form-bg-c)));
		border-color:var(--m-form-bd-a-c, var(--t-form-bd-a-c, var(--form-bd-a-c)));
		border-style:var(--m-form-bd-a-s, var(--t-form-bd-a-s, var(--form-bd-a-s)));
		border-width:var(--m-form-bd-a-w, var(--t-form-bd-a-w, calc(var(--form-bd-a-w)*.09259vw)));
	}
	[class*=form-slt] .part-icon:after{
		border-radius:var(--m-form-br-a, var(--t-form-br-a, calc(var(--form-br-a)*.09259vw)));
		height:var(--m-form-chk-h, var(--t-form-chk-h, calc(var(--form-chk-h)*.09259vw)));
		width:var(--m-form-chk-w, var(--t-form-chk-w, calc(var(--form-chk-w)*.09259vw)));
	}
	[class*=form-slt] input:focus+.part-slt-txt .part-icon:before,[class*=form-slt] input:focus:checked+.part-slt-txt .part-icon:before{
		border-color:var(--m-form-focus-bd-a-c, var(--t-form-focus-bd-a-c, var(--form-focus-bd-a-c)));
		border-style:var(--m-form-focus-bd-a-s, var(--t-form-focus-bd-a-s, var(--form-focus-bd-a-s)));
		border-width:var(--m-form-focus-bd-a-w, var(--t-form-focus-bd-a-w, calc(var(--form-focus-bd-a-w)*.09259vw)));
	}
	[class*=form-slt] input:checked+.part-slt-txt{
		color:var(--m-form-chk-txt-c, var(--t-form-chk-txt-c, var(--form-chk-txt-c)));
	}
	[class*=form-slt] input:checked+.part-slt-txt .part-icon:before{
		background-color:var(--m-form-chk-bg-c, var(--t-form-chk-bg-c, var(--form-chk-bg-c)));
		border-color:var(--m-form-chk-bd-a-c, var(--t-form-chk-bd-a-c, var(--form-chk-bd-a-c)));
		border-style:var(--m-form-chk-bd-a-s, var(--t-form-chk-bd-a-s, var(--form-chk-bd-a-s)));
		border-width:var(--m-form-chk-bd-a-w, var(--t-form-chk-bd-a-w, calc(var(--form-chk-bd-a-w)*.09259vw)));
	}
	[class*=form-slt] input:disabled+.part-slt-txt{
		color:var(--m-form-dis-txt-c, var(--t-form-dis-txt-c, var(--form-dis-txt-c)));
	}
	[class*=form-slt] input:checked:disabled+.part-slt-txt .part-icon:before,[class*=form-slt] input:disabled+.part-slt-txt .part-icon:before{
		background-color:var(--m-form-dis-bg-c, var(--t-form-dis-bg-c, var(--form-dis-bg-c)));
		border-color:var(--m-form-dis-bd-a-c, var(--t-form-dis-bd-a-c, var(--form-dis-bd-a-c)));
		border-style:var(--m-form-dis-bd-a-s, var(--t-form-dis-bd-a-s, var(--form-dis-bd-a-s)));
		border-width:var(--m-form-dis-bd-a-w, var(--t-form-dis-bd-a-w, calc(var(--form-dis-bd-a-w)*.09259vw)));
	}
	[class*=form-slt-btn]{
		line-height:var(--m-form-txt-lh, var(--t-form-txt-lh, calc(var(--form-txt-lh)*.09259vw)));
	}
	[class*=form-slt-btn] .part-slt-txt{
		border-color:var(--m-form-bd-a-c, var(--t-form-bd-a-c, var(--form-bd-a-c)));
		border-radius:var(--m-form-br-a, var(--t-form-br-a, calc(var(--form-br-a)*.09259vw)));
		border-style:var(--m-form-bd-a-s, var(--t-form-bd-a-s, var(--form-bd-a-s)));
		border-width:var(--m-form-bd-a-w, var(--t-form-bd-a-w, calc(var(--form-bd-a-w)*.09259vw)));
		padding-block:var(--m-form-pd-y, var(--t-form-pd-y, calc(var(--form-pd-y)*.09259vw)));
		padding-inline:var(--m-form-pd-x, var(--t-form-pd-x, calc(var(--form-pd-x)*.09259vw)));
	}
	[class*=form-slt-btn] .part-slt-txt:hover,[class*=form-slt-btn] input:checked:focus+.part-slt-txt,[class*=form-slt-btn] input:checked:hover+.part-slt-txt,[class*=form-slt-btn] input:focus+.part-slt-txt{
		border-color:var(--m-form-focus-bd-a-c, var(--t-form-focus-bd-a-c, var(--form-focus-bd-a-c)));
		border-style:var(--m-form-focus-bd-a-s, var(--t-form-focus-bd-a-s, var(--form-focus-bd-a-s)));
		border-width:var(--m-form-focus-bd-a-w, var(--t-form-focus-bd-a-w, calc(var(--form-focus-bd-a-w)*.09259vw)));
	}
	[class*=form-slt-btn] input:checked+.part-slt-txt{
		background-color:var(--m-form-chk-bg-c, var(--t-form-chk-bg-c, var(--form-chk-bg-c)));
		border-color:var(--m-form-chk-bd-a-c, var(--t-form-chk-bd-a-c, var(--form-chk-bd-a-c)));
		border-style:var(--m-form-chk-bd-a-s, var(--t-form-chk-bd-a-s, var(--form-chk-bd-a-s)));
		border-width:var(--m-form-chk-bd-a-w, var(--t-form-chk-bd-a-w, calc(var(--form-chk-bd-a-w)*.09259vw)));
	}
	[class*=form-slt-btn] input:disabled+.part-slt-txt{
		background-color:var(--m-form-dis-bg-c, var(--t-form-dis-bg-c, var(--form-dis-bg-c)));
		border-color:var(--m-form-dis-bd-a-c, var(--t-form-dis-bd-a-c, var(--form-dis-bd-a-c)));
		border-style:var(--m-form-dis-bd-a-s, var(--t-form-dis-bd-a-s, var(--form-dis-bd-a-s)));
		border-width:var(--m-form-dis-bd-a-w, var(--t-form-dis-bd-a-w, calc(var(--form-dis-bd-a-w)*.09259vw)));
	}
	[class*=form-slt-btn] input:checked:disabled+.part-slt-txt,[class*=form-slt-btn] input:disabled+.part-slt-txt{
		color:var(--m-form-dis-txt-c, var(--t-form-dis-txt-c, var(--form-dis-txt-c)));
	}
	[class*=form-slt-chk] .part-icon:before,[class*=form-slt-rdo] .part-icon:before,[class*=form-slt-swh] .part-icon:before{
		background-color:var(--m-form-bg-c, var(--t-form-bg-c, var(--form-bg-c)));
		border-color:var(--m-form-bd-a-c, var(--t-form-bd-a-c, var(--form-bd-a-c)));
		border-radius:var(--m-form-br-a, var(--t-form-br-a, calc(var(--form-br-a)*.09259vw)));
		border-style:var(--m-form-bd-a-s, var(--t-form-bd-a-s, var(--form-bd-a-s)));
		border-width:var(--m-form-bd-a-w, var(--t-form-bd-a-w, calc(var(--form-bd-a-w)*.09259vw)));
		height:var(--m-form-h, var(--t-form-h, calc(var(--form-h)*.09259vw)));
		width:var(--m-form-w, var(--t-form-w, calc(var(--form-w)*.09259vw)));
	}
	[class*=form-slt-chk] .part-icon:after{
		background-position-x:var(--m-form-chk-bg-pos-x, var(--t-form-chk-bg-pos-x, calc(var(--form-chk-bg-pos-x)*.09259vw)));
		background-position-y:var(--m-form-chk-bg-pos-y, var(--t-form-chk-bg-pos-y, calc(var(--form-chk-bg-pos-y)*.09259vw)));
	}
	[class*=form-slt-rdo] .part-icon:after,[class*=form-slt-rdo] .part-icon:before{
		border-radius:var(--m-form-br-a-unit, var(--t-form-br-a-unit, var(--form-br-a-unit)));
	}
	[class*=form-slt-rdo] input:checked+.part-slt-txt .part-icon:before{
		background-color:var(--m-form-bg-c, var(--t-form-bg-c, var(--form-bg-c)));
	}
	[class*=form-slt-rdo] input:checked+.part-slt-txt .part-icon:after,[class*=form-slt-rdo] input:checked+.part-slt-txt .part-icon:before{
		border-color:var(--m-form-chk-bd-a-c, var(--t-form-chk-bd-a-c, var(--form-chk-bd-a-c)));
		border-style:var(--m-form-chk-bd-a-s, var(--t-form-chk-bd-a-s, var(--form-chk-bd-a-s)));
		border-width:var(--m-form-chk-bd-a-w, var(--t-form-chk-bd-a-w, calc(var(--form-chk-bd-a-w)*.09259vw)));
	}
	[class*=form-slt-rdo] input:checked+.part-slt-txt .part-icon:after{
		background-color:var(--m-form-chk-bg-c, var(--t-form-chk-bg-c, var(--form-chk-bg-c)));
	}
	[class*=form-slt-rdo] input:checked:disabled+.part-slt-txt .part-icon:after{
		background-color:var(--m-form-dis-bg-c, var(--t-form-dis-bg-c, var(--form-dis-bg-c)));
	}
	[class*=form-slt-rt]{
		gap:var(--m-form-gap-a, var(--t-form-gap-a, calc(var(--form-gap-a)*.09259vw)));
	}
	[class*=form-slt-rt] .part-icon:before{
		background-position-x:var(--m-form-chk-bg-pos-x, var(--t-form-chk-bg-pos-x, calc(var(--form-chk-bg-pos-x)*.09259vw)));
		background-position-y:var(--m-form-chk-bg-pos-y, var(--t-form-chk-bg-pos-y, calc(var(--form-chk-bg-pos-y)*.09259vw)));
		height:var(--m-form-h, var(--t-form-h, calc(var(--form-h)*.09259vw)));
		width:var(--m-form-w, var(--t-form-w, calc(var(--form-w)*.09259vw)));
	}
	[class*=form-slt-rt] input:checked~.part-slt-txt .part-icon:before,[class*=form-slt-rt] input:not(:disabled)+.part-slt-txt:hover .part-icon:before,[class*=form-slt-rt] input:not(:disabled)+.part-slt-txt:hover~.part-slt-txt .part-icon:before{
		background-position-x:var(--m-form-chk-over-bg-pos-x, var(--t-form-chk-over-bg-pos-x, calc(var(--form-chk-over-bg-pos-x)*.09259vw)));
	}
	[class*=form-slt-swh] .part-icon{
		padding-inline:var(--m-form-pd-x, var(--t-form-pd-x, calc(var(--form-pd-x)*.09259vw)));
	}
	[class*=form-slt-swh] .part-icon:before{
		background-color:var(--m-form-bg-c, var(--t-form-bg-c, var(--form-bg-c)));
		border-color:var(--m-form-bd-a-c, var(--t-form-bd-a-c, var(--form-bd-a-c)));
		border-radius:var(--m-form-br-a, var(--t-form-br-a, calc(var(--form-br-a)*.09259vw)));
		border-style:var(--m-form-bd-a-s, var(--t-form-bd-a-s, var(--form-bd-a-s)));
		border-width:var(--m-form-bd-a-w, var(--t-form-bd-a-w, calc(var(--form-bd-a-w)*.09259vw)));
		height:var(--m-form-h, var(--t-form-h, calc(var(--form-h)*.09259vw)));
	}
	[class*=form-slt-swh] .part-icon:after{
		left:var(--m-form-chk-pos-l, var(--t-form-chk-pos-l, calc(var(--form-chk-pos-l)*.09259vw)));
	}
	[class*=form-slt-swh] .part-icon:after,[class*=form-slt-swh] input:checked+.part-slt-txt .part-icon:before{
		background-color:var(--m-form-chk-bg-c, var(--t-form-chk-bg-c, var(--form-chk-bg-c)));
		border-color:var(--m-form-chk-bd-a-c, var(--t-form-chk-bd-a-c, var(--form-chk-bd-a-c)));
		border-style:var(--m-form-chk-bd-a-s, var(--t-form-chk-bd-a-s, var(--form-chk-bd-a-s)));
		border-width:var(--m-form-chk-bd-a-w, var(--t-form-chk-bd-a-w, calc(var(--form-chk-bd-a-w)*.09259vw)));
	}
	[class*=form-slt-swh] input:checked+.part-slt-txt .part-icon:after{
		background-color:var(--m-form-chk-point-bg-c, var(--t-form-chk-point-bg-c, var(--form-chk-point-bg-c)));
		border-color:var(--m-form-chk-point-bd-a-c, var(--t-form-chk-point-bd-a-c, var(--form-chk-point-bd-a-c)));
		border-style:var(--m-form-chk-point-bd-a-s, var(--t-form-chk-point-bd-a-s, var(--form-chk-point-bd-a-s)));
		border-width:var(--m-form-chk-point-bd-a-w, var(--t-form-chk-point-bd-a-w, calc(var(--form-chk-point-bd-a-w)*.09259vw)));
		left:var(--m-form-chk-point-pos-l, var(--t-form-chk-point-pos-l, calc(var(--form-chk-point-pos-l)*.09259vw)));
	}
	[class*=form-slt-swh] input:disabled+.part-slt-txt .part-icon:after{
		background-color:var(--m-form-dis-bg-c, var(--t-form-dis-bg-c, var(--form-dis-bg-c)));
	}
}