/* Chip */
	ig-chip {display:inline-block; width:fit-content;}
	[class*="chip-type"] {display:inline-flex; align-items:center; justify-content:center; border:1px solid var(--mc); border-radius:var(--init-fs); padding:0 var(--init-fs);}