/* Checkbox & Radio Type */
	/* Default */
		[class*="form-type-opt"] {display:inline-flex;}
		[class*="form-type-opt"] label {display:flex;}
		[class*="form-type-opt"] input {position:absolute; left:0; top:50%; transform:translate(0, -50%); width:1px; height:1px; z-index:-1; visibility:hidden;}
		[class*="form-type-opt"] .opt-txt {display:inline-flex;}
		[class*="form-type-opt"] .opt-txt:before,
		[class*="form-type-opt"] .opt-txt:after {content:""; background-image:var(--ico-c); background-size:var(--ico-sz);}
		[class*="form-type-opt"] .opt-txt:before {background-color:var(--fom-bg); border-color:var(--fom-bdr-c); transition:background .3s, border-color .3s;}
		[class*="form-type-opt"] .opt-txt:after {position:absolute; visibility:hidden; transition:background .3s, border-color .3s;}

		[class*="form-type-opt"] input:focus + .opt-txt:before,
		[class*="form-type-opt"] input:focus:checked + .opt-txt:before {border:1px solid var(--moc);}
		[class*="form-type-opt"] input:checked + .opt-txt:before {visibility:visible; border-color:var(--mc);}

		[class*="form-type-opt"] input:disabled + .opt-txt {cursor:auto; user-select:none; color:var(--fom-bdr-c);}
		[class*="form-type-opt"] input:disabled + .opt-txt:before,
		[class*="form-type-opt"] input:checked:disabled + .opt-txt:before {background-color:var(--fom-dis-bg); border-color:var(--fom-dis-bdr);}

		[class*="form-grp-type"] {overflow:hidden; display:inline-flex;}
		[class*="form-grp-type"] .opt-txt {border-radius:0; min-height:auto !important;}
		[class*="form-grp-type"] input:checked + .opt-txt {border-radius:0;}

	/* Button */
		[class*="form-type-opt-btn"] {border:0; padding:0; cursor:pointer;}
		[class*="form-type-opt-btn"] .opt-txt {align-items:center; background-color:white; border:1px solid var(--mc); border-radius:var(--fom-br); min-height:var(--fom-h); padding:0 var(--fom-pad); font-size:var(--fom-fs); color:var(--mc); user-select:none;}
		[class*="form-type-opt-btn"] .opt-txt:hover {transition:background .3s ease, border-color .3s ease; border-color:var(--moc)}

		[class*="form-type-opt-btn"] input:focus + .opt-txt,
		[class*="form-type-opt-btn"] input:checked:focus + .opt-txt {border-color:var(--moc);}
		[class*="form-type-opt-btn"] input:checked + .opt-txt {background:var(--mc); border:1px solid var(--mc); border-radius:var(--fom-br); min-height:var(--fom-h); padding:0 var(--fom-pad); font-size:var(--fom-fs); color:white;}
		[class*="form-type-opt-btn"] input:disabled + .opt-txt {background:var(--fom-dis-bg); border-color:var(--fom-dis-bg); color:var(--fom-ph); cursor:default; pointer-events:none;}
		[class*="form-type-opt-btn"] .opt-txt:before {display:none;}

	/* Check Box, Radio, Switch Default */
		[class*="form-type-opt-chk"],
		[class*="form-type-opt-rdo"],
		[class*="form-type-opt-swh"] {min-height:var(--fom-opt-sz); font-size:var(--fom-fs); line-height:var(--fom-opt-sz);}
		[class*="form-type-opt-chk"] .opt-txt,
		[class*="form-type-opt-rdo"] .opt-txt,
		[class*="form-type-opt-swh"] .opt-txt {gap:10px; line-height:var(--fom-opt-sz);}
		[class*="form-type-opt-chk"] .opt-txt:before,
		[class*="form-type-opt-rdo"] .opt-txt:before,
		[class*="form-type-opt-swh"] .opt-txt:before {flex:0 0 var(--fom-opt-sz); background-color:white; border:1px solid #e2e2e2; width:var(--fom-opt-sz); height:var(--fom-opt-sz);}

	/* Check Box */
		[class*="form-type-opt-chk"] .opt-txt:before {border-radius:3px;}
		[class*="form-type-opt-chk"] .opt-txt:after {left:calc((var(--fom-opt-sz) / 2) - (var(--fom-chk-ico-w) / 2)); top:calc((var(--fom-opt-sz) / 2) - (var(--fom-chk-ico-h) / 2)); background-image:var(--ico-c); background-position:var(--400) var(--50); width:var(--fom-chk-ico-w); height:var(--fom-chk-ico-h);}
		[class*="form-type-opt-chk"] input:checked + .opt-txt:before {background-color:var(--mc);}
		[class*="form-type-opt-chk"] input:checked + .opt-txt:after {visibility:visible;}
		[class*="form-type-opt-chk"] input:disabled + .opt-txt:after {background-position:var(--200) var(--50);}

	/* Radio */
		[class*="form-type-opt-rdo"] .opt-txt:before,
		[class*="form-type-opt-rdo"] .opt-txt:after {border-radius:50%;}
		[class*="form-type-opt-rdo"] .opt-txt:after {left:calc(var(--fom-rdo-gap) / 2); top:calc(var(--fom-rdo-gap) / 2); width:calc(var(--fom-opt-sz) - var(--fom-rdo-gap)); height:calc(var(--fom-opt-sz) - var(--fom-rdo-gap));}

		[class*="form-type-opt-rdo"] input:checked + .opt-txt:after {visibility:visible; background:var(--mc);}
		[class*="form-type-opt-rdo"] input:checked:disabled + .opt-txt:after {background:var(--fom-dis-bdr);}

	/* Rating */
		[class*="form-type-opt-rt"] {user-select:none;}
		[class*="form-type-opt-rt"] .opt-txt {font-size:0;}
		[class*="form-type-opt-rt"] .opt-txt:before {content:""; background-image:var(--ico-c); background-size:var(--ico-sz); background-position:var(--150) 0; width:21px; height:20px; transition:none;}
		[class*="form-type-opt-rt"] input:disabled + .opt-txt:before {background-image:var(--ico-c); background-position:var(--150) 0; opacity:0.2;}
		[class*="form-type-opt-rt"] input:focus + .opt-txt:before,
		[class*="form-type-opt-rt"] input:checked:focus + .opt-txt:before {border:0;}
		[class*="form-type-opt-rt"] .active .opt-txt:before {background-position:var(--200) 0; transition:none;}
		[class*="form-type-opt-rt"] .active input:disabled + .opt-txt:before {opacity:0.4; background-image:var(--ico-c); background-position:var(--150) 0;}

	/* Switch */
		[class*="form-type-opt-swh"] .opt-txt:after {left:calc(var(--fom-rdo-gap) / 2); top:calc(var(--fom-rdo-gap) / 2); width:calc(var(--fom-opt-sz) - var(--fom-rdo-gap)); height:calc(var(--fom-opt-sz) - var(--fom-rdo-gap));}
		[class*="form-type-opt-swh"] .opt-txt:before {flex:0 0 calc(var(--fom-fs) * 2); background:var(--mc); border-color:var(--mc); border-radius:var(--fom-opt-sz); width:calc(var(--fom-fs) * 2);}
		[class*="form-type-opt-swh"] .opt-txt:after {visibility:visible; background:var(--moc); border-radius:50%; transition:left .3s ease;}

		[class*="form-type-opt-swh"] input:checked + .opt-txt:after {left:calc( (var(--fom-fs) * 2) - (var(--fom-opt-sz) - (var(--fom-rdo-gap)/2)) ); transition:left .3s ease;}
		[class*="form-type-opt-swh"] input:disabled + .opt-txt:after {background:var(--fom-dis-bdr);}

