/* Textarea */
	textarea {font-size:var(--fom-fs); color:var(--fom-fc); resize:none;}
	textarea::placeholder {color:var(--fom-ph);}
	textarea[disabled] {background:var(--fom-dis-bg);}
	[class*="form-type-tarea"] {display:flex; flex-direction:column; flex-wrap:nowrap; background:var(--fom-bg); border:1px solid var(--fom-bdr-c); border-radius:var(--fom-br); width:100%; padding:var(--fom-pad); font-size:var(--fom-fs); line-height:var(--init-lh); color:var(--fom-fc); transition:border-color .3s ease;}
	[class*="form-type-tarea"][divide] textarea {background:var(--fom-bg); border:1px solid var(--fom-bdr-c); border-radius:var(--fom-br); width:100%; height:var(--fom-ta-h); padding:var(--fom-pad); font-size:var(--fom-fs); line-height:var(--fom-opt-sz); color:var(--fom-fc); transition:border-color .3s ease;}
	[class*="form-type-tarea"] textarea {height:100%;}
	[class*="form-type-tarea"].focused,
	[class*="form-type-tarea"]:hover {border-color:var(--moc); transition:border-color .3s ease;}
	[class*="form-type-tarea"][disabled] {background-color:var(--fom-dis-bg); border-color:var(--fom-dis-bdr); color:var(--fom-ph); pointer-events:none; cursor:auto;}

	[class*="form-type-tarea-tr"] {border:none;}
