/* Accordion */
	.aco-type-test,
	.aco-type-qna-test {border:1px solid red;}
	.aco-type-test > .aco-wrap,
	.aco-type-test > .aco-wrap > .aco-cont,
	.aco-type-qna-test > .aco-wrap,
	.aco-type-qna-test > .aco-wrap > .aco-cont {border-top:1px solid red;}

/* Bullet */
	/* Bullet Circle */
		.bp-circle-test > *:before {background:red;}

	/* Bullet Square */
		.bp-square-test > *:before {background:red;}

	/* Hyphen */
		.bp-hyphen-test > *:before {color:red;}

	/* Numbering */
		.bp-number-test > *:before {color:red;}

/* Button */
	.btn-type-test {background:red; border:1px solid red;}
	.btn-grp-type-test {border:1px solid red;}

/* Chip */
	.chip-type-test {background:red; border:1px solid red; color:white;}

/* Count */
	.count-type-test {color:red;}

/* Date Time */
	.datetime-type-test {border:1px solid red;}
	.datetime-type-test .datetime-table tbody td:first-child {color:red;}
	.datetime-type-test .datetime-table tbody td:last-child {color:blue;}

/* Form */
	/* Button */
		.form-type-btn-test input {background:red;}

	/* Combobox */
		.form-type-combo-test select,
		.form-type-dropdown-test .dropdown-top {border-color:red;}

	/* File */
		.form-type-file-test {border-color:red;}

	/* Input */
		.form-type-txt-test {border-color:red;}

	/* Range */
		.form-type-range-test input[type="range"]::-webkit-slider-runnable-track {background-color:red;}

	/* Selection - Button */
		.form-type-opt-btn-test .opt-txt {border-color:red;}

	/* Selection - Checkbox */
		.form-type-opt-chk-test .opt-txt:before {border-color:red;}

	/* Selection - Radio */
		.form-type-opt-rdo-test .opt-txt:before {border-color:red;}

	/* Selection - Switch */
		.form-type-opt-swh-test .opt-txt:before {border-color:red;}

	/* Selection - Rating */
		.form-type-opt-rt-test {border:1px solid red;}

	/* Textarea */
		.form-type-tarea-test {border:1px solid red;}

/* Icon */
	.ic-test:before {width:24px; height:24px;}
	.ic-test02:before {background-position:var(--50) 0; width:24px; height:24px;}

/* Layout */
	.wrap-full-test,
	.wrap-inner-test,
	.wrap-center-test,
	.wrap-flex-test,
	.wrap-grid-test,
	.wrap-ellipsis-test,
	.wrap-auto-test {border:1px solid red;}

/* Popover */
	.popover-type-test .popover-content {border:1px solid red;}

/* Popup */
	.pop-type-test {border:1px solid red;}

/* Swiper */
	/* Custom */
	.swi-type-test {width:300px; height:300px;}
	.swi-type-test-02 {width:500px; height:100px;}

	/* Navigation */
	.swi-arrow-test:after {background-position:var(--150) var(--450); width:8px; height:14px;}

	/* Pagenation */
	.swi-page-test .swiper-pagination-bullet {background:#dee1e4; width:16px; height:16px; border-radius:16px;}
	.swi-page-test .swiper-pagination-bullet-active {background-color:black; width:56px;}

	/* Scroll Bar */
	.swi-scr-test {background:red;}

/* Tab Menu */
	.tab-wrap-test {border:1px solid red;}
	.tab-wrap-test.tab-vertical .tab-menu-test {width:200px;}

	.tab-menu-test {border:1px solid red;}

	.tab-cont-test {background:var(--mc); padding:30px;}

/* Thumb */
	.thumb-type-test {background-color:#fde3e3; background-image:url("/images/img/thumb_01.png"); border-radius:8px; width:200px; height:150px;}

/* Tree Menu */
	.tree-type-test {border:1px solid red;}