/* Initialize */
[class*="aco-type"] {
	/* Item */
		--aco-item-bd-w: 1px;
		--aco-item-bd-s: solid;
		--aco-item-bd-c: transparent;
		--aco-cont-bd-l-w: 0;

	/* Head - Icon */
		--aco-bp-x: var(--bp-150);
		--aco-bp-y: var(--bp-300);
		--aco-icon-w: 14px;
		--aco-icon-h: 9px;

	/* Content */
		--aco-cont-pd-a: 0;

	/* QnA */
		--aco-faq-q: "Q.";
		--aco-faq-a: "A.";
}

[class*="aco-type"] > .aco-item[data-orientation="horizontal"] {
	--aco-cont-bd-t-w: 0;
	--aco-cont-bd-l-w: var(--aco-item-bd-w);
}

/* Wrap */
[class*="aco-type"] {
	column-gap: var(--aco-item-gap-x, var(--aco-item-gap-a));
	row-gap: var(--aco-item-gap-y, var(--aco-item-gap-a));
	width: var(--aco-w);
	height: var(--aco-h);
	grid-template-columns: repeat(var(--aco-grid-t-col), 1fr);
}

/* Item */
[class*="aco-type"] > .aco-item {
	border: var(--aco-item-bd-w) var(--aco-item-bd-s) var(--aco-item-bd-c);
	border-radius: var(--aco-item-bd-r);
}

/* Head */
[class*="aco-type"] > .aco-item > .aco-head-wrap .aco-head {
	column-gap: var(--aco-head-gap-x, var(--aco-head-gap-a));
	row-gap: var(--aco-head-gap-y, var(--aco-head-gap-a));
	background-color: var(--aco-head-bg-c);
	border-radius: calc(var(--aco-item-bd-r) - var(--aco-item-bd-w));
	min-height: var(--aco-head-h);
	padding: var(--aco-head-pd-y, var(--aco-head-pd-a)) var(--aco-head-pd-x, var(--aco-head-pd-a));
	font-size: var(--aco-head-ft-s);
	font-weight: var(--aco-head-ft-w);
	color: var(--aco-head-ft-c);
}

[class*="aco-type"] > .aco-item > .aco-head-wrap .aco-head-in {
	column-gap: var(--aco-head-gap-x, var(--aco-head-gap-a));
	row-gap: var(--aco-head-gap-y, var(--aco-head-gap-a));
}

/* Head - Icon */
[class*="aco-type"] > .aco-item > .aco-head-wrap .aco-toggle-btn:after {
	background-position: var(--aco-bp-x) var(--aco-bp-y);
	width: var(--aco-icon-w);
	height: var(--aco-icon-h);
}

/* Content */
[class*="aco-type"] > .aco-item > .aco-cont {
	background-color: var(--aco-cont-bg-c);
	border-top: var(--aco-cont-bd-t-w, var(--aco-item-bd-w)) var(--aco-cont-bd-t-s, var(--aco-item-bd-s)) var(--aco-cont-bd-t-c, var(--aco-item-bd-c));
	border-left: var(--aco-cont-bd-l-w, var(--aco-item-bd-w)) var(--aco-cont-bd-l-s, var(--aco-item-bd-s)) var(--aco-cont-bd-l-c, var(--aco-item-bd-c));
	color: var(--aco-cont-ft-c);
}

[class*="aco-type"] > .aco-item > .aco-cont .aco-cont-in {
	padding: var(--aco-cont-pd-y, var(--aco-cont-pd-a)) var(--aco-cont-pd-x, var(--aco-cont-pd-a));
}

/* QnA */
[class*="aco-type"].aco-qna .aco-head-in:before {
	content: var(--aco-faq-q);
	font-size: var(--aco-faq-q-ft-s);
	color: var(--aco-faq-q-ft-c);
}

[class*="aco-type"].aco-qna .aco-cont:before {
	content: var(--aco-faq-a);
	font-size: var(--aco-faq-a-ft-s);
	color: var(--aco-faq-a-ft-c);
}