/* Accordion */
	/* Default */
		[class*="aco-type"] {overflow:auto; display:flex; flex-direction:column; width:100%;}
		[class*="aco-type"] > .aco-item > .aco-head {display:flex; align-items:center; justify-content:space-between; width:100%; height:auto; text-align:left;}
		[class*="aco-type"] > .aco-item > .aco-head[disabled] {opacity:0.5;}
		[class*="aco-type"] > .aco-item > .aco-head svg {display:none;}
		[class*="aco-type"] > .aco-item > .aco-head .aco-icon {display:flex; align-items:center; justify-content:center;}
		[class*="aco-type"] > .aco-item > .aco-head .aco-icon::after {content:""; background-image:var(--ic-c); background-repeat:no-repeat; background-size:var(--bg-sz); background-position:var(--bp-150) var(--bp-300); transition:transform var(--trans-dft);}
		[class*="aco-type"] > .aco-item > .aco-head .aco-head-inner {display:flex; width:100%; align-items:center;}
		[class*="aco-type"] > .aco-item > .aco-cont {display:grid !important; grid-template-rows:0fr;}
		[class*="aco-type"] > .aco-item > .aco-cont > [data-pc-section] {overflow:hidden;}
		[class*="aco-type"] > .aco-item > .aco-cont > [data-pc-section] > *:first-child {margin-top:0;}

	/* Active */
		[class*="aco-type"] > .p-accordionpanel-active > .aco-head .aco-icon::after {transform:rotate(180deg);}
		[class*="aco-type"] > .p-accordionpanel-active > .aco-cont {grid-template-rows:1fr;}

	/* Ellipsis */
		[class*="aco-type"] > .p-accordionpanel-active .layout-ellipsis {white-space:normal; -webkit-box-orient:unset; -webkit-line-clamp:0;}

	/* Head Fix */
		[class*="aco-type"][data-head-fix] > .aco-item > .aco-head {position:sticky; left:0; top:0;}

	/* Head Reverse */
		[class*="aco-type"][data-head-reverse] > .aco-item > .aco-head {flex-direction:row-reverse; justify-content:flex-end;}

	/* Slide */
		[class*="aco-type"][data-slide] > [data-p-active] > .aco-cont {transition:grid-template-rows var(--trans-dft);}

	/* QnA */
		[class*="aco-type"][data-qna] > .aco-item > .aco-cont > [data-pc-section] {display:flex;}

	/* Variable */
		[class*="aco-type"] {
			gap:var(--aco-gap);
		}

		[class*="aco-type"] > .aco-item {
			border-color:var(--aco-bd-c);
			border-width:var(--aco-bd-w, 0);
			border-radius:var(--aco-bd-r);
		}

		[class*="aco-type"] > .aco-item > .aco-head {
			gap:var(--aco-gap);
			min-height:var(--aco-head-h);
			padding:var(--aco-head-pd-y, var(--aco-head-pd-a, 0)) var(--aco-head-pd-x, var(--aco-head-pd-a, 0));
			font-size:var(--aco-head-ft-s);
			font-weight:var(--aco-head-ft-w);
			color:var(--aco-head-ft-c);
		}

		[class*="aco-type"] > .aco-item > .aco-head .aco-head-inner {
			gap: var(--aco-head-gap, 0);
		}

		[class*="aco-type"] > .aco-item > .aco-head .aco-icon::after {
			background-position:var(--aco-bp-x, var(--bp-150)) var(--aco-bp-y, var(--bp-300));
			width:var(--aco-icon-w, 20px);
			height:var(--aco-icon-h, 12px);
		}

		[class*="aco-type"] > .p-accordionpanel-active > .aco-cont {
			border-top:var(--aco-cont-bd-w, var(--aco-bd-w, 0)) solid var(--aco-cont-bd-c, var(--aco-bd-c));
			padding:var(--aco-cont-pd-y, var(--aco-cont-pd-a, 0)) var(--aco-cont-pd-x, var(--aco-cont-pd-a, 0));
			color:var(--aco-cont-ft-c);
		}

		/* QnA */
		[class*="aco-type"][data-qna] > .aco-item > .aco-head .aco-head-inner:before {
			content:var(--aco-txt-q, "Q.");
			font-size:var(--aco-txt-q-ft-s);
			color:var(--aco-txt-q-ft-c, var(--mc));
		}

		[class*="aco-type"][data-qna] > .aco-item > .aco-cont > [data-pc-section]:before {content:var(--aco-txt-a, "A.");}

@media all and (max-width:720px) {
	/* Variable */
		[class*="aco-type"] {
			gap:var(--m-aco-gap, var(--aco-gap));
		}

		[class*="aco-type"] > .aco-item {
			border-color:var(--m-aco-bd-c, var(--aco-bd-c));
			border-width:var(--m-aco-bd-w, var(--aco-bd-w, 0));
			border-radius:var(--m-aco-bd-r, var(--aco-bd-r));
		}

		[class*="aco-type"] > .aco-item > .aco-head {
			gap:var(--m-aco-gap, var(--aco-gap));
			min-height:var(--m-aco-head-h, var(--aco-head-h));
			padding:var(--m-aco-head-pd-y, var(--aco-head-pd-y, var(--aco-head-pd-a, 0))) var(--m-aco-head-pd-x, var(--aco-head-pd-x, var(--aco-head-pd-a, 0)));
			font-size:var(--m-aco-head-ft-s, var(--aco-head-ft-s));
			font-weight:var(--m-aco-head-ft-w, var(--aco-head-ft-w));
			color:var(--m-aco-head-ft-c, var(--aco-head-ft-c));
		}

		[class*="aco-type"] > .aco-item > .aco-head .aco-head-inner {
			gap: var(--m-aco-head-gap, var(--aco-head-gap, 0));
		}

		[class*="aco-type"] > .aco-item > .aco-head .aco-icon::after {
			background-position:var(--m-aco-bp-x, var(--aco-bp-x, var(--bp-150))) var(--m-aco-bp-y, var(--aco-bp-y, var(--bp-300)));
			width:var(--m-aco-icon-w, var(--aco-icon-w, 20px));
			height:var(--m-aco-icon-h, var(--aco-icon-h, 12px));
		}

		[class*="aco-type"] > .p-accordionpanel-active > .aco-cont {
			border-top:var(--m-aco-cont-bd-w, var(--aco-cont-bd-w, var(--aco-bd-w, 0))) solid var(--m-aco-cont-bd-c, var(--aco-cont-bd-c, var(--aco-bd-c)));
			padding:var(--m-aco-cont-pd-y, var(--m-aco-cont-pd-a, var(--aco-cont-pd-y, var(--aco-cont-pd-a, 0)))) var(--m-aco-cont-pd-x, var(--m-aco-cont-pd-a, var(--aco-cont-pd-x, var(--aco-cont-pd-a, 0))));
			color:var(--m-aco-cont-ft-c, var(--aco-cont-ft-c));
		}

		/* QnA */
			[class*="aco-type"][data-qna] > .aco-item > .aco-head .aco-head-inner:before {
				content:var(--m-aco-txt-q, var(--aco-txt-q, "Q."));
				font-size:var(--m-aco-txt-q-ft-s, var(--aco-txt-q-ft-s));
				color:var(--aco-txt-q-ft-c, var(--mc));
			}

			[class*="aco-type"][data-qna] > .aco-item > .aco-cont > [data-pc-section]:before {content:var(--m-aco-txt-a, var(--aco-txt-a, "A."));}
}