/* Tabs */
	/* Default */
		[class*="tab-wrap"] {display:flex; flex-direction:column;}
		[class*="tab-wrap"] .p-tablist-nav-button {display:flex;}
		[class*="tab-wrap"] .p-tablist-nav-button svg {display:none;}
		[class*="tab-wrap"] .p-tablist-nav-button:before {content:""; width:10px; height:10px;}
		[class*="tab-wrap"] .p-tablist-prev-button:before {rotate:315deg;}
		[class*="tab-wrap"] .p-tablist-next-button:before {rotate:135deg;}

		[class*="tab-menu"] {display:flex; position:relative; place-items:center; }
		[class*="tab-menu"] .p-tablist-viewport {overflow-x:auto; overflow-y:hidden; scroll-behavior:smooth; scrollbar-width:none;}
		[class*="tab-menu"] .p-tablist-tab-list {position:relative; display:flex;}
		[class*="tab-menu"] .p-tablist-tab-list .p-tab {flex-shrink:0; white-space:nowrap;}

	/* Variation */
		/* Wrap */
			[class*="tab-wrap"] .p-tablist-nav-button:before {border-left:1px solid var(--bg-c, black); border-top:1px solid var(--bg-c, black);}

		/* Menu */
			[class*="tab-menu"] {border-width:var(--tab-bd-w, 1px); border-color: var(--tab-bd-c); border-style:var(--tab-bd-s, solid);}
			[class*="tab-menu"] .p-tablist-tab-list {gap:var(--tab-gap);}
			[class*="tab-menu"] .p-tablist-tab-list .p-tab {background:var(--tab-btn-bg-c); border-radius:var(--tab-btn-bd-r); height:var(--tab-btn-h); padding:0 var(--tab-btn-pd-x); font-size:var(--tab-btn-ft-s); font-weight:var(--tab-btn-ft-w); color:var(--tab-btn-ft-c);}

		/* Menu Active */
			[class*="tab-menu"] .p-tablist-tab-list .p-tab.p-tab-active  {background:var(--btn-over-bg-c, var(--mc)); color:var(--btn-over-ft-c, white);}


		/* Contents */
			[class*="tab-wrap"] .p-tabpanel {padding-inline:var(--tab-cont-pd-x); padding-block:var(--tab-cont-pd-y);}
