[class*=tab-wrap]{
	display:flex;
	flex-direction:column;
}
[class*=tab-menu]{
	display:flex;
	flex-wrap:wrap;
	overflow-x:auto;
	overflow-y:hidden;
	place-items:center;
	position:relative;
	scroll-behavior:smooth;
	scrollbar-width:none;
}
[class*=tab-menu]>*>*{
	display:flex;
	flex-shrink:0;
	place-items:center;
	white-space:nowrap;
}
[class*=tab-menu].tab-equal>*{
	flex:1;
}
[class*=tab-menu].tab-equal>*>*{
	width: 100%;
	justify-content:center;
}
[class*=tab-wrap].tab-scroll-menu [class*=tab-menu]{
	flex-wrap:nowrap;
}

[class*=tab-wrap] > [class*=tab-cont]>*{
	display:none;
}

[class*=tab-wrap] > [class*=tab-cont]>*.active{
	display:block;
}