[class*=tab-wrap]{
	--tab-menu-gap-x:0;
	--tab-menu-gap-y:0;
	--tab-btn-br-a:0;
	--tab-btn-over-bg-c:var(--mc);
	--tab-btn-over-txt-c:#fff;
	--tab-btn-active-bg-c:var(--tab-btn-over-bg-c);
	--tab-btn-active-txt-c:var(--tab-btn-over-ft-c);
	--tab-cont-pd-x:var(--tab-cont-pd-a);
	--tab-cont-pd-y:var(--tab-cont-pd-a);
}
[class*=tab-menu]{
	border-bottom:calc(var(--tab-menu-bd-b-w)*1px) var(--tab-menu-bd-b-s) var(--tab-menu-bd-b-c);
	gap:calc(var(--tab-menu-gap-a)*1px);
	column-gap:calc(var(--tab-menu-gap-x)*1px);
	row-gap:calc(var(--tab-menu-gap-y)*1px);
}
[class*=tab-menu]>*>*{
	background-color:var(--tab-btn-bg-c);
	border-radius:calc(var(--tab-btn-br-a)*1px);
	color:var(--tab-btn-txt-c);
	font-size:calc(var(--tab-btn-txt-s)*1px);
	font-weight:var(--tab-btn-txt-w);
	height:calc(var(--tab-btn-h)*1px);
	padding-inline:calc(var(--tab-btn-pd-x)*1px);
}
[class*=tab-menu]>*>:hover{
	background-color:var(--tab-btn-over-bg-c);
	color:var(--tab-btn-over-txt-c);
}
[class*=tab-menu]>[data-state=active]>*{
	background-color:var(--tab-btn-active-bg-c);
	color:var(--tab-btn-active-txt-c);
}
[class*=tab-cont]{
	padding-block:calc(var(--tab-cont-pd-y)*1px);
	padding-inline:calc(var(--tab-cont-pd-x)*1px);
}
@media screen and (max-width:1024px){
	[class*=tab-menu]{
		border-bottom:var(--t-tab-menu-bd-b-w, calc(var(--tab-menu-bd-b-w)*1px)) var(--t-tab-menu-bd-b-s, var(--tab-menu-bd-b-s)) var(--t-tab-menu-bd-b-c, var(--tab-menu-bd-b-c));
		gap:var(--t-tab-menu-gap-a, calc(var(--tab-menu-gap-a)*1px));
		column-gap:var(--t-tab-menu-gap-x, calc(var(--tab-menu-gap-x)*1px));
		row-gap:var(--t-tab-menu-gap-y, calc(var(--tab-menu-gap-y)*1px));
	}
	[class*=tab-menu]>*>*{
		background-color:var(--t-tab-btn-bg-c, var(--tab-btn-bg-c));
		border-radius:var(--t-tab-btn-br-a, calc(var(--tab-btn-br-a)*1px));
		color:var(--t-tab-btn-txt-c, var(--tab-btn-txt-c));
		font-size:var(--t-tab-btn-txt-s, calc(var(--tab-btn-txt-s)*1px));
		font-weight:var(--t-tab-btn-txt-w, var(--tab-btn-txt-w));
		height:var(--t-tab-btn-h, calc(var(--tab-btn-h)*1px));
		padding-inline:var(--t-tab-btn-pd-x, calc(var(--tab-btn-pd-x)*1px));
	}
	[class*=tab-menu]>*>:hover{
		background-color:var(--t-tab-btn-over-bg-c, var(--tab-btn-over-bg-c));
		color:var(--t-tab-btn-over-txt-c, var(--tab-btn-over-txt-c));
	}
	[class*=tab-menu]>[data-state=active]>*{
		background-color:var(--t-tab-btn-active-bg-c, var(--tab-btn-active-bg-c));
		color:var(--t-tab-btn-active-txt-c, var(--tab-btn-active-txt-c));
	}
	[class*=tab-cont]{
		padding-block:var(--t-tab-cont-pd-y, calc(var(--tab-cont-pd-y)*1px));
		padding-inline:var(--t-tab-cont-pd-x, calc(var(--tab-cont-pd-x)*1px));
	}
}
@media screen and (max-width:720px){
	[class*=tab-menu]{
		border-bottom:var(--m-tab-menu-bd-b-w, var(--t-tab-menu-bd-b-w, calc(var(--tab-menu-bd-b-w)*.13889vw))) var(--m-tab-menu-bd-b-s, var(--t-tab-menu-bd-b-s, var(--tab-menu-bd-b-s))) var(--m-tab-menu-bd-b-c, var(--t-tab-menu-bd-b-c, var(--tab-menu-bd-b-c)));
		gap:var(--m-tab-menu-gap-a, var(--t-tab-menu-gap-a, calc(var(--tab-menu-gap-a)*.13889vw)));
		column-gap:var(--m-tab-menu-gap-x, var(--t-tab-menu-gap-x, calc(var(--tab-menu-gap-x)*.13889vw)));
		row-gap:var(--m-tab-menu-gap-y, var(--t-tab-menu-gap-y, calc(var(--tab-menu-gap-y)*.13889vw)));
	}
	[class*=tab-menu]>*>*{
		background-color:var(--m-tab-btn-bg-c, var(--t-tab-btn-bg-c, var(--tab-btn-bg-c)));
		border-radius:var(--m-tab-btn-br-a, var(--t-tab-btn-br-a, calc(var(--tab-btn-br-a)*.13889vw)));
		color:var(--m-tab-btn-txt-c, var(--t-tab-btn-txt-c, var(--tab-btn-txt-c)));
		font-size:var(--m-tab-btn-txt-s, var(--t-tab-btn-txt-s, calc(var(--tab-btn-txt-s)*.13889vw)));
		font-weight:var(--m-tab-btn-txt-w, var(--t-tab-btn-txt-w, var(--tab-btn-txt-w)));
		height:var(--m-tab-btn-h, var(--t-tab-btn-h, calc(var(--tab-btn-h)*.13889vw)));
		padding-inline:var(--m-tab-btn-pd-x, var(--t-tab-btn-pd-x, calc(var(--tab-btn-pd-x)*.13889vw)));
	}
	[class*=tab-menu]>*>:hover{
		background-color:var(--m-tab-btn-over-bg-c, var(--t-tab-btn-over-bg-c, var(--tab-btn-over-bg-c)));
		color:var(--m-tab-btn-over-txt-c, var(--t-tab-btn-over-txt-c, var(--tab-btn-over-txt-c)));
	}
	[class*=tab-menu]>[data-state=active]>*{
		background-color:var(--m-tab-btn-active-bg-c, var(--t-tab-btn-active-bg-c, var(--tab-btn-active-bg-c)));
		color:var(--m-tab-btn-active-txt-c, var(--t-tab-btn-active-txt-c, var(--tab-btn-active-txt-c)));
	}
	[class*=tab-cont]{
		padding-block:var(--m-tab-cont-pd-y, var(--t-tab-cont-pd-y, calc(var(--tab-cont-pd-y)*.13889vw)));
		padding-inline:var(--m-tab-cont-pd-x, var(--t-tab-cont-pd-x, calc(var(--tab-cont-pd-x)*.13889vw)));
	}
}