.tiptap-toolbar{
	--editor-toolbar-bg-c:#f9fafb;
	--editor-toolbar-bd-a-w:1px;
	--editor-toolbar-bd-a-s:solid;
	--editor-toolbar-bd-a-c:#e5e7eb;
	--editor-toolbar-bd-b-w:none;
	--editor-toolbar-br-a:0.375rem 0.375rem 0 0;
	--editor-toolbar-pd-a:0.5rem;
	--editor-toolbar-gap:0.25rem;
	align-items:center;
	background-color:var(--editor-toolbar-bg-c);
	border-color:var(--editor-toolbar-bd-a-c);
	border-radius:calc(var(--editor-toolbar-br-a)*1px);
	border-style:var(--editor-toolbar-bd-a-s);
	border-width:calc(var(--editor-toolbar-bd-a-w-mv)*1px);
	display:flex;
	flex-wrap:wrap;
	gap:var(--editor-toolbar-gap);
	padding:calc(var(--editor-toolbar-pd-a)*1px);
}
.tiptap-toolbar-group{
	--editor-toolbar-group-gap:0.125rem;
	align-items:center;
	display:flex;
	gap:var(--editor-toolbar-group-gap);
}
.tiptap-toolbar-divider{
	--editor-toolbar-divider-w:1px;
	--editor-toolbar-divider-h:1.5rem;
	--editor-toolbar-divider-bg-c:#e5e7eb;
	--editor-toolbar-divider-mg-x:0.25rem;
	background-color:var(--editor-toolbar-divider-bg-c);
	height:calc(var(--editor-toolbar-divider-h)*1px);
	margin-inline:calc(var(--editor-toolbar-divider-mg-x)*1px);
	width:calc(var(--editor-toolbar-divider-w)*1px);
}
.tiptap-toolbar-button{
	--editor-toolbar-button-min-w:2rem;
	--editor-toolbar-button-h:2rem;
	--editor-toolbar-button-pd-x:0.5rem;
	--editor-toolbar-button-pd-y:0.375rem;
	--editor-toolbar-button-bd-a-w:1px;
	--editor-toolbar-button-bd-a-s:solid;
	--editor-toolbar-button-bd-a-c:transparent;
	--editor-toolbar-button-br-a:0.25rem;
	--editor-toolbar-button-bg-c:transparent;
	--editor-toolbar-button-txt-c:#374151;
	--editor-toolbar-button-txt-s:0.875rem;
	--editor-toolbar-button-txt-w:500;
	align-items:center;
	background-color:var(--editor-toolbar-button-bg-c);
	border-color:var(--editor-toolbar-button-bd-a-c);
	border-radius:calc(var(--editor-toolbar-button-br-a)*1px);
	border-style:var(--editor-toolbar-button-bd-a-s);
	border-width:calc(var(--editor-toolbar-button-bd-a-w-mv)*1px);
	color:var(--editor-toolbar-button-txt-c);
	cursor:pointer;
	display:inline-flex;
	font-size:calc(var(--editor-toolbar-button-txt-s)*1px);
	font-weight:var(--editor-toolbar-button-txt-w);
	height:calc(var(--editor-toolbar-button-h)*1px);
	justify-content:center;
	min-width:calc(var(--editor-toolbar-button-min-w)*1px);
	padding-block:calc(var(--editor-toolbar-button-pd-y)*1px);
	padding-inline:calc(var(--editor-toolbar-button-pd-x)*1px);
	transition:all .15s;
	-webkit-user-select:none;
	user-select:none;
}
.tiptap-editor-wrapper{
	--editor-wrapper-bd-a-w:1px;
	--editor-wrapper-bd-a-s:solid;
	--editor-wrapper-bd-a-c:#e5e7eb;
	--editor-wrapper-br-a:0 0 0.375rem 0.375rem;
	--editor-wrapper-bg-c:#fff;
	background-color:var(--editor-wrapper-bg-c);
	border-color:var(--editor-wrapper-bd-a-c);
	border-radius:calc(var(--editor-wrapper-br-a)*1px);
	border-style:var(--editor-wrapper-bd-a-s);
	border-width:calc(var(--editor-wrapper-bd-a-w-mv)*1px);
	position:relative;
	transition:border-color .2s;
}
.tiptap-editor-content{
	--editor-content-pd-a:0.75rem;
	min-height:100%;
	outline:none;
	padding:calc(var(--editor-content-pd-a)*1px);
}
@media screen and (max-width:1024px){
	.tiptap-toolbar{
		background-color:var(--t-editor-toolbar-bg-c, var(--editor-toolbar-bg-c));
		border-color:var(--t-editor-toolbar-bd-a-c, var(--editor-toolbar-bd-a-c));
		border-radius:var(--t-editor-toolbar-br-a, calc(var(--editor-toolbar-br-a)*1px));
		border-style:var(--t-editor-toolbar-bd-a-s, var(--editor-toolbar-bd-a-s));
		border-width:var(--t-editor-toolbar-bd-a-w-mv, calc(var(--editor-toolbar-bd-a-w-mv)*1px));
		padding:var(--t-editor-toolbar-pd-a, calc(var(--editor-toolbar-pd-a)*1px));
	}
	.tiptap-toolbar-divider{
		background-color:var(--t-editor-toolbar-divider-bg-c, var(--editor-toolbar-divider-bg-c));
		height:var(--t-editor-toolbar-divider-h, calc(var(--editor-toolbar-divider-h)*1px));
		margin-inline:var(--t-editor-toolbar-divider-mg-x, calc(var(--editor-toolbar-divider-mg-x)*1px));
		width:var(--t-editor-toolbar-divider-w, calc(var(--editor-toolbar-divider-w)*1px));
	}
	.tiptap-toolbar-button{
		background-color:var(--t-editor-toolbar-button-bg-c, var(--editor-toolbar-button-bg-c));
		border-color:var(--t-editor-toolbar-button-bd-a-c, var(--editor-toolbar-button-bd-a-c));
		border-radius:var(--t-editor-toolbar-button-br-a, calc(var(--editor-toolbar-button-br-a)*1px));
		border-style:var(--t-editor-toolbar-button-bd-a-s, var(--editor-toolbar-button-bd-a-s));
		border-width:var(--t-editor-toolbar-button-bd-a-w-mv, calc(var(--editor-toolbar-button-bd-a-w-mv)*1px));
		color:var(--t-editor-toolbar-button-txt-c, var(--editor-toolbar-button-txt-c));
		font-size:var(--t-editor-toolbar-button-txt-s, calc(var(--editor-toolbar-button-txt-s)*1px));
		font-weight:var(--t-editor-toolbar-button-txt-w, var(--editor-toolbar-button-txt-w));
		height:var(--t-editor-toolbar-button-h, calc(var(--editor-toolbar-button-h)*1px));
		min-width:var(--t-editor-toolbar-button-min-w, calc(var(--editor-toolbar-button-min-w)*1px));
		padding-block:var(--t-editor-toolbar-button-pd-y, calc(var(--editor-toolbar-button-pd-y)*1px));
		padding-inline:var(--t-editor-toolbar-button-pd-x, calc(var(--editor-toolbar-button-pd-x)*1px));
	}
	.tiptap-editor-wrapper{
		background-color:var(--t-editor-wrapper-bg-c, var(--editor-wrapper-bg-c));
		border-color:var(--t-editor-wrapper-bd-a-c, var(--editor-wrapper-bd-a-c));
		border-radius:var(--t-editor-wrapper-br-a, calc(var(--editor-wrapper-br-a)*1px));
		border-style:var(--t-editor-wrapper-bd-a-s, var(--editor-wrapper-bd-a-s));
		border-width:var(--t-editor-wrapper-bd-a-w-mv, calc(var(--editor-wrapper-bd-a-w-mv)*1px));
	}
	.tiptap-editor-content{
		padding:var(--t-editor-content-pd-a, calc(var(--editor-content-pd-a)*1px));
	}
}
@media screen and (max-width:720px){
	.tiptap-toolbar{
		background-color:var(--m-editor-toolbar-bg-c, var(--t-editor-toolbar-bg-c, var(--editor-toolbar-bg-c)));
		border-color:var(--m-editor-toolbar-bd-a-c, var(--t-editor-toolbar-bd-a-c, var(--editor-toolbar-bd-a-c)));
		border-radius:var(--m-editor-toolbar-br-a, var(--t-editor-toolbar-br-a, calc(var(--editor-toolbar-br-a)*.13889vw)));
		border-style:var(--m-editor-toolbar-bd-a-s, var(--t-editor-toolbar-bd-a-s, var(--editor-toolbar-bd-a-s)));
		border-width:var(--m-editor-toolbar-bd-a-w-mv, var(--t-editor-toolbar-bd-a-w-mv, calc(var(--editor-toolbar-bd-a-w-mv)*1px)));
		padding:var(--m-editor-toolbar-pd-a, var(--t-editor-toolbar-pd-a, calc(var(--editor-toolbar-pd-a)*.13889vw)));
	}
	.tiptap-toolbar-divider{
		background-color:var(--m-editor-toolbar-divider-bg-c, var(--t-editor-toolbar-divider-bg-c, var(--editor-toolbar-divider-bg-c)));
		height:var(--m-editor-toolbar-divider-h, var(--t-editor-toolbar-divider-h, calc(var(--editor-toolbar-divider-h)*.13889vw)));
		margin-inline:var(--m-editor-toolbar-divider-mg-x, var(--t-editor-toolbar-divider-mg-x, calc(var(--editor-toolbar-divider-mg-x)*.13889vw)));
		width:var(--m-editor-toolbar-divider-w, var(--t-editor-toolbar-divider-w, calc(var(--editor-toolbar-divider-w)*.13889vw)));
	}
	.tiptap-toolbar-button{
		background-color:var(--m-editor-toolbar-button-bg-c, var(--t-editor-toolbar-button-bg-c, var(--editor-toolbar-button-bg-c)));
		border-color:var(--m-editor-toolbar-button-bd-a-c, var(--t-editor-toolbar-button-bd-a-c, var(--editor-toolbar-button-bd-a-c)));
		border-radius:var(--m-editor-toolbar-button-br-a, var(--t-editor-toolbar-button-br-a, calc(var(--editor-toolbar-button-br-a)*.13889vw)));
		border-style:var(--m-editor-toolbar-button-bd-a-s, var(--t-editor-toolbar-button-bd-a-s, var(--editor-toolbar-button-bd-a-s)));
		border-width:var(--m-editor-toolbar-button-bd-a-w-mv, var(--t-editor-toolbar-button-bd-a-w-mv, calc(var(--editor-toolbar-button-bd-a-w-mv)*1px)));
		color:var(--m-editor-toolbar-button-txt-c, var(--t-editor-toolbar-button-txt-c, var(--editor-toolbar-button-txt-c)));
		font-size:var(--m-editor-toolbar-button-txt-s, var(--t-editor-toolbar-button-txt-s, calc(var(--editor-toolbar-button-txt-s)*.13889vw)));
		font-weight:var(--m-editor-toolbar-button-txt-w, var(--t-editor-toolbar-button-txt-w, var(--editor-toolbar-button-txt-w)));
		height:var(--m-editor-toolbar-button-h, var(--t-editor-toolbar-button-h, calc(var(--editor-toolbar-button-h)*.13889vw)));
		min-width:var(--m-editor-toolbar-button-min-w, var(--t-editor-toolbar-button-min-w, calc(var(--editor-toolbar-button-min-w)*.13889vw)));
		padding-block:var(--m-editor-toolbar-button-pd-y, var(--t-editor-toolbar-button-pd-y, calc(var(--editor-toolbar-button-pd-y)*.13889vw)));
		padding-inline:var(--m-editor-toolbar-button-pd-x, var(--t-editor-toolbar-button-pd-x, calc(var(--editor-toolbar-button-pd-x)*.13889vw)));
	}
	.tiptap-editor-wrapper{
		background-color:var(--m-editor-wrapper-bg-c, var(--t-editor-wrapper-bg-c, var(--editor-wrapper-bg-c)));
		border-color:var(--m-editor-wrapper-bd-a-c, var(--t-editor-wrapper-bd-a-c, var(--editor-wrapper-bd-a-c)));
		border-radius:var(--m-editor-wrapper-br-a, var(--t-editor-wrapper-br-a, calc(var(--editor-wrapper-br-a)*.13889vw)));
		border-style:var(--m-editor-wrapper-bd-a-s, var(--t-editor-wrapper-bd-a-s, var(--editor-wrapper-bd-a-s)));
		border-width:var(--m-editor-wrapper-bd-a-w-mv, var(--t-editor-wrapper-bd-a-w-mv, calc(var(--editor-wrapper-bd-a-w-mv)*1px)));
	}
	.tiptap-editor-content{
		padding:var(--m-editor-content-pd-a, var(--t-editor-content-pd-a, calc(var(--editor-content-pd-a)*.13889vw)));
	}
}