/* Paging */
	[class*="paging-wrap"] a {display:flex; align-items:center; justify-content:center; border-radius:50%; color:var(--fc);}
	[class*="paging-wrap"] > a {font-size:0; font-weight:500; color:transparent;}
	[class*="paging-wrap"] > a:before {content:""; background-image:var(--ic-c); background-size:var(--bg-sz);}
	[class*="paging-wrap"] .paging-first:before,
	[class*="paging-wrap"] .paging-last:before {background-position:var(--bp-150) var(--bp-600); width:11px; height:10px;}
	[class*="paging-wrap"] .paging-prev:before,
	[class*="paging-wrap"] .paging-next:before {background-position:var(--bp-200) var(--bp-600); width:7px; height:10px;}
	[class*="paging-wrap"] .paging-last:before,
	[class*="paging-wrap"] .paging-next:before {transform:rotate(180deg);}
	[class*="paging-wrap"] .paging-first:hover:before,
	[class*="paging-wrap"] .paging-last:hover:before {background-position:var(--bp-250) var(--bp-600);}
	[class*="paging-wrap"] .paging-prev:hover:before,
	[class*="paging-wrap"] .paging-next:hover:before {background-position:var(--bp-300) var(--bp-600);}