/* Reset */
	*, *::before, *::after {box-sizing:border-box; border:0 solid var(--mc);}
	* {margin:0; padding:0; font-size:inherit; flex-wrap:nowrap; background-repeat:no-repeat;}
	body {-webkit-font-smoothing:antialiased;}
	img, picture, video, canvas, svg {display:block; max-width:100%;}
	input, button, textarea, select {font:inherit;}
	p, h1, h2, h3, h4, h5, h6 {overflow-wrap:break-word; margin-block-end:0; font-size:inherit; font-weight:inherit;}
	a:not([class]) {text-decoration-skip-ink:auto; color: currentColor;}
	:target {scroll-margin-block:5ex;}

/* General */
	html {overflow-x:hidden; width:100dvw; height:100dvh; scroll-behavior:smooth; -moz-text-size-adjust:none; -webkit-text-size-adjust:none; text-size-adjust:none;}
	body {background-color:var(--init-background-color); width:100vw; font-family:var(--init-font-family); font-size:var(--init-font-size); line-height:var(--init-line-height); letter-spacing:var(--init-letter-spacing); color:var(--init-font-color);}
	::selection {background-color:var(--mc); color:white;}

/* Default Tag Style */
	/* General */
		a {text-decoration:none; color:inherit;}
		b {font-weight:500;}
		strong {font-weight:700;}
		small {font-size:80%;}
		em {font-style:normal; color:var(--mic);}
		q { color: var(--mc); }
		q:before, q:after { content: ''; }

		ul, ol {list-style:none;}
		summary {list-style-type:none; cursor:pointer;}
		summary::-webkit-details-marker {display:none;}

		iframe {border:0;}

/* Form */
	select,
	button,
	textarea,
	input[type="color"],
	input[type="date"],
	input[type="datetime-local"],
	input[type="email"],
	input[type="file"],
	input[type="month"],
	input[type="number"],
	input[type="range"],
	input[type="search"],
	input[type="tel"],
	input[type="text"],
	input[type="time"],
	input[type="password"],
	input[type="url"],
	input[type="week"] {appearance:none; background:none; border:0; height:100%; padding:0; font-family:var(--init-font-family); font-size:inherit; font-weight:inherit; letter-spacing:var(--init-line-height); color:inherit; outline:0;}

	select,
	textarea,
	input[type="color"],
	input[type="date"],
	input[type="datetime-local"],
	input[type="email"],
	input[type="file"],
	input[type="month"],
	input[type="number"],
	input[type="range"],
	input[type="search"],
	input[type="tel"],
	input[type="text"],
	input[type="time"],
	input[type="password"],
	input[type="url"],
	input[type="week"] {width:100%;}

	button,
	label,
	select,
	input[type="color"],
	input[type="range"],
	input[type="reset"],
	input[type="submit"],
	input[type="button"],
	input[type="file"],
	::-webkit-calendar-picker-indicator {cursor:pointer;}

	input[type="range"]::-webkit-slider-thumb {appearance:none; border-radius:50%;}

	::-webkit-color-swatch-wrapper {padding:0;}
	::-webkit-color-swatch {border:0;}
	::-webkit-file-upload-button {display:none;}
	::placeholder {color:var(--fom-ph);}

/* Table */
	table {width:100%; table-layout:fixed; border-collapse:collapse;}

/* Scroll */
	*::-webkit-scrollbar {background:var(--scr-bg1); width:var(--scr-w); height:var(--scr-w); border-radius:var(--scr-br);}
	*::-webkit-scrollbar-thumb {background:var(--scr-bg2); width:var(--scr-w); border-radius:var(--scr-br);}
	*::-webkit-scrollbar-track {border-radius:var(--scr-br);}