/* Accordion */
	[class*="aco-type-01"] {
		--aco-item-gap-a: 24px;
		--aco-item-bd-c: #e2e2e2;
		--aco-item-bd-s: solid;
		--aco-item-bd-r: 12px;

		--aco-head-pd-x: 28px;
		--aco-head-pd-y: 30px;
		--aco-head-ft-c: black;
		--aco-head-ft-s: 18px;
		--aco-head-gap-x: 14px;

		--aco-cont-bd-t-c: #e2e2e2;
		--aco-cont-bd-t-s: solid;
		--aco-cont-bd-t-w: 1px;
		--aco-cont-bg-c: #f9f9f9;
		--aco-cont-pd-x: 30px;
		--aco-cont-pd-y: 35px;

		--aco-bp-x: var(--bp-150);
		--aco-icon-w: 13px;
		--aco-icon-h: 8px;

		margin-top:30px;
	}

	[class*="aco-type-01"].aco-qna {
		--aco-faq-q: 'Q';
		--aco-faq-q-ft-c: var(--mc);
		--aco-faq-q-ft-s: 18px;
		--aco-faq-a: '';
	}

	[class*="aco-type-01"].aco-qna .aco-cont:before { display: none; }
	[class*="aco-type-01"].aco-qna .aco-cont { gap: 20px; }
	[class*="aco-type-01"] .txt-a { font-size: 18px; }

/* Board Default */
	.brd-wrap .brd-tit { font-size: 20px; font-weight: 700; color:black; }
	.brd-wrap .brd-ctgy { font-size: 14px; color: #666; }

/* Board List */
	[class*="brd-lst-01"] { display: grid; grid-template-columns: repeat(4, 270px); place-content: space-between; row-gap: 80px; }
	[class*="brd-lst-01"] .brd-cont { margin-top: 24px; }
	[class*="brd-lst-01"] .brd-ctgy { margin-top: 5px; }
	[class*="brd-lst-01"] .brd-tit { margin-top: 10px; }
	[class*="brd-lst-01"] .brd-meta { margin-top: 15px; }

	.brd-lst-01-01 { display: flex; }
	.brd-lst-01-01 .brd-cont { margin-top: 0; }

/* Board View */
	.class-mid { margin-top: 50px; }
	.class-mid .section { display: flex; padding-bottom: 30px; }
	.class-mid .section + .section { border-top: 1px solid #e2e2e2; padding-top: 40px; }
	.class-mid .section .class-info-tit { flex: 0 0 290px; max-width: 290px; font-size:24px; font-weight: bold; color: #222; }
	.class-mid .detaile-info { display: flex; flex-direction: column; gap: 35px; }
	.class-mid .detaile-info h3 { font-size: 18px; font-weight: bold; }
	.class-mid .detaile-info p { font-size: 16px; margin-top: 20px; line-height: 1.3; }
	.class-mid .detaile-info p .num { margin-right: 10px; }
	.class-mid .detaile-info p + p { margin-top:7px; }

/* Box */
	.box-type-01 {
		--box-bd-c: #e2e2e2;
		--box-bd-r: 30px;
		--box-bg-c: white;
		--box-pd-a: 40px;
	}

	.box-type-02 {
		--box-bg-c: #f9f9f9;
		--box-pd-a: 40px;
		--box-bd-w: 0;
		--box-bd-r: 20px;
	}

	.box-type-03 {
		--box-bd-r: 20px;
		--box-pd-a: 25px;
		--box-bg-c: rgba(255, 255, 255, 0.5);
		--box-bd-w: 0;
	}

	.box-type-04 {
		--box-bd-r: 30px;
		--box-pd-x: 64px;
		--box-pd-y: 57px;
		--box-bg-c: #cc000c;
		--box-bd-w: 0;
	}

/* Button */
	/* Color */
		.btn-type-lgry {
			--btn-bg-c: #f5f5f5;
			--btn-ft-c: #666;
			--btn-over-bg-c: #f5f5f5;
			--btn-over-ft-c: #666;
		}

		.btn-type-wht {
			--btn-bg-c: white;
			--btn-ft-c: #cc000c;
			--btn-over-bg-c: white;
			--btn-over-ft-c: #cc000c;
		}

		.btn-type-b-blk {
			--btn-bd-c: black;
			--btn-ft-c: black;

			--btn-dis-bg-c: white;
			--btn-dis-ft-c: #bbb;
		}

		.btn-type-b-blk-02 {
			--btn-bd-c: black;
			--btn-ft-c: black;
		}

		.btn-type-b-lgry {
			--btn-bd-c: #e7e7e7;
			--btn-ft-c: #666;

			--btn-over-bd-c: #e7e7e7;

			--btn-dis-bg-c: white;
			--btn-dis-ft-c: #bbb;
		}

	/* Size */
		.btn-sz-02 {
			--btn-h: 34px;
			--btn-ft-s: 14px;
			--btn-pd-x: 24px;
		}

/* Chip */
	[class*="chip-type-01"] {
		--chip-h: 21px;

		--chip-bg-c: white;
		--chip-bd-c: black;
		--chip-bd-r: 12px;
		--chip-ft-c: black;
		--chip-ft-s: 12px;
		--chip-ft-w: 700;
		--chip-pd-x: 13px;
	}

	.chip-type-01-red { --chip-bd-c: #cc000c; --chip-ft-c: #cc000c; }

	[class*="chip-type-02"] {
		--chip-h: 24px;

		--chip-bg-c: lightgray;
		--chip-bd-c: lightgray;
		--chip-bd-r: 5px;
		--chip-ft-c: black;
		--chip-ft-s: 12px;
		--chip-ft-w: 500;
		--chip-pd-x: 8px;
	}

	[class*="chip-type-02-b"] {
		--chip-bg-c: white;
		--chip-bd-c: black;
	}

	.chip-type-02-lgry { --chip-bg-c: #efefef; --chip-bd-c: #efefef; --chip-ft-c: #666; }
	.chip-type-02-lblu { --chip-bg-c: #e7f7fe; --chip-bd-c: #e7f7fe; --chip-ft-c: #5f7ad5; }
	.chip-type-02-lgrn { --chip-bg-c: #e3ffe8; --chip-bd-c: #e3ffe8; --chip-ft-c: #32ab3e; }
	.chip-type-02-lpnk { --chip-bg-c: #ffe8f9; --chip-bd-c: #ffe8f9; --chip-ft-c: #dc00a0; }
	.chip-type-02-lpur { --chip-bg-c: #efeaff; --chip-bd-c: #efeaff; --chip-ft-c: #7f2bb0; }

	.chip-type-02-gry { --chip-bg-c: rgba(0, 0, 0, 0.5); --chip-bd-c: rgba(0, 0, 0, 0.5); --chip-ft-c: white; }

	.chip-type-02-b-red { --chip-bd-c: #cc000c; --chip-ft-c: #cc000c; }

	[class*="chip-type-03"] {
		--chip-bg-c: lightgray;
		--chip-bd-r: 34px;
		--chip-pd-x: 12px;
		--chip-ft-c: black;
		--chip-ft-s: 14px;
		--chip-h: 32px;
	}

	.chip-type-03-pnk { --chip-bg-c: #fff6f8; --chip-bd-c: #fff6f8; --chip-ft-c: #cc000c; }

	[class*="chip-type-04"] {
		--chip-bd-r: 7px;
		--chip-w: 64px;
		--chip-h: 64px;

		min-width: 64px;
	}

	.chip-type-04-lpur { --chip-bg-c: #f8f7fc; --chip-bd-c: #f8f7fc; --chip-ft-c: #715cbd; }

	[class*="chip-type-05"] {
		--chip-bg-c: transparent;
		--chip-bd-r: 24px;
		--chip-h: 24px;
		--chip-ft-s: 14px;
		--chip-pd-x: 17px;
	}

	.chip-type-05-wht { --chip-bd-c: white; }

/* Float Menu */
	.float-menu-wrap { position: relative; }
	.float-menu-wrap [class*="float-menu"] { overflow: hidden; display: none; position: absolute; }
	.float-menu-wrap .float-btn { height: auto; cursor: pointer; }
	.float-menu-wrap > *.active:first-child + [class*="float-menu"] { display: block; }

	.float-menu-01 { background: white; box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.06); border-radius: 5px; border: 1px solid #000; width: 100px; }
	.float-menu-01 button { width: 100%; height: 50px; }
	.float-menu-01 button:hover { background-color: #f5f5f5; color: #000; }

/* Form */
	/* File */
		.form-txt-file-01 {
			--form-w: 80px;
			--form-h: 80px;
			--form-bd-r: 50%;
			--form-pd-x: 0;
		}

	/* Password Toggle */
		[class*="form-txt"] .part-icon.active .ic-eye:before { background-position: var(--bp-950) 0; }

	/* Radio */
		.form-slt-rdo-01 {
			--form-ft-c: #999;
			--form-gap-x: 6px;
			--form-icon-bp-x: var(--bp-200);
			--form-w: 14px;
			--form-h: 11px;

			--form-chk-w: 14px;
			--form-chk-h: 11px;
			--form-chk-bg-c: transparent;
			--form-chk-icon-bp-x: var(--bp-250);
		}

		.form-slt-rdo-01 .part-icon:before { display: none; }
		.form-slt-rdo-01 .part-icon:after { opacity: 1; }

	/* Select Button */
		.form-slt-btn-tran {
			--form-bd-w: 0;
			--form-bd-r: 0;
			--form-bg-c: #fff;
			--form-ft-c: inherit;
			--form-pd-x: 0;
			--form-w: 100%;
			--form-h: auto;

			--form-chk-bg-c: transparent;
			--form-chk-ft-c: inherit;
			--form-chk-ft-w: 500;
		}

	/* Switch */
		.form-slt-swh-01 {
			--form-bd-w: 0;
			--form-bd-r: 6px;
			--form-bg-c: #dfe5e6;
			--form-w: 28px;
			--form-h: 6px;
			--form-flex-d: row;
			--form-pd-x: 0;

			--form-chk-w: 14px;
			--form-chk-h: 14px;
			--form-chk-bg-c: #ffa6aa;
			--form-chk-point-bg-c: #c6cbcc;
			--form-chk-point-chk-bg-c: #e85f65;
		}

	/* Text */
		.form-txt-type-01 { padding-right: 0; }

/* Full Calendar */
	/* Header */
		.fc .fc-header-toolbar .fc-toolbar-chunk { display: flex; place-items: center; }
		.fc .fc-toolbar-title { font-size: 24px; font-weight: 700; color: #2d2d2d; }

	/* Header - Prev, Next Button */
		.fc .fc-prev-button,
		.fc .fc-next-button { display: flex; place-items: center; background: none; position: relative; border: 1px solid #e2e2e2; width: 24px; height: 24px; padding: 0; border-radius: 0; }
		.fc .fc-prev-button { margin-left: 20px !important; border-radius: 4px 0 0 4px; }
		.fc .fc-next-button { margin-left: -1px !important; }
		.fc .fc-prev-button .fc-icon,
		.fc .fc-next-button .fc-icon { display: flex; place-items: center; place-content: center;}
		.fc .fc-prev-button .fc-icon:before,
		.fc .fc-next-button .fc-icon:before { content: ''; background-image: var(--ic-c); background-position: var(--bp-250) var(--bp-calendar); background-size: var(--bg-sz); width: 6px; height: 11px; }
		.fc .fc-next-button .fc-icon:before { rotate: 180deg; }

	/* Header - Today Button */
		.fc .fc-today-button { height: 24px; line-height: 22px; font-size: 13px; padding: 0; width: 43px; margin-left: -1px !important;border-radius: 0 4px 4px 0; border: 1px solid #e2e2e2; background-color: #fff; color:#000; }
		.fc .fc-today-button:disabled, .fc .fc-today-button:hover { background: #f9f9f9; color: #000; border:1px solid #e2e2e2; }

	/* Header - Button Focus, Active */
		.fc .fc-prev-button:hover, .fc .fc-next-button:hover,
		.fc .fc-button-primary:not(:disabled).fc-button-active,
		.fc .fc-button-primary:not(:disabled):active { background: #fff; border: 1px solid #e2e2e2; color: #000; }
		.fc .fc-button-primary:focus,
		.fc .fc-button-primary:not(:disabled).fc-button-active:focus,
		.fc .fc-button-primary:not(:disabled):active:focus { box-shadow: none; }

	/* Table - Header */
		.fc .fc-col-header th { background: #f9f9f9; height: 40px; font-size: 14px; vertical-align: middle; color: #1e1e1e; border: 1px solid #e2e2e2; }
		.fc .fc-col-header th:first-child { color: #e20000; }

	/* Table - Day */
		.fc .fc-daygrid-day-number { display: flex; place-items: center; place-content: center; position: absolute; left: 4px; top: 9px; border-radius: 50%; width: 24px; height: 24px; padding: 0; font-weight: 700;  color: #1e1e1e; }
		.fc .fc-daygrid-day.fc-day-today { background: none; }
		.fc .fc-daygrid-day.fc-day-today .fc-daygrid-day-number { background: #000; color: white; }

	/* Table - Radius */
		.fc .fc-scrollgrid-liquid { border-radius: 4px; }
		.fc .fc-scrollgrid-liquid thead > tr > th { border-radius: 0 4px 0 0; }
		.fc .fc-scrollgrid-liquid tbody > tr > td { border-radius: 0 0 4px 0; }
		.fc .fc-scrollgrid-sync-table td:first-child .fc-daygrid-day-number { color: #e20000; }

	/* Table - Body */
		.fc .fc-daygrid-day-frame { height: 102px; }

	/* Table - Event */
		.fc .fc-daygrid-day-events { margin-top: 33px; font-size: 12px; color: #1e1e1e; }
		.fc .fc-event-main-frame { width: 100%; }
		.fc .fc-event-time { display: none; }
		.fc .fc-daygrid-dot-event,
		.fc .fc-daygrid-event { margin: 0 !important; padding: 0 !important; cursor: pointer; border: 0; border-radius: 0; }
		.fc .fc-daygrid-event-harness { padding: 1.5px 0; }
		.fc .fc-daygrid-event-dot { display: none; }
		.fc .fc-event-title { display: inline-block; padding: 0; font-size: 14px; text-overflow: ellipsis; font-weight: 400; padding-left: 10px; }
		.fc .fc-daygrid-dot-event[class*="sche-mark"] { color: white; }

	/* Table - Event More */
		.fc .fc-daygrid-day-bottom { display: flex; place-content: flex-end; }
		.fc .fc-daygrid-more-link { border-bottom: 1px solid #1e1e1e; margin-top: 5px; padding-bottom: 4px; line-height: 1; }

	/* Event Popup */
		.fc .fc-popover { width: 375px; border-radius: 20px; border: 0; box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.07); padding: 20px; }

	/* Event Popup - Header */
		.fc .fc-popover .fc-popover-header { background: none; padding: 0; font-size: 20px; }
		.fc .fc-popover .fc-popover-title { margin: 0; color: black; }
		.fc .fc-popover .fc-popover-close { display: flex; }
		.fc .fc-popover .fc-popover-close:before { content: ""; background-image: var(--ic-c); background-position: var(--bp-300) var(--bp-calendar); background-size: var(--bg-sz); width: 18px; height: 18px; }

	/* Event Popup - Event */
		.fc .fc-popover .fc-popover-body { margin-top: 10px; padding: 0; font-size: 0; }
		.fc .fc-popover .fc-daygrid-dot-event { background-color: transparent; color: #000; border: 0; }
		.fc .fc-popover .fc-daygrid-event-dot {	display: block; border: 0; width: 8px; height: 8px; margin: 0; }

	/* Event - Color */
		.fc .sche-mark-grn,
		.fc .sche-mark-grn .fc-daygrid-event-dot { background-color: #09af50; }
		.fc .sche-mark-gry,
		.fc .sche-mark-gry .fc-daygrid-event-dot { background-color: #7d8f9a; }
		.fc .sche-mark-blu,
		.fc .sche-mark-blu .fc-daygrid-event-dot { background-color: #5e7ad6; }

/* Graph */
	/* Horizontal */
		.grp-h-01-wrap { display: flex; gap: 15px; place-items: center; }
		.grp-h-01-wrap .part-label { min-width: 75px; text-align: center; color: black; }

		[class*="grp-type-h-01"] {
			--grp-h: 18px;
		}
		[class*="grp-type-h-01"] .part-num { position: absolute; bottom: 100%; right: -32.5px; background-color: white; border: 1px solid var(--grp-bg-c); border-radius: 30px; width: 65px; height: 30px; font-size: 13px; translate: 0 10px; }

		.grp-type-h-01-blu { --grp-bg-c: #5e7ad6; }
		.grp-type-h-01-blk { --grp-bg-c: black; }
		.grp-type-h-01-gra .part-inner { background: var(--bg-type01); }

	/* Pie */
		.grp-pie-01-wrap { width: max-content; }
		.grp-pie-01-wrap .part-label { margin-top: 13px; text-align: center; color: black; }

		[class*="grp-type-pie-01"] .part-num { gap: 2px; font-size: 20px; color: #000; }
		[class*="grp-type-pie-01"] .part-num span { font-size: 14px; translate: 0 4px;}

/* Icon */
	.ic-bell:before { width: 20px; height: 26px; }
	.ic-calendar:before { background-position: var(--bp-750) 0; width: 14px; height: 15px; }
	.ic-camera:before { background-position: var(--bp-300) 0; width: 26px; height: 26px; }
	.ic-close:before { background-position: var(--bp-150) 0; width: 18px; height: 18px; }
	.ic-del:before { background-position: var(--bp-200) 0; width: 13px; height: 12px; }
	.ic-del-02:before { background-position: var(--bp-400) 0; width: 18px; height: 18px; }
	.ic-eye:before { background-position: var(--bp-900) 0; width: 18px; height: 14px; }
	.ic-file:before { background-position: var(--bp-450) 0; width: 18px; height: 18px; }
	.ic-fire:before { background-position: 0 var(--bp-50); width: 18px; height: 28px; }
	.ic-globe:before { background-position: var(--bp-100) 0; width: 24px; height: 24px; }
	.ic-globe-02:before { background-position: var(--bp-850) 0; width: 24px; height: 24px; }
	.ic-plus:before { background-position: var(--bp-600) 0; width: 10px; height: 10px; }
	.ic-plus-02:before { background-position: var(--bp-650) 0; width: 14px; height: 14px; }
	.ic-quest:before { background-position: var(--bp-250) 0; width: 22px; height: 22px; }
	.ic-ribbon:before { background-position: 0 var(--bp-500); width: 42px; height: 44px; }
	.ic-stack:before { background-position: var(--bp-800) 0; width: 18px; height: 16px; }
	.ic-three-dot:before { background-position: var(--bp-550) 0; width: 3px; height: 17px; }
	.ic-usr:before { background-position: var(--bp-50) 0; width: 20px; height: 23px; }
	.ic-zoom:before { background-position: var(--bp-350) 0; width: 16px; height: 16px; }

	/* Header - Main */
		.h-wrap.main-header .ic-globe:before,
		.h-wrap.main-header .ic-usr:before,
		.h-wrap.main-header .ic-bell:before { filter: invert(100%); }

		.h-wrap.main-header.active .ic-globe:before,
		.h-wrap.main-header.active .ic-usr:before,
		.h-wrap.main-header.active .ic-bell:before { filter: invert(0); }

	/* Arrow */
		.ic-l-arrow:before { background-position: var(--bp-700) 0; width: 6px; height: 11px; }
		.ic-r-arrow:before { background-position: var(--bp-50) var(--bp-50); width: 5px; height: 10px; }
		.ic-r-arrow-02:before { background-position: var(--bp-100) var(--bp-50); width: 5px; height: 9px; }

/* List */
	.lst-type-01 { display: grid; gap: 20px; }
	.lst-type-01 > * { display: flex; flex-direction: column; place-items: center; place-content: center; background: #f9f9f9; border-radius: 20px; gap: 10px; height: 120px; font-size: 14px; color:#000;}
	.lst-type-01 strong { font-size: 28px; }

	.lst-type-02 { display: grid; }
	.lst-type-02 > * { display: flex; place-items: center; place-content: space-between; gap: 10px; }

/* Marker */
	/* Arrow */
		.mark-arrow-01 {
			--mark-w: 6px;
			--mark-h: 6px;
			--mark-gap-x: 4px;
		}

	/* Circle */
		.mark-cir-01 {
			--mark-gap-x: 15px;
			--mark-item-gap-x: 4px;
		}

		.mark-cir-02 {
			--mark-w: 8px;
			--mark-h: 8px;
			--mark-gap-y: 10px;
			--mark-gap-x: 10px;
		}

	/* Horizontal Bar */
		[class*="mark-h-bar-01"] {
			--mark-gap-a: 36px;
			--mark-bg-c: #e2e2e2;
			--mark-w: 100%;
			--mark-h: 1px;
		}

	/* Vertical Bar */
		[class*="mark-v-bar-01"] {
			--mark-gap-a: 11px;
			--mark-bg-c: #eee;
			--mark-h: 14px;
			--mark-ft-c: #666;
		}

/* Moment Calendar */
	.moment-util { display: flex; place-items: center; place-content: space-between; }
	.moment-week,
	.moment-week-day { display: flex; text-align: center; justify-content: space-between; }
	.moment-week > *,
	.moment-week-day > * > * { display: flex; place-items: center; place-content: center; width: 28px; height: 28px; border-radius: 50%; }
	.moment-week-day > *.active { background: #cc000c; border-radius: 50%; color: #fff; }

/* Paging */
	.brd-paging { display: flex; place-content: center; gap: 18px; margin-top: var(--mg-t, 60px); }
	.brd-paging a {display: flex; place-items: center; place-content: center; width: 36px; height: 36px; color: #666; }
	.brd-paging a:hover,
	.brd-paging-num > *.active a { color: var(--mc); }
	.brd-paging > * { display: flex; gap: 4px; }
	.brd-paging .brd-paging-ctrl a { border: 1px solid #e2e2e2; border-radius: 8px; }
	.brd-paging .brd-paging-ctrl a:before {content:""; background-image: var(--ic-c); background-size: var(--bg-sz); }
	.brd-paging .brd-paging-first:before,
	.brd-paging .brd-paging-last:before { background-position: var(--bp-150) var(--bp-550); width: 11px; height: 10px; }
	.brd-paging .brd-paging-prev:before,
	.brd-paging .brd-paging-next:before { background-position: var(--bp-200) var(--bp-550); width: 7px; height: 10px; }
	.brd-paging .brd-paging-last:before,
	.brd-paging .brd-paging-next:before { transform: rotate(180deg); }
	.brd-paging-num { display: flex; }

/* Popup */
	[class*="pop-type-alert"] {
		--pop-bd-r: 12px;
		--pop-bd-c: transparent;
		--pop-w: 430px;

		--pop-head-bg-c: white;
		--pop-head-ft-s: 20px;
		--pop-head-ft-c: black;
		--pop-head-h: 90px;
		--pop-head-pd-l: 40px;

		--pop-foot-h: 126px;

		--pop-close-w: 18px;
		--pop-close-h: 18px;
	}

	[class*="pop-type-alert"] .part-head .part-title { font-weight: 700; }
	[class*="pop-type-alert"] .part-foot [class*="btn-type"] {
		--btn-h: 56px;
		--btn-ft-s: 18px;
		--btn-min-w: 180px;
	}

/* Swiper */
	.swiper-type-01 .swiper-pagination-01 { position: absolute; right: 36px; top: 0; }

	.swiper-type-02 .brd-lst-01 { display: flex; }
	.swiper-type-02 .swiper-nav-wrap { width: auto; left: auto; top: -58px; right: 58px; }

	.swiper-type-04 .swiper-nav-wrap { width: auto; left: auto; right: 0; top: 6px; translate: 0 -50%; }

	.swiper-pagination-01 { gap: 8px; }
	.swiper-pagination-01 > * { background-color: #dee1e4; border-radius: 12px; width: 12px; height: 12px; }
	.swiper-pagination-01 .swiper-pagination-bullet-active { background-color: var(--mc); width: 38px; }

	.swiper-nav-01 { gap: 10px; }
	.swiper-nav-01 > *:after { background-position: var(--bp-150) var(--bp-swiper); width: 9px; height: 14px; }
	.swiper-nav-02 { gap: 10px; }
	.swiper-nav-02 > *:after { background-position: var(--bp-200) var(--bp-swiper); width: 6px; height: 11px; }

/* Tab */
	.tab-menu-01 {
		--tab-menu-bd-b-w: 1px;
		--tab-menu-bd-b-c: #e2e2e2;
		--tab-menu-gap-x: 52px;

		--tab-btn-h: 43px;
		--tab-btn-pd-x: 25px;
		--tab-btn-ft-s: 18px;

		--tab-btn-active-bg-c: transparent;
		--tab-btn-active-ft-c: var(--mc);

		--tab-btn-over-bg-c: transparent;
		--tab-btn-over-ft-c: var(--mc);

		background: white;
	}

	.tab-menu-01 > * { position: relative; }
	.tab-menu-01 > * > * { display: block; padding-bottom: 24px; }
	.tab-menu-01 > *:hover:after,
	.tab-menu-01 > *.active:after { content: ""; position: absolute; left: 0; bottom: 0; background: var(--mc); width: 100%; height: 2px; }

/* Table */
	[class*="tbl-type"] td > *:first-child { margin-top: 0; }

	[class*="tbl-type-01"] { border-top: 1px solid #2d2d2d; margin-top: 20px; }
	[class*="tbl-type-01"] thead th { border-bottom: 1px solid #e2e2e2; height: 67px; font-weight: 500; }
	[class*="tbl-type-01"] tbody th { border-bottom: 1px solid #e2e2e2; padding: 21px 20px; font-weight: 500; vertical-align: middle; color: black; }
	[class*="tbl-type-01"] tbody td { border-bottom: 1px solid #e2e2e2; padding: 9px 20px; vertical-align: middle; color: #666; }

	.tbl-type-01-02 th, .tbl-type-01-02 td { height: 67px; }

	.tbl-type-02 { border-collapse: separate; border-spacing: 0 10px; }
	.tbl-type-02 th { font-weight: 400; }

/* Thumbnail */
	[class*="thumb-type-01"] {
		--thumb-bg-c: #f5f5f5;
		--thumb-bg-img: url("/bluebell/images/img/img_thumb01.png");
		--thumb-ratio: 16 / 9;
		--thumb-bd-r: 20px;
		--thumb-pd-x: 13px;
	}

	.thumb-type-01-01 {
		--thumb-ratio: 59 / 38
	}

	.thumb-type-01-02 {
		--thumb-pd-x: 15px;
		--thumb-pd-y: 15px;
	}

	.thumb-type-01-03 {
		--thumb-bd-r: 8px;
		--thumb-pd-x: 5px;
		--thumb-pd-y: 5px;
	}

/* Title */
	[class*="tit-"] { color: black; }

	.tit-01 { font-size: 30px; }
	.tit-02 { font-size: 24px; font-weight: 700; }
	.tit-03 { font-size: 20px; font-weight: 700; }

/* Page */
	/* 수강신청 */
		.reg-cour-dtl-btn.active + .reg-cour-dtl-form { display: flex; }

	/* 로그인 */
		.login-wrap { display: grid; grid-template-columns: repeat(2, 1fr); background-image :url("/bluebell/images/img/login_bnr.png"); width: 900px; height: 479px; }
		.login-wrap .login-tit { font-size: 40px; font-weight: 700; color: black; }

	/* 학습방 */
		.studyroom-stat { --mark-h: 100%; --mark-grid-t-col: 3; border-top: 1px solid #f5f5f5; margin: 40px calc(var(--box-pd-a) * -1) calc(var(--box-pd-a) * -1); }
		.studyroom-stat .part-cont { display: flex; place-content: space-between; place-items: center; width: 100%; padding: 30px 40px; color: #aaa; }
		.studyroom-stat .part-cont-in { display: flex; gap: 20px; font-weight: 700; font-size: 20px; }

	/* 메인 */
		.main-wrap { margin-top: calc(var(--init-header-height) * -1); }
		.main-top { display: flex; place-items: center; place-content: space-between; background: url(../images/img/main_bnr01.png) center no-repeat; height: 629px; padding-top: var(--init-header-height); }
		.main-top .moment-week { margin-top: 15px; font-size: 12px; }