/* Button */
	/* Color */
	.btn-type-b-blk {
		--btn-bd-c: black;
	}

	/* Size */
	.btn-sz-02 {
		--btn-h: 34px;
		--btn-ft-s: 14px;
		--btn-pd-x: 24px;
	}

/* Icon */
	.ic-bell:before { width: 20px; height: 26px; }
	.ic-camera:before { background-position: var(--bp-300) 0; width: 26px; height: 26px; }
	.ic-close:before { background-position: var(--bp-150) 0; width: 18px; height: 18px; }
	.ic-del:before { background-position: var(--bp-200) 0; width: 13px; height: 12px; }
	.ic-globe:before { background-position: var(--bp-100) 0; width: 24px; height: 24px; }
	.ic-quest:before { background-position: var(--bp-250) 0; width: 22px; height: 22px; }
	.ic-usr:before { background-position: var(--bp-50) 0; width: 20px; height: 23px; }

/* Marker */
	/* Vertical Bar */
		[class*="mark-v-bar-01"] {
			--mark-gap-a: 11px;
			--mark-bg-c: #eee;
			--mark-h: 14px;
		}