body, #app {display:flex; flex-direction:column; place-content:space-between; flex-wrap:nowrap; min-height:100dvh;}

/* Header */
	.h-wrap { position: sticky; left: 0; top: 0; background: var(--bg-type01); height: var(--init-header-height); z-index: 100; }
	.h-wrap .h-wrap-pc { position: relative; display: flex; place-items: center; place-content: space-between; gap: 30px; height: 100%; z-index: 20; }
	.h-wrap .h-gnb-wrap { flex: 1; }

	.h-wrap .h-gnb-wrap .h-gnb,
	.h-wrap .h-gnb-wrap .h-sub-menu { grid-template-columns: repeat(var(--menu-length), 1fr); }

	.h-wrap .h-gnb { display: grid; place-content: space-between; place-items: center; font-weight:500; font-size:19px; color:#aec0c8; }
	.h-wrap .h-gnb > * { word-break: keep-all; text-align: center;}
	.h-wrap .h-gnb li a { position: relative; }
	.h-wrap .h-gnb .txt-alarm-02 { position: absolute; top: -20px; right: -27px; background: white; border-radius: 18px 18px 18px 0; width: 37px; height: 18px; font-size: 14px; text-align: center; color: var(--moc); }
	.h-wrap .h-gnb > *:hover,
	.h-wrap .h-gnb > *.active { color: white; }

	.h-sub-menu-wrap { overflow: hidden; position: absolute; left: 50%; top: var(--init-header-height); place-content: center; background: white; width: 100dvw; height: 0; font-weight: 500; text-align: center; transform: translate(-50%, 0); transition: transform 0.3s ease, height .3s;}
	.h-sub-menu-wrap.active { box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15); height: auto; transform: translate(-50%, 0); transition: transform 0.3s ease, box-shadow 0.5s, height 0.3s; }
	.h-sub-menu-wrap .h-sub-menu { display: grid; width: 968px; place-content: center; height: 100%; margin-left: auto; padding-top: 44px; font-size: 15px; line-height: 30px; flex: 1; place-content: space-between; padding-bottom: 44px;}
	.h-sub-menu-wrap .h-sub-menu ul { display: flex; flex-direction: column; gap:30px; line-height: 1; }
	.h-sub-menu-wrap .h-sub-menu a { color: #666; }
	.h-sub-menu-wrap .h-sub-menu a:hover, .h-sub-menu-wrap .h-sub-menu .active a { color: var(--mc); }

	.h-wrap .h-util { position: relative; display: flex; place-items: center; place-content: flex-end; gap: 30px; padding-top: 28px; z-index: 10; }
	.h-wrap .h-util > button { position: relative; }
	.h-wrap .h-util .txt-alarm { position: absolute; top: -5px; right: -27px; background: white; border-radius: 18px 18px 18px 0; width: 37px; height: 18px;  font-size: 14px; text-align: center; color: var(--moc); }

	.h-wrap .h-menu { display: none; position: absolute; background: white; border-radius: 10px; box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.07); padding: 20px; font-size: 14px; word-break: keep-all; color: #666; }
	.h-wrap .h-menu.active,
	.h-wrap *.active + .h-menu { display: block; }

	.h-wrap [data-ttatg] { position: relative; }
	.h-wrap [data-ttatg].active .h-pop { display: block; }
	.h-wrap .h-pop { display: none; position: absolute; left: 50%; top: 33px; background: white; border-radius: 10px; box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.07); padding: 19px 21px; font-size: 14px; word-break: keep-all; transform: translate(-50%, 0); color: #666;}
	.h-wrap .h-pop-close { position: absolute; right: 20px; top: 20px; height: auto; }
	.h-wrap .h-pop-tit { font-size: 20px; font-weight: bold; }

	.h-wrap .h-alarm { width: 325px; }
	.h-wrap .h-alarm .h-top { display: flex; place-content: space-between; margin-top: 20px; color: #000;}
	.h-wrap .h-alarm .h-top em, .h-wrap .h-alarm .h-top a { color: #999; }
	.h-wrap .h-alarm-list { display: flex; flex-direction: column; gap: 15px; }
	.h-wrap .h-alarm-list > * { min-height: 42px; }
	.h-wrap .h-alarm-list > * + * { border-top: 1px solid #e2e2e2; padding-top: 15px; }
	.h-wrap .h-alarm-list > *.read { color: #000; }
	.h-wrap .h-alarm-list .txt-date { margin-top: 8px; font-size: 14px; color: #999;}

	.h-wrap .h-usr { width: 282px; }
	.h-wrap .user-thumb { position: relative; }
	.h-wrap .user-camera-btn { position: absolute; bottom: 0; right: 0; height: auto; }
	.h-wrap .user-info { display: flex; place-content: center; flex-direction: column; place-items: center; gap: 18px; margin-top: 30px; }
	.h-wrap .user-info .user-nm { font-size: 20px; font-weight: bold; text-align: center; color: #000;}
	.h-wrap .user-info a { font-weight: 300; color: #999; }

	.h-wrap .h-usr .photo-menu { top: 75px; left: 55px; z-index: 1; }
	.h-wrap .h-usrnm .pop-close, .h-wrap .h-alarm .pop-close {position:absolute; right:20px; top:20px; width:40px; height:30px; text-indent:-1000em; z-index:20;}
	.h-wrap .h-usrnm .pop-close:before, .h-wrap .h-alarm .pop-close:before {content:""; position:absolute; left:50%; top:50%; background:var(--icon); background-position:-250px 0px; width:18px; height:18px; transform:translate(-50%, -50%);}

	.h-glo-wrap { position: relative; }
	.h-glo-wrap .h-menu { left: 50%; translate: -50% 0; }

	.h-wrap.main-header { background: none; }
	.h-wrap.main-header .h-gnb { color: black; }

	.h-wrap.main-header.active { background: var(--bg-type01); }
	.h-wrap.main-header.active .h-gnb { color: white; }

/* Container */
	#container {flex:1;}
	[class*="sub-top"] .layout-inner { position: relative; display: flex; place-content: center; place-items: center; height: 200px; }
	.sub-top-bg-01 { background: url(../images/img/sub-top-bg01.png) center no-repeat; }
	[class*="sub-top"] .sub-tit { font-family: 'Nanum Myeongjo'; font-size: 40px; font-weight: bold; color: #2f2f2f; }
	[class*="sub-top"] .page-loc { display: flex; gap: 8px; position: absolute; right: 0; top: 18px; font-size: 14px; }
	[class*="sub-top"] .page-loc li { display: flex; place-items: center; gap: 9px; color: #2f2f2f; }
	[class*="sub-top"] .page-loc li + li:before {content: ""; background-image: var(--ic); background-position:var(--bp-500) 0; width:6px; height:11px;}
	[class*="sub-top"] .btn-back { display: flex; gap: 10px; position: absolute; left: 0; top: 17px; font-size: 14px; color: #2f2f2f; }
	.sub-contents { padding: 70px 0 140px; }

/* Footer */
	.f-wrap { display: flex; place-items: center; background: black; height:var(--init-footer-height); }
	.f-wrap .f-menu { font-weight:700; }
	.f-wrap .f-copy { font-size: 14px; color: #999; }

@media all and (max-width:768px) {
	/* Header */
		.h-wrap { background: white; }
		.h-wrap .h-sub-tit { position: absolute; left: 50%; translate: -50%; display: flex; justify-content: center; align-items: center; height: 100%; font-size: 5vw; font-weight: 700; color: black;}
		.h-wrap .h-logo img { width: 30vw; }
		.h-wrap .h-inner { display: flex; place-items: center; place-content: space-between; }
		.h-wrap .h-inner .h-left,
		.h-wrap .h-inner .h-right { display: flex; }
		.h-wrap .h-inner .h-btn { width: calc(var(--init-header-height) / 1.5); height: var(--init-header-height); display: flex; place-items: center; place-content: center; }
		.h-wrap .h-menu { border-radius: 2.22vw; box-shadow: 0px 1.39vw 12.78vw 0px rgba(0, 0, 0, 0.07); padding: 5vw 5.56vw; font-size: 3.89vw; }

	/* Header - Panel */
		#panel { display: flex; flex-direction: column; place-content: space-between; position: fixed; left: 0; top: 0; background: white; width: 100dvw; height:100dvh; translate: 100% 0; transition: transform 0.3s ease;}
		#panel .pn-head { flex: 0 0 45.14vw; background: white; border-bottom: 1px solid #e2e2e2; width: 100dvw; height: 45.14vw; padding: 18.06vw 5vw 0; }
		#panel .user-camera-btn { right: -1.39vw; bottom: -2.08vw; }
		#panel .user-thumb { width: 16.67vw; height: 16.67vw; }
		#panel .user-thumb img { width: 100%; height: 100%; border-radius: 50%; }
		#panel .user-thumb .h-menu { top: 14.44vw; left: 9.56vw; }
		#panel .user-thumb .h-menu * + * { margin-top: 1.39vw; }
		#panel .pn-usrnm { font-size: 5vw; font-weight: bold; color: #000; }
		#panel .pn-usrtm { margin-top: 1.94vw; font-size: 4.17vw; }
		#panel .h-gnb { overflow: hidden; flex: 1; grid-template-columns: repeat(1, 1fr); place-items: flex-start; height: auto; }
		#panel .h-gnb .h-od-menu { flex: unset; width: 100%; height: 100%; }
		#panel .h-gnb .h-td-menu { display: grid; font-size: 3.33vw; padding: 0 2.78vw; }
		#panel .h-gnb .h-td-menu > li > a { display: flex; align-items: center; height: 10vw; color: #767676; }
		#panel .h-gnb .h-td-menu > li > a:hover {color: #cc000c;}
		#panel .h-gnb .h-td-menu > li.active > a {color: var(--main-color);}
		#panel .h-gnb .h-td-menu > li.active > a:after {background-position: -90.28vw -6.94vw;transform: rotate(90deg);}
		#panel .h-gnb .h-td-menu > li.active .h-th-menu {display: block;}
		#panel .pn-cls {position:absolute; right:0; top:0; width: var(--init-header-height); height: var(--init-header-height); }
		#panel .pn-foot { height: 36.11vw; padding: 5.42vw 5.56vw 0; text-align: center; }
		#panel .pn-foot .pn-copy {margin-top:3.75vw; font-size:3.33vw; color:#666;}

	/* Header - Panel Active */
		#panel.active { translate: 0 0; transition: transform 0.3s ease; }

	/* Header - Main */
		.h-wrap.main-header { background: white; }
		.h-wrap.main-header .h-left { padding-left: var(--init-layout-padding); }

		.h-wrap .h-inner .h-btn-alarm,
		.h-wrap .h-inner .h-btn-globe,
		.h-wrap .h-logo,
		.h-wrap.main-header .h-sub-tit,
		.h-wrap.main-header .h-btn-back,
		.h-wrap.main-header .h-btn-home { display: none; }

		.h-wrap.main-header .h-inner .h-btn-alarm,
		.h-wrap.main-header .h-inner .h-btn-globe { display: flex; }
		.h-wrap.main-header .h-logo { display: block; }

	/* Container */
		.sub-contents { padding: 8.33vw 0 13.89vw; }
		[class*="sub-top"] { display: none; }
		[class*="sub-top"] .layout-inner { height: auto; padding: 11.11vw 5.56vw; }
		[class*="sub-top"] .sub-tit { font-size: 5.56vw; }
		.sub-top-bg-01 { display: none; }

	/* Footer */
		.f-wrap .f-copy { margin-top: 4.86vw; font-size: 3.89vw; }
}