body, #app {display:flex; flex-direction:column; justify-content:space-between; flex-wrap:nowrap; min-height:100dvh;}
/* Header */
	.h-wrap {position:sticky; left:0; top:0; background:var(--bg-type01); height:var(--init-header-height); z-index:100;}

	.h-wrap > .layout-inner {position:relative; z-index:20;display: flex;align-items: center;height: 100%;}
	.h-wrap .h-top {padding-top:24px; color:#d3ceec;}
	.h-wrap .h-util {display:flex; align-items:center; justify-content: flex-end; gap:30px;}
	.h-wrap .h-usrnm {position:relative;height: 23px;}
	.h-wrap .h-alert {position:relative;}
	.h-wrap .h-ic-alert{position: relative;}
	.h-wrap .h-ic-alert:after {background-position:0px 0px; width:20px; height:26px;  }
	.h-wrap .h-glo-ic-btn {display:flex;}
	.h-wrap .h-usrnm.active .h-glo-menu,.h-wrap .h-alert.active .h-glo-menu {display:block;}
	.h-wrap .h-usrnm.active .h-glo-menu a:hover {font-weight:700; color:var(--main-color-pur);}
	.h-wrap .h-usrnm.active .h-ic-usrnm:after {transition:transform .3s ease; transform:rotate(180deg);}
	.h-wrap .h-glo-wrap {position:relative; color:#666;}
	.h-wrap .h-ic-info:before {background-position:-50px 0px; width:20px; height:23px;}
	.h-wrap .h-glo-ic-btn:before {background-position:-100px 0px; width:24px; height:24px;}
	.h-wrap .h-glo-menu {display:none; box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.07);position:absolute; left:50%; top:33px; background:white; border-radius:10px; padding:19px 21px; font-size:14px; word-break:keep-all; transform:translate(-50%, 0); color:#666;}
	.h-wrap .h-glo-menu.active {display:block;}
	.h-wrap .h-glo-menu .active {font-weight:500; color:var(--fc-c01);}
	.h-wrap .h-bot {display:flex; justify-content: space-between; align-items: center; width: 1200px;}
	.h-wrap .h-bot .h-logo {flex:0 0 126px;}
	.h-wrap .h-gnb-od {display:flex; width:840px; height:120px; align-items: center; font-weight:500; font-size:19px; color:#fff;justify-content: space-between;}
	.h-wrap .h-gnb-od > *{text-align: center;flex: 1; word-break: keep-all;max-width: 137px;}
	.h-wrap .h-gnb-od li a {position: relative;}
	.h-wrap .h-gnb-od li a .appr-num{ filter: invert(1);width: 34px;color: #fff;position: absolute;top: -17px;right: -18px;background: #e0242c;padding: 0 10px;height: 18px;border-radius: 18px 18px 18px 0;font-size: 12px;line-height: 18px;}
	.h-wrap.sb-.h-wrap .h-gnb-od li a .appr-num{ filter: invert(0);}
	.h-wrap .user-thumb {position: relative;width: 80px;}
	.h-wrap .user-thumb img{max-width: 80px;height: 80px;width: 100%;border-radius: 80px;}
	.h-wrap .user-info{gap:18px;width: 240px; display: flex;justify-content: center;flex-direction: column;align-items: center;}
	.h-wrap .user-info h4{font-size: 20px;font-weight: bold;text-align: center;color: #000;}
	.h-wrap .user-info a{color:#999;font-weight: 300;}
	.h-wrap .ic-photo {position: absolute;bottom: 0;right: 0;}
	.h-wrap .ic-photo:after {background-position:-150px 0px; width:26px; height:26px;}
	.h-wrap .user-thumb .h-glo-menu {display:none !important;}
	.h-wrap .user-thumb.active .h-glo-menu {display:block !important; top: 75px;left: 105px;z-index: 10;}
	.h-wrap .h-usrnm .pop-close, .h-wrap .h-alert .pop-close {position:absolute; right:20px; top:20px; width:40px; height:30px; text-indent:-1000em; z-index:20;}
	.h-wrap .h-usrnm .pop-close:before, .h-wrap .h-alert .pop-close:before {content:""; position:absolute; left:50%; top:50%; background:var(--icon); background-position:-250px 0px; width:18px; height:18px; transform:translate(-50%, -50%);}
	.h-wrap .h-alert .h-glo-menu h3{font-size: 20px;font-weight: bold;}
	.h-wrap .h-alert .h-glo-menu {width: 325px;}
	.h-wrap .h-alert .h-top {color:#000;padding-top:10px}
	.h-wrap .h-alert .h-top em, .h-wrap .h-alert .h-top a{color:#999;}
	.h-wrap .h-alert dd{color:#999;font-size: 14px;}
	.h-wrap .h-alert ul{max-height: 315px;overflow-y: auto;}
	.h-wrap .h-alert li {padding:15px 0;padding-right: 5px;}
	.h-wrap .h-alert li.read {color: #000;}
	.h-wrap .h-alert li + li{border-top:1px solid #e2e2e2;}

	.main-.h-wrap .h-util > div > button{filter: invert(100%);}
	.sb-.h-wrap.main-.h-wrap .h-gnb-od > li a{color: #000;}
	 .sb-.h-wrap .h-util > div > button.h-ic-alert{font-size: 12px;}
	 .sb-.h-wrap .h-util > div > button.h-ic-alert i{filter: invert(0);width: 34px;color:#fff;position: absolute;top: -5px;right: -27px;background: #e0242c;padding:0 10px ;height: 18px;border-radius: 18px 18px 18px 0;}
	 .main-.h-wrap .h-util > div > button.h-ic-alert{font-size: 12px;}
	 .main-.h-wrap .h-util > div > button.h-ic-alert i{filter: invert(1);width: 34px;color:#fff;position: absolute;top: -5px;right: -27px;background: #e0242c;padding:0 10px ;height: 18px;border-radius: 18px 18px 18px 0;}
	 .main-.h-wrap .h-util > div .h-ic-alert::before{filter: invert(1);}
	.main-.h-wrap .h-top-bg{background: transparent;}

	.h-sub-menu-wrap {overflow: hidden;position: absolute;left: 50%;top: 120px;background: white;width: 1920px;height: 200px;font-weight: 500;text-align: center;transform: translate(-50%, 0);transition: transform 0.3s ease, height .3s;height: 0;}
	.h-sub-menu-wrap.active {transform: translate(-50%, 0);transition: transform 0.3s ease, box-shadow 0.5s, height 0.3s;box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);height: auto;}
	.h-sub-menu-wrap .inner {width: 840px;display: flex;margin: 0;}
	.h-sub-menu-wrap .h-sub-menu {display: flex;width: 800px; justify-content: center;height: 100%;padding-top: 44px;font-size: 15px;line-height: 30px;flex: 1;justify-content: center;padding-bottom: 44px;}
	.h-sub-menu-wrap .h-sub-menu ul {line-height: 1;}
	.h-sub-menu-wrap .h-sub-menu li+li {margin-top: 30px}
	.h-sub-menu-wrap .h-sub-menu:first-child {border-left: 0;}
	.h-sub-menu-wrap .h-sub-menu h2 {color: #333;}
	.h-sub-menu-wrap .h-sub-menu a {color: #666;}
	.h-sub-menu-wrap .h-sub-menu a:hover, .h-sub-menu-wrap .h-sub-menu .active a {color: #df242c;}

.f-wrap {height:var(--init-footer-height);}

/* Footer */
	footer { height:var(--init-fh); padding-top:65px;background: #333333;}
	footer .f-logo {margin-right:51px;}
	footer .f-menu {display:flex; font-weight:700;}
	footer .f-copy { font-size:14px; color:var(--fc-c03);}
	footer .f-site {width:168px;}

	footer .vbar-01 span{font-size: 14px;color:var(--fc-c03);}

#container {flex:1;}

@media all and (max-width:720px) {

}