@media all and (max-width:768px) {
	/* Accordion */
		[class*="aco-type-01"] {
			--aco-item-gap-a: 3.47vw;
			--aco-item-bd-r: 3.33vw;

			--aco-head-pd-x: 5vw;
			--aco-head-pd-y: 5vw;
			--aco-head-ft-s: 3.89vw;
			--aco-head-gap-x: 3.89vw;

			--aco-cont-pd-a: 4.58vw;

			--aco-bp-x: var(--bp-150);
			--aco-icon-w: 3.33vw;
			--aco-icon-h: 1.94vw;

			margin-top: 4.17vw;
		}

		[class*="aco-type-01"].aco-qna .aco-head-in:before{ display: none; }
		[class*="aco-type-01"].aco-qna .aco-cont { gap: 2.78vw; }
		[class*="aco-type-01"] .txt-a { font-size: 3.33vw; }

	/* Board Default */
		.brd-wrap .brd-tit { font-size: 3.89vw; }
		.brd-wrap .brd-ctgy { font-size: 3.33vw; }

	/* Board List */
		[class*="brd-lst-01"] { grid-template-columns: repeat(2, 41.22vw); row-gap: 5.56vw; }
		[class*="brd-lst-01"] .brd-cont { margin-top: 3.33vw; }
		[class*="brd-lst-01"] .brd-ctgy { margin-top: 0.69vw; }
		[class*="brd-lst-01"] .brd-tit { margin-top: 1.39vw; }
		[class*="brd-lst-01"] .brd-meta { margin-top: 2.08vw; }

		.brd-lst-01-01 .brd-cont { margin-top: 0; }

	/* Button */
		/* Size */
			.btn-sz-02 {
				--btn-h: 7.78vw;
				--btn-ft-s: 3.33vw;
				--btn-pd-x: 4.17vw;
			}

	/* Chip */
		[class*="chip-type-01"] {
			--chip-h: 5.28vw;

			--chip-bd-r: 5.28vw;
			--chip-ft-s: 2.78vw;
			--chip-pd-x: 2.25vw;
		}

		[class*="chip-type-02"] {
			--chip-h: 5.28vw;
			--chip-bd-r: 1.11vw;
			--chip-ft-s: 2.78vw;
			--chip-pd-x: 1.25vw;
		}

		[class*="chip-type-03"] {
			--chip-bd-r: 7.78vw;
			--chip-pd-x: 3.33vw;
			--chip-ft-s: 14px;
			--chip-h: 7.78vw;
		}

	/* Form */
		/* Checkbox */
			.form-slt-chk {
				--form-w: 5.56vw;
				--form-h: 5.56vw;

				--form-chk-w: 3.06vw;
				--form-chk-h: 2.36vw;
			}

		/* Switch */
			.form-slt-swh-01 {
				--form-bd-r: 1.39vw;
				--form-w: 6.53vw;
				--form-h: 1.39vw;

				--form-chk-w: 3.33vw;
				--form-chk-h: 3.33vw;
			}


	/* Icon */
		.ic-file:before { width: 3.61vw; height: 3.61vw; }
		.ic-ribbon:before { width: 7.78vw; height: 8.19vw; }
		.ic-zoom:before { width: 3.75vw; height: 3.75vw; }

		/* Only Mobile */
		.ic-m-r-arrow:before { background-position: 0 var(--bp-950); width: 1.39vw; height: 2.22vw; }

	/* Marker */
		/* Arrow */
			.mark-arrow-01 {
				--mark-w: 1.67vw;
				--mark-h: 1.67vw;
				--mark-gap-x: 1.11vw;
			}

		/* Horizontal Bar */
			[class*="mark-h-bar-01"] {
				--mark-gap-a: 5vw;
			}

		/* Vertical Bar */
			[class*="mark-v-bar-01"] {
				--mark-gap-a: 1.3vw;
				--mark-h: 1.94vw;
			}

	/* Swiper */
		.swiper-type-01 .swiper-pagination-01 { right: 5vw; }

		.swiper-pagination-01 { gap: 1.11vw; }
		.swiper-pagination-01 > * { border-radius: 1.67vw; width: 1.67vw; height: 1.67vw; }
		.swiper-pagination-01 .swiper-pagination-bullet-active { width: 5.28vw; }

	/* Tab */
		.tab-menu-01 {
			--tab-menu-gap-x: 5.56vw;

			--tab-btn-h: auto;
			--tab-btn-pd-x: 0;
			--tab-btn-ft-s: 3.89vw;

			padding-inline: 5vw;
		}

		.tab-menu-01 > * > * { padding: 3.33vw 0; }

	/* Thumbnail */
		[class*="thumb-type-01"] {
			--thumb-bd-r: 2.78vw;
			--thumb-pd-x: 3.61vw;
		}

		.thumb-type-01-02 {
			--thumb-pd-x: 2.78vw;
			--thumb-pd-y: 2.78vw;
		}

	/* Page */
		/* 수강신청 */
			.reg-cour-dtl-btn.active + .reg-cour-dtl-form { display: grid; }
}
