@media all and (max-width:768px) {
	/* Accordion */
		[class*="aco-type-01"] {
			--aco-item-gap-a: 3.47vw;
			--aco-item-bd-r: 3.33vw;

			--aco-head-pd-x: 5vw;
			--aco-head-pd-y: 5vw;
			--aco-head-ft-s: 3.89vw;
			--aco-head-gap-x: 3.89vw;

			--aco-cont-pd-x: 4.58vw;
			--aco-cont-pd-y: 4.58vw;

			--aco-bp-x: var(--bp-150);
			--aco-icon-w: 3.33vw;
			--aco-icon-h: 1.94vw;

			margin-top: 4.17vw;
		}

		[class*="aco-type-01"].aco-qna .aco-head-in:before{ display: none; }
		[class*="aco-type-01"].aco-qna .aco-cont { gap: 2.78vw; }
		[class*="aco-type-01"] .txt-a { font-size: 3.33vw; }

		.aco-type-m-01 {
			--aco-item-bd-c: #e2e2e2;

			--aco-head-h: 15.83vw;
			--aco-head-pd-x: 5vw;
			--aco-head-ft-c: black;
			--aco-head-ft-s: 4.44vw;
			--aco-head-ft-w: 700;

			--aco-cont-pd-a: 8.33vw 5vw;
		}

		.aco-type-m-02 {
			overflow: visible;
			--aco-item-bd-c: #e2e2e2;
			--aco-item-bd-r: 3.33vw;

			--aco-head-pd-x: 6.25vw;
			--aco-head-pd-y: 5vw;

			--aco-cont-pd-x: 6.25vw;
			--aco-cont-pd-y: 5vw;
			--aco-cont-bd-t-w: 0;
		}

		.aco-type-m-02 .aco-toggle { display: flex; place-items: center; place-content: center; position: absolute; left: 50%; top: 100%; background: white; border: 1px solid #e2e2e2; border-radius: 50%; width: 10vw; height: 10vw; translate: -50% -50%;}
		.aco-type-m-02 > .aco-item { position: relative; }
		.aco-type-m-02 > .aco-item > .aco-cont { padding-top: 0; }
		.aco-type-m-02 > .aco-item > .aco-cont > .aco-cont-in { overflow: visible; }

		.aco-type-m-panel-menu {
			--aco-head-ft-c: #999;
			--aco-head-ft-s: 3.89vw;
			--aco-head-pd-x: 5vw;
			--aco-head-h: 14.58vw;

			--aco-cont-bg-c: #f9f9f9;
			--aco-cont-ft-c: #767676;
			--aco-cont-pd-a: 4.58vw;

			--aco-bp-x: var(--bp-150);
			--aco-icon-w: 3.33vw;
			--aco-icon-h: 1.94vw;
		}

		.aco-type-m-panel-menu .aco-item.active .aco-head {
			color: black;
		}

	/* Board Default */
		.brd-wrap .brd-tit { font-size: 3.89vw; }
		.brd-wrap .brd-ctgy { font-size: 3.33vw; }

	/* Board List */
		[class*="brd-lst-01"] { grid-template-columns: repeat(2, 41.22vw); row-gap: 5.56vw; }
		[class*="brd-lst-01"] .brd-cont { margin-top: 3.33vw; }
		[class*="brd-lst-01"] .brd-ctgy { margin-top: 0.69vw; }
		[class*="brd-lst-01"] .brd-tit { margin-top: 1.39vw; }
		[class*="brd-lst-01"] .brd-meta { margin-top: 2.08vw; }

		.brd-lst-01-01 .brd-cont { margin-top: 0; }

	/* Board View */
		[class*="view-type-01"] table th { font-size: 3.89vw; font-weight: 300; text-align: left; color: #666; }
		[class*="view-type-01"] table td { padding: 0.65vw 0; font-size: 3.89vw; font-weight: 300; text-align: left; color: #000; }
		.class-mid { margin-top: 0; }
		.class-mid .detaile-info { gap: 6.94vw; }
		.class-mid .detaile-info h3 { font-size: inherit; color: black; }
		.class-mid .detaile-info p { margin-top: 2.08vw; font-size: inherit; }
		.class-mid .detaile-info p .num { margin-right: 2.78vw; }
		.class-mid .detaile-info p + p { margin-top: 7px; }

	/* Box */
		.box-type-01 {
			--box-bd-r: 2.78vw;
			--box-pd-x: 3.8vw;
			--box-pd-y: 5vw;
		}

		.box-type-02 {
			--box-pd-x: 3.8vw;
			--box-pd-y: 5vw;
			--box-bd-r: 20px;
		}

	/* Button */
		/* Size */
			.btn-sz-02 {
				--btn-h: 7.78vw;
				--btn-ft-s: 3.33vw;
				--btn-pd-x: 4.17vw;
			}

			.btn-sz-m-01 {
				--btn-h: 7.78vw;
				--btn-bd-r: 7.78vw;
				--btn-ft-s: 3.33vw;
				--btn-pd-x: 2.78vw;
			}

	/* Chip */
		[class*="chip-type-01"] {
			--chip-h: 5.28vw;

			--chip-bd-r: 5.28vw;
			--chip-ft-s: 2.78vw;
			--chip-pd-x: 2.25vw;
		}

		[class*="chip-type-02"] {
			--chip-h: 5.28vw;
			--chip-bd-r: 1.11vw;
			--chip-ft-s: 2.78vw;
			--chip-pd-x: 1.25vw;
		}

		[class*="chip-type-03"] {
			--chip-bd-r: 7.78vw;
			--chip-pd-x: 3.33vw;
			--chip-ft-s: 14px;
			--chip-h: 7.78vw;
		}

		[class*="chip-type-04"] {
			--chip-bd-r: 1.11vw;
			--chip-ft-s: 3.89vw;
			--chip-w: 13.89vw;
			--chip-h: 13.89vw;

			min-width: 13.89vw;
		}

	/* Form */
		/* Checkbox */
			.form-slt-chk {
				--form-w: 5.56vw;
				--form-h: 5.56vw;

				--form-chk-w: 3.06vw;
				--form-chk-h: 2.36vw;
			}

		/* File */
			.form-txt-file-01 {
				--form-w: 16.67vw;
				--form-h: 16.67vw;
			}

		/* Switch */
			.form-slt-swh-01 {
				--form-bd-r: 1.39vw;
				--form-w: 6.53vw;
				--form-h: 1.39vw;

				--form-chk-w: 3.33vw;
				--form-chk-h: 3.33vw;
			}

	/* Full Calendar */
			.fc { height: 116.33vw; }

		/* Header */
			.fc .fc-header-toolbar { height: 7.78vw; }
			.fc .fc-toolbar-title { position: absolute; width: 100%; font-size: 5vw; text-align: center; }

		/* Header - Prev, Next Button */
			.fc .fc-prev-button,
			.fc .fc-next-button { position: absolute; border: 0; width: 1.94vw; height: 3.33vw; }
			.fc .fc-prev-button { left: 30vw; margin-left: 0 !important; }
			.fc .fc-next-button { right: 30vw; }
			.fc .fc-prev-button .fc-icon:before,
			.fc .fc-next-button .fc-icon:before { width: 1.94vw; height: 3.33vw; }

		/* Header - Today Button */
			.fc .fc-today-button { position: absolute; right: 0; height: 7.78vw; font-size: 3.33vw; width: 12.78vw; border-radius: 1.39vw; }

		/* Header - Button Focus, Active */
			.fc .fc-prev-button:hover, .fc .fc-next-button:hover, .fc .fc-button-primary:not(:disabled).fc-button-active, .fc .fc-button-primary:not(:disabled):active { border: 0; }

		/* Table - Header */
			.fc .fc-col-header th { background: none; border: 0; height: 7.64vw; font-size: 3.89vw; font-weight: 400; }
			.fc .fc-col-header th:first-child { color: #000; }

		/* Table - Day */
			.fc .fc-daygrid-day-number { left: 50%; translate: -50%; width: 8.47vw; font-size: 3.89vw; font-weight: 500; height: 8.47vw; color: #999; }

		/* Table - Radius */
			.fc .fc-scrollgrid { height: 116.33vw; }
			.fc .fc-scrollgrid-liquid { border: 0; border-radius: 4px; }
			.fc .fc-scrollgrid-liquid thead > tr > th { border: 0; }
			.fc .fc-scrollgrid-liquid tbody > tr > td { border: 0; }

		/* Table - Body */
			.fc .fc-daygrid-day { border: 0; }
			.fc .fc-daygrid-day-frame { height: 9.11vw; }

		/* Table - Event */
			.fc .fc-daygrid-day-events { margin-top: 11.03vw; font-size: 2.78vw; line-height: 2.78vw; }
			.fc .fc-daygrid-event-harness { padding: 1.5px 0; margin-top: 0 !important; }
			.fc .fc-event-title { font-size: 2.78vw; padding-left: 0.69vw; }

		/* Table - Event More */
			.fc .fc-daygrid-more-link { margin-top: 0.69vw; padding-bottom: 0.69vw; }

		/* Event Popup */
			.fc .fc-popover { width: 80.56vw; border-radius: 2.78vw; border: 1px solid #e2e2e2; left: 50% !important; top: 50% !important; translate: -50% -50%;}

		/* Event Popup - Header */
			.fc .fc-popover .fc-popover-header { font-size: 3.89vw; }
			.fc .fc-popover .fc-popover-close:before { width: 4.17vw; height: 4.17vw; }

		/* Event Popup - Event */
			.fc .fc-popover .fc-daygrid-event-dot { flex:0 0 1.11vw; border-radius: 50%; width: 2.22vw; height: 2.22vw; }
			.fc .fc-popover-body { margin-top: 2.78vw; }

	/* Graph */
		/* Horizontal */
			.grp-h-01-wrap { gap: 0; }
			.grp-h-01-wrap .part-label { min-width: 17.28vw; text-align: left; }

			[class*="grp-type-h-01"] {
				--grp-h: 3.33vw;
			}
			[class*="grp-type-h-01"] .part-num { right: -5vw; border-radius: 5.2vw; width: 10vw; height: 5.2vw; font-size: 2.78vw; translate: 0 1.39vw; }

		/* Pie */
			.grp-pie-01-wrap .part-label { margin-top: 2.08vw; font-size: 3.89vw; }

			[class*="grp-type-pie-01"] {
				--grp-w: 22.08vw;
				--grp-size: 2.5vw;
			}
			[class*="grp-type-pie-01"] .part-num { gap: 0.28vw; font-size: 5vw; width: 17vw; height: 17vw; }
			[class*="grp-type-pie-01"] .part-num span { font-size: 1.94vw; translate: 0 0.56vw; }

	/* Icon */
		.ic-calendar:before { width: 3.06vw; height: 3.33vw; }
		.ic-camera:before { width: 6.94vw; height: 6.94vw; }
		.ic-close:before { width: 4.17vw; height: 4.17vw; }
		.ic-eye:before { width: 4.44vw; height: 3.75vw; }
		.ic-file:before { width: 3.61vw; height: 3.61vw; }
		.ic-fire:before { width: 3.33vw; height: 3.89vw; }
		.ic-globe-02:before { width: 5.56vw; height: 5.56vw; }
		.ic-ribbon:before { width: 7.78vw; height: 8.19vw; }
		.ic-stack:before { width: 3.89vw; height: 3.47vw; }
		.ic-zoom:before { width: 3.75vw; height: 3.75vw; }

		/* Arrow */
			.ic-r-arrow:before { width: 1.25vw; height: 1.94vw; }

		/* Only Mobile */
			.ic-m-hamburger:before { --bp-pos-x: var(--bp-100); --bp-pos-y: var(--bp-950); width: 5.56vw; height: 4.86vw; }
			.ic-m-home:before { --bp-pos-x: var(--bp-150); --bp-pos-y: var(--bp-950); width: 5vw; height: 5.14vw; }

			.ic-m-l-arrow:before { --bp-pos-x: var(--bp-50); --bp-pos-y: var(--bp-950); width: 3.06vw; height: 5.28vw; }
			.ic-m-r-arrow:before { background-position: 0 var(--bp-950); width: 1.39vw; height: 2.22vw; }

	/* List */
		.lst-type-01 { gap: 2.22vw; }
		.lst-type-01 > * { border-radius: 2.78vw; gap: 1.39vw; height: 22.64vw; font-size: 3.33vw; }
		.lst-type-01 strong { font-size: 5.56vw; }

	/* Marker */
		/* Arrow */
			.mark-arrow-01 {
				--mark-w: 1.67vw;
				--mark-h: 1.67vw;
				--mark-gap-x: 1.11vw;
			}

		/* Circle */
			.mark-cir-01 {
				--mark-gap-x: 2.08vw;
				--mark-item-gap-x: 1.11vw;
			}

		/* Horizontal Bar */
			[class*="mark-h-bar-01"] {
				--mark-gap-a: 5vw;
			}

		/* Vertical Bar */
			[class*="mark-v-bar-01"] {
				--mark-gap-a: 1.3vw;
				--mark-h: 1.94vw;
			}

	/* Popup */
		[class*="pop-type-alert"] {
			--pop-w: 100dvw;
			--pop-bd-r: 0;

			--pop-head-ft-s: 4.17vw;
			--pop-head-h: 13.89vw;
			--pop-head-pd-l: 5.56vw;

			--pop-cont-pd-x: 5vw;

			--pop-foot-h: 23.06vw;
			--pop-foot-pd-x: 5.56vw;

			--pop-close-w: 4.17vw;
			--pop-close-h: 4.17vw;
		}

		[class*="pop-type-alert"] .part-foot [class*="btn-type"] {
			--btn-w: 100%;
			--btn-h: 12.5vw;
			--btn-ft-s: 3.33vw;
			--btn-min-w: auto;
		}

		.pop-type-alert-01 {
			--pop-h: 100dvh;
		}

	/* Swiper */
		.swiper-type-01 .swiper-pagination-01 { right: 5vw; }

		.swiper-pagination-01 { gap: 1.11vw; }
		.swiper-pagination-01 > * { border-radius: 1.67vw; width: 1.67vw; height: 1.67vw; }
		.swiper-pagination-01 .swiper-pagination-bullet-active { width: 5.28vw; }

	/* Tab */
		.tab-menu-01 {
			--tab-menu-gap-x: 5.56vw;

			--tab-btn-h: auto;
			--tab-btn-pd-x: 0;
			--tab-btn-ft-s: 3.89vw;

			padding-inline: 5vw;
		}

		.tab-menu-01 > * > * { padding: 3.33vw 0; }

	/* Thumbnail */
		[class*="thumb-type-01"] {
			--thumb-bd-r: 2.78vw;
			--thumb-pd-x: 3.61vw;
		}

		.thumb-type-01-02 {
			--thumb-pd-x: 2.78vw;
			--thumb-pd-y: 2.78vw;
		}

	/* Table */
		[class*="tbl-type-01"] { margin-top: 5.56vw; font-size: 3.89vw; }
		[class*="tbl-type-01"] thead th { padding: 3.89vw 0; height: auto; }
		[class*="tbl-type-01"] tbody th { padding:2.92vw 2.78vw; font-size:3.89vw; }
		[class*="tbl-type-01"] tbody td { padding: 3.89vw 0; }

		.tbl-type-01-01 { display: block; border: 0; }
		.tbl-type-01-01 tbody, .tbl-type-01-01 tr { display: grid; width: 100%; }
		.tbl-type-01-01 tbody { gap: 6.94vw; }
		.tbl-type-01-01 tr { gap: 2.08vw; }
		.tbl-type-01-01 tbody th { font-weight: 700; text-align: left; }
		.tbl-type-01-01 tbody th, .tbl-type-01-01 tbody td { border: 0; padding: 0; }
		
		.tbl-type-02 { border-spacing: 0 2.78vw; }

	/* Title */
		.tit-01 { font-size: 5vw; }
		.tit-02 { font-size: 4.44vw; }
		.tit-03 { font-size: 4.44vw; }

	/* Page */
		/* 수강신청 */
			.reg-cour-dtl-btn.active + .reg-cour-dtl-form { display: grid; }

		/* 로그인 */
			.login-wrap { grid-template-columns: repeat(1, 1fr); background-image :url("/bluebell/images/img/m_login_bnr.png"); background-size: 100% 100%; width: 100dvw; height: 100dvh; }
			.login-wrap .login-tit { font-size: 7.22vw; }

		/* 학습방 */
			.studyroom-stat { border-top: 0; margin: 8.33vw 0 0; }
			.studyroom-stat .part-cont { flex-direction: column; gap: 2.78vw; padding: 0 2.08vw; }
			.studyroom-stat .part-cont-in { flex-direction: column; gap: 2.78vw; font-size: 3.33vw; text-align: center; }
			.studyroom-stat .part-cont-in span { font-size: 5.56vw; }
}
