@media print {
	* {-webkit-print-color-adjust:exact; print-color-adjust:exact;}

	html, body { height: fit-content; padding: 0; }
	.h-wrap, .f-wrap, .no-print, .sub-contents { display: none; }
	#paymentinfo { position: static; height: auto; }
	[class*="pop-type"] .part-wrap { position: static; border-radius: 0; box-shadow: none; width: 100dvw; height: auto; translate: 0 0; max-height: none; }

	[class*="pop-type"] .part-close { display: none !important; }

	:root {
		--init-pc-w: 100%;
	}
}

@page {
    size: A4;
    margin:0;
	padding:0;
}
