@media print {
	* {-webkit-print-color-adjust:exact; print-color-adjust:exact; box-sizing: border-box; }

	html, body { max-width: none; height: fit-content; padding: 0; }
	body { width: 100%; max-width: 100%; zoom: 67%; transform: scale(1); padding: 30px; }
	.h-wrap, .f-wrap, .no-print { display: none; }
    [class*="pop-type"] { display: none; }
	.no-print { display: none !important; }

	:root {
		--init-pc-w: 100%;
	}
}

@page {
    size: A4 portrait;
    margin:0;
	padding:0;
}
