:root {
	/* Initialize */
		--init-background-color: white; /* 배경색 */
		--init-font-color: #666; /* 글자색 */
		--init-font-family: Poppins, Nanum Gothic; /* 글자체 */
		--init-font-size: 16px; /* 글자 크기 */
		--init-footer-height: 127px; /* 푸터 높이 */
		--init-header-height: 143px; /* 헤더 높이 */
		--init-line-height: 1.5; /* 행간 */
		--init-letter-spacing: -0.02em; /* 자간 */
		--init-layout-width: 1200px; /* 페이지 넓이 */
		--init-mobile-design-width: 720; /* 모바일 디자인 넓이 */
		--init-layout-padding: 0; /* 레이아웃 안쪽 좌우 여백 */

	/* Background */
		--bg-img: url('/bluebell/images/bg.png'); /* 배경 이미지 경로 */
		--ic-c: url('/bluebell/images/common_icon.png'); /* 공통 아이콘 이미지 경로 */
		--ic: url('/bluebell/images/icon.png'); /* 아이콘 이미지 경로 */
		--bg-sz: 1000px; /* 이미지 스프라이트 크기 */
		--bp-50: -50px; /* 50 */
		--bp-100: -100px; /* 100 */
		--bp-150: -150px; /* 150 */
		--bp-200: -200px; /* 200 */
		--bp-250: -250px; /* 250 */
		--bp-300: -300px; /* 300 */
		--bp-350: -350px; /* 350 */
		--bp-400: -400px; /* 400 */
		--bp-450: -450px; /* 450 */
		--bp-500: -500px; /* 500 */
		--bp-550: -550px; /* 550 */
		--bp-600: -600px; /* 600 */
		--bp-650: -650px; /* 650 */
		--bp-700: -700px; /* 700 */
		--bp-750: -750px; /* 750 */
		--bp-800: -800px; /* 800 */
		--bp-850: -850px; /* 850 */
		--bp-900: -900px; /* 900 */
		--bp-950: -950px; /* 950 */

		--bp-rating: 0;
		--bp-selection: var(--bp-50);
		--bp-input: var(--bp-100);
		--bp-calendar: var(--bp-150);
		--bp-select: var(--bp-200);
		--bp-popup: var(--bp-250);
		--bp-accordion: var(--bp-300);
		--bp-floating: var(--bp-350);
		--bp-datepicker: var(--bp-400);
		--bp-swiper: var(--bp-450);
		--bp-tree: var(--bp-500);
		--bp-paging: var(--bp-550);
		--bp-tooltip: var(--bp-600);

		--bg-type01: #003349;
		--bg-type03:rgba(0, 0, 0, 0.5);

	/* Color */
		--mc: #6898ad; /* 메인 컬러 */
		--moc: #57899f; /* 메인 오버 컬러 */
		--mlc: #fff6f8; /* 메인 밝은 컬러 */
		--mdc: #222222; /* 메인 어두운 컬러 */
		--mic: #f65555; /* 강조 컬러 */

		--st-red: #f94144; /* 상태 컬러 Red */
		--st-org: #f3722c; /* 상태 컬러 Orange */
		--st-ylw: #f9c74f; /* 상태 컬러 Yellow */
		--st-grn: #90be6d; /* 상태 컬러 Green */
		--st-sky: #57bed6; /* 상태 컬러 SkyBlue */
		--st-blu: #6670c9; /* 상태 컬러 Blue */
		--st-pur: #9c71d4; /* 상태 컬러 Purple */

		--dis-bg: #a0b5be; /* Disabled 배경 */
		--dis-bdr: #ececec; /* Disabled 테두리 색상 */
		--dis-c: #fff7f8; /* Disabled 테두리 색상 */

		--valid-bg: white; /* 폼 밸리데이션 성공 배경 */
		--valid-bdr: #1b680c; /* 폼 밸리데이션 성공 테두리 */
		--invalid-bg: white; /* 폼 밸리데이션 실패 배경 */
		--invalid-bdr: #ff0048; /* 폼 밸리데이션 실패 테두리 */

	/* Form */
		--fom-h: 48px; /* 높이 */
		--fom-br: 9px; /* 보더 라디우스 */
		--fom-pad: var(--init-font-size); /* 좌우 패딩 */
		--fom-fs: var(--init-font-size); /* 폰트 크기 */
		--fom-bg: white; /* 배경 */
		--fom-bdr-c: #e2e2e2; /* 테두리 색상 */
		--fom-fcs-brd-c: var(--moc); /* 포커스 시 테두리 색상 */
		--fom-fcs-bg-c: var(--moc); /* 포커스 시 테두리 색상 */
		--fom-fcs-ft-c: white; /* 포커스 시 테두리 색상 */
		--fom-fc: #222222; /* 폰트 컬러 */
		--fom-ph: #999; /* Placeholder 컬러 */
		--fom-rg-h: 4px; /* Range Type 막대 크기 */
		--fom-rg-thb-sz: 16px; /* Range Type 슬라이더 크기 */
		--fom-dropitem: 5.5; /* 드롭다운 아이템 노출 개수 */
		--fom-lh: calc(var(--fom-h) - 2px); /* 폼 행간 */
		--fom-ta-h: 120px; /* 텍스트 에어리어 높이 */

	/* Popup */
		--pop-w: 720px; /* 팝업 기본 넓이 */
		--pop-pad: 20px; /* 팝업 좌우 여백 */
		--pop-max-h: 95dvh; /* 팝업 최대 높이 */
		--pop-br: 10px; /* 팝업 보더 라디우스 */
		--pop-hh: 48px; /* 팝업 헤더 높이 */
		--pop-fh: 136px; /* 팝업 푸터 높이 */
		--pop-cont-top-pad: 20px; /* 팝업 내용 위쪽 여백 */
		--pop-cont-bot-pad: 20px; /* 팝업 내용 아래쪽 여백 */

	/* Scroll */
		--scr-w: 4px; /* 넓이 */
		--scr-br: 4px; /* 보더 라디우스 */
		--scr-bg1: var(--mlc); /* 배경색 */
		--scr-bg2: var(--mc); /* 색상 */

	/* Transition */
		--trans-dft: .3s ease; /* 기본 트랜지션 */
}

@media all and (max-width:768px) {
	:root {
		/* Initialize */
			--init-font-size: 3.33dvw; /* 글자 크기 */
			--init-footer-height: 51.39dvw; /* 푸터 높이 */
			--init-header-height: 15.56dvw; /* 헤더 높이 */
			--init-layout-width: 100%; /* 페이지 넓이 */
			--init-layout-padding: 5dvw; /* 레이아웃 안쪽 좌우 여백 */

		/* Background */
			--bg-img: url('/bluebell/images/m_bg.png'); /* 배경 이미지 경로 */
			--ic-c: url('/bluebell/images/m_common_icon.png'); /* 공통 아이콘 이미지 경로 */
			--ic: url('/bluebell/images/m_icon.png'); /* 아이콘 이미지 경로 */
			--bg-sz: 138.88vw; /* 이미지 스프라이트 크기 */
			--bp-50: -6.94vw; /* 50 */
			--bp-100: -13.89vw; /* 100 */
			--bp-150: -20.83vw; /* 150 */
			--bp-200: -27.78vw; /* 200 */
			--bp-250: -34.72vw; /* 250 */
			--bp-300: -41.67vw; /* 300 */
			--bp-350: -48.61vw; /* 350 */
			--bp-400: -55.56vw; /* 400 */
			--bp-450: -62.50vw; /* 450 */
			--bp-500: -69.44vw; /* 500 */
			--bp-550: -76.39vw; /* 550 */
			--bp-600: -83.33vw; /* 600 */
			--bp-650: -90.28vw; /* 650 */
			--bp-700: -97.22vw; /* 700 */
			--bp-750: -104.17vw; /* 750 */
			--bp-800: -111.11vw; /* 800 */
			--bp-850: -118.06vw; /* 850 */
			--bp-900: -125.00vw; /* 900 */
			--bp-950: -131.94vw; /* 950 */

		/* Form */
			--fom-h: 12.5vw; /* 높이 */
			--fom-br: 2.22vw; /* 보더 라디우스 */
			--fom-fs: 4.17vw; /* 폰트 크기 */
			--fom-pad: 4.17vw; /* 좌우 패딩 */
			--fom-chk-ico-w: 3.06vw; /* 체크박스 아이콘 넓이 */
			--fom-chk-ico-h: 2.36vw; /* 체크박스 아이콘 높이 */
			--fom-rg-h: 0.56vw; /* Range Type 막대 크기 */
			--fom-rg-thb-sz: 2.22vw; /* Range Type 슬라이더 크기 */
			--fom-ta-h: 16.67vw; /* 텍스트 에어리어 높이 */

		/* Popup */
			--pop-w: 100dvw; /* 팝업 기본 넓이 */
			--pop-pad: 2vw; /* 팝업 좌우 여백 */
			--pop-max-h: 100dvh; /* 팝업 최대 높이 */
			--pop-br: 0; /* 팝업 보더 라디우스 */
			--pop-hh: 10.41vw; /* 팝업 헤더 높이 */
			--pop-fh: 30.20vw; /* 팝업 푸터 높이 */
			--pop-cont-top-pad: 4.17vw; /* 팝업 내용 위쪽 여백 */
			--pop-cont-bot-pad: 4.17vw; /* 팝업 내용 아래쪽 여백 */
	}
}
