/* Color */
	/* Background */
		.bg-red {background:var(--st-red);}
		.bg-org {background:var(--st-org);}
		.bg-ylw {background:var(--st-ylw);}
		.bg-grn {background:var(--st-grn);}
		.bg-sky {background:var(--st-sky);}
		.bg-blu {background:var(--st-blu);}
		.bg-pur {background:var(--st-pur);}

		.bg-mc {background:var(--mc);}
		.bg-moc {background:var(--moc);}
		.bg-mlc {background:var(--mlc);}

		.bg-wht {background:white;}

	/* Border */
		.bd-red {border-color:var(--st-red);}
		.bd-org {border-color:var(--st-org);}
		.bd-ylw {border-color:var(--st-ylw);}
		.bd-grn {border-color:var(--st-grn);}
		.bd-sky {border-color:var(--st-sky);}
		.bd-blu {border-color:var(--st-blu);}
		.bd-pur {border-color:var(--st-pur);}

		.bd-mc {border-color:var(--mc);}
		.bd-moc {border-color:var(--moc);}
		.bd-mlc {border-color:var(--mlc);}

	/* Font Color */
		.cr-red {color:var(--st-red);}
		.cr-org {color:var(--st-org);}
		.cr-ylw {color:var(--st-ylw);}
		.cr-grn {color:var(--st-grn);}
		.cr-sky {color:var(--st-sky);}
		.cr-blu {color:var(--st-blu);}
		.cr-pur {color:var(--st-pur);}

		.cr-mc {color:var(--mc);}
		.cr-moc {color:var(--moc);}
		.cr-mlc {color:var(--mlc);}

		.cr-wht {color:white;}

/* Ellipsis */
	[class*="elps-"] {overflow:hidden; text-overflow:ellipsis; display:-webkit-box; -webkit-box-orient:vertical; -webkit-line-clamp:1;}

/* Flex Layout */
	.flex-tl {place-content:start start;}
	.flex-t {place-content:start center;}
	.flex-tr {place-content:start end;}
	.flex-r {place-content:center end;}
	.flex-rb {place-content:end end;}
	.flex-b {place-content:end center;}
	.flex-bl {place-content:end start;}
	.flex-l {place-content:center start;}
	.flex-c {place-content:center center;}

	.flex-center {align-items:center;}
	.flex-start {align-items:flex-start;}
	.flex-end {align-items:flex-end;}
	.flex-stretch {align-items:stretch;}
	.flex-baseline {align-items:baseline;}
	.flex-between {justify-content:space-between;}
	.flex-around {justify-content:space-around;}
	.flex-evenly {justify-content:space-evenly;}
	.flex-j-center {justify-content:center;}
	.flex-j-start {justify-content:flex-start;}
	.flex-j-end {justify-content:flex-end;}

	.align-center {align-items:center;}
	.align-start {align-items:flex-start;}
	.align-end {align-items:flex-end;}
	.align-stretch {align-items:stretch;}
	.align-baseline {align-items:baseline;}

	.justify-between {justify-content:space-between;}
	.justify-around {justify-content:space-around;}
	.justify-evenly {justify-content:space-evenly;}
	.justify-center {justify-content:center;}
	.justify-start {justify-content:flex-start;}
	.justify-end {justify-content:flex-end;}

	.flex-row {flex-direction:row;}
	.flex-col {flex-direction:column;}
	.flex-row-r {flex-direction:row-reverse;}
	.flex-col-r {flex-direction:column-reverse;}

	.flex-1 {flex:1;}
	.flex-wrap {flex-wrap:wrap;}

/* Text Align */
	.txt-l {text-align:left;}
	.txt-c {text-align:center;}
	.txt-r {text-align:right;}
	.txt-j {text-align:justify;}
	.txt-s {text-align:start;}
	.txt-e {text-align:end;}

/* Width */
	.w100 {width:100%;}

ig-boxholder {display:block;}